[2018-08-28 05:22] mmcky opened #4 "Support for nested lists is incomplete in Jupinx"
It looks like support for nested lists is incomplete in ``sphinxcontrib-jupyter``

![image](https://user-images.githubusercontent.com/8263752/44702308-2711c780-aad6-11e8-9c64-48d4ccb1b0c4.png)

this example is from ``py/getting_started.rst``

[2018-08-28 06:01] mmcky commented on #4
this appears to be an issue with the source RST file as ``sphinxcontrib-jupyter`` does support nested lists. https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/75. It looks like there are two many spaces where 4 spaces should be 2 spaces in the source RST

[2018-08-28 06:10] mmcky opened #5 "QuantEcon html theme support is incomplete"
- [ ] the execution testing badges aren't being rendered
- [x] jupyter download box is not being rendered
- [x] the `How to read this lecture` collapse cell is missing

![image](https://user-images.githubusercontent.com/8263752/44703874-a2767780-aadc-11e8-9adb-4b8400817524.png)

- [x] ``sphinxcontrib-jupyter`` includes `Contents` title and duplicate title of the lecture (see issue #45)

![image](h

[2018-08-28 06:20] fkazemian opened #6 "center-alignment for figures dismissed in Jupinx"
![1](https://user-images.githubusercontent.com/20714542/44704289-1cf3c700-aade-11e8-8f00-b692a8831134.png)

![2](https://user-images.githubusercontent.com/20714542/44704382-63e1bc80-aade-11e8-93cb-95800577f626.png)

[2018-08-28 06:32] fkazemian opened #7 "some matplotlib figures not showing up"
![4](https://user-images.githubusercontent.com/20714542/44704788-00f12500-aae0-11e8-9a58-bb735b77623e.png)

[2018-08-28 06:37] fkazemian opened #8 "It seems Jupinx has problem with some math blocks - inside tables"
![5](https://user-images.githubusercontent.com/20714542/44704961-8bd21f80-aae0-11e8-9090-ac57cc9c5270.png)

[2018-08-28 06:41] fkazemian commented on #8
It seems it has problem with {bmatrix}
![6](https://user-images.githubusercontent.com/20714542/44705192-4104d780-aae1-11e8-895c-29713195fee0.png)

[2018-08-28 06:47] fkazemian opened #9 "fix python warnings in generated notebooks"
![7](https://user-images.githubusercontent.com/20714542/44705480-16ffe500-aae2-11e8-9947-b83ac831745c.png)

[2018-08-29 07:13] fkazemian opened #10 "Support for ".. only:: latex" blocks are incomplete in Jupinx"
It seems for ".. only:: latex" blocks, Jupinx has some problem and it wouldn't able to generate them correctly
![1](https://user-images.githubusercontent.com/20714542/44771608-d28e4b00-abae-11e8-884a-b1e649b220b0.png)
.

[2018-08-29 07:15] fkazemian commented on #7
![ai](https://user-images.githubusercontent.com/20714542/44771672-05d0da00-abaf-11e8-9b06-fd21ddd0fe7b.png)
aiyagari.html

[2018-08-29 07:20] fkazemian opened #11 "Jupinx has problem with Inserting code"
For switching to code mode we are using double `'` ( ' ' ) which Jupinx can't support them like :

``R`` needs to be a matrix where ``R[s, a]`` is the reward at state ``s`` under action ``a``

![screenshot from 2018-08-29 17-03-59](https://user-images.githubusercontent.com/20714542/44771952-e2f2f580-abaf-11e8-88cf-863296be08d6.png)

[2018-08-30 05:11] mmcky commented on #6
thanks @fkazemian it looks like JupyterLab and Jupyter Notebook rendering differ on this. The same images test notebook are rendering differently.

[2018-08-30 05:12] mmcky commented on #6
for each of these reports can you please add the lecture name to the description to help me locate the cases. Thanks.

[2018-08-30 06:29] mmcky commented on #8
thanks @fkazemian `bmatrix` is working in some cases and not in others.
Can you please update these with references to which lecture the screenshots came from? Thanks.

[2018-08-30 06:29] mmcky commented on #8
mathjax itself supports `bmatrix` so I suspect some of this is incorrect source in the RST

[2018-08-30 06:30] mmcky commented on #9
thanks @fkazemian this is due to the generated notebook having been executed. It looks like this lecture needs to be updated to remove the warning. @natashawatkins can you look into this issue? @fkazemian can you please add lecture reference.

[2018-08-30 06:31] mmcky commented on #10
thanks @fkazemian. they should be completely ignored by ``jupinx`` so I will look into this.

[2018-08-30 06:38] natashawatkins commented on #7
Yes.

This is a bug with either matplotlib or the jupyter notebook - if you re-run the cell, the image will show up. For some reason it seems that matplotlib needs to be initialised once before it displays images inline.

[2018-08-30 06:39] natashawatkins commented on #7
I would recommend closing this issue - I don't think there's anything we can do to fix it - I've seen it only others' computers in workshops as well.

[2018-08-30 06:51] natashawatkins commented on #7
Ah I see this is in the generated notebook... um yes ok this seems to be a recent bug with Jupyter notebooks.

Here is a discussion of the issue: https://github.com/ioam/holoviews/issues/68

Can we change the settings for matplotlib?

[2018-08-30 06:55] natashawatkins commented on #9
@mmcky should we be hiding warnings? There are quite a lot of warnings that show up in notebooks that we have generally ignored ie. divide by 0 warnings, invalid log inputs (when applying an operation over an array)

[2018-08-31 02:07] mmcky commented on #7
@natashawatkins any changes are just required to be in a code-block for it to be contained in the notebook.

[2018-08-31 04:03] natashawatkins commented on #7
No I was wondering whether it would be possible to edit the config file for matplotlib as suggested in the thread. The location should be `~/.matplotlibrc`. They suggest changing the default backend could fix the issue.

[2018-09-03 01:12] fkazemian commented on #4
![1](https://user-images.githubusercontent.com/20714542/44962967-ff08e500-af69-11e8-81c4-523be1b0469b.png)

amss.html have the same problem. The numbers of items also are failed.

[2018-09-03 01:38] fkazemian opened #12 "'math' blocks has overlap with contex or there is no space between them (Jupinx)"
![1](https://user-images.githubusercontent.com/20714542/44963432-c8cd6480-af6d-11e8-9fe3-879bb5d70539.png)
![2](https://user-images.githubusercontent.com/20714542/44963434-c9fe9180-af6d-11e8-8f14-414ce7945a01.png)
![3](https://user-images.githubusercontent.com/20714542/44963437-cb2fbe80-af6d-11e8-8ff0-c012f497193d.png)
(amss.html)
It seems most of the lectures have this problem.

[2018-09-03 01:44] fkazemian opened #13 "Support for 'note' blocks is incomplete in Jupinx"
![1](https://user-images.githubusercontent.com/20714542/44963550-b273d880-af6e-11e8-8bf9-be94e399e224.png)

amss.html

[2018-09-03 01:48] fkazemian commented on #7
In amss.html, it seems codes that creat matplotlib figures, are not running.
![screenshot from 2018-09-03 11-08-01](https://user-images.githubusercontent.com/20714542/44963641-4ba2ef00-af6f-11e8-8c06-64a3d1ebdee6.png)

![screenshot from 2018-09-03 11-08-58](https://user-images.githubusercontent.com/20714542/44963644-4e054900-af6f-11e8-8c1e-1428e19bcf5e.png)

![screenshot from 2018-09-03 11-09-21](

[2018-09-03 03:26] fkazemian opened #14 "It seems Jupinx has problem with some basic syntax"
in this picture you can see `** bold **` is working everywhere expect `** par value **`
![screenshot from 2018-09-03 13-08-24](https://user-images.githubusercontent.com/20714542/44966172-f8d03400-af7c-11e8-8aa9-b13723db722c.png)

amss2.html

[2018-09-03 04:02] natashawatkins commented on #7
That's weird, maybe it's timing out...

We should definitely remove those print statements, on another note

[2018-09-03 04:04] fkazemian commented on #4
![1](https://user-images.githubusercontent.com/20714542/44967085-2f5c7d80-af82-11e8-9f82-0804a7d026e7.png)

![2](https://user-images.githubusercontent.com/20714542/44967089-33889b00-af82-11e8-86e4-ba0d0f7010b6.png)

![3](https://user-images.githubusercontent.com/20714542/44967092-36838b80-af82-11e8-8f26-3399a0ae3259.png)

![4](https://user-images.githubusercontent.com/20714542/44967097-3c796c80-af

[2018-09-03 04:06] fkazemian opened #15 "Jupinx has problem to compile some 'code-block:: python3' blocks"
![screenshot from 2018-09-03 13-56-13](https://user-images.githubusercontent.com/20714542/44967152-85312580-af82-11e8-8fab-07ab03c3c820.png)

![screenshot from 2018-09-03 13-56-29](https://user-images.githubusercontent.com/20714542/44967155-882c1600-af82-11e8-9e21-381b1d478861.png)

![screenshot from 2018-09-03 13-56-57](https://user-images.githubusercontent.com/20714542/44967157-8bbf9d00-af82-11e

[2018-09-03 04:13] fkazemian opened #16 "some figures not showing up with " .. figure:: ""
![screenshot from 2018-09-03 13-52-54](https://user-images.githubusercontent.com/20714542/44967291-81ea6980-af83-11e8-9e59-41ef237d28be.png)

amss3.html

[2018-09-03 05:25] mmcky commented on #14
here is the source. It looks like `jupinx` has mistaken ``In this special case`` to be a title and interrupted the list.

[code]

[2018-09-03 05:27] mmcky commented on #15
@fkazemian is the issue you're reporting here the lack of `output`? Can you be more specific regarding what is failing here. Thanks.

[2018-09-03 05:30] mmcky commented on #16
here is the source

[code]

I think the issue here is that the directive for some reason is two spaces into the document. It seems that the ``html`` renderer is more robust with malformed ``rst``. @fkazemian do you know how to compile jupyter notebooks with ``all`` text and code? Would you mind checking if this is malformed source code in the rst?

[2018-09-03 05:32] mmcky commented on #7
@fkazemian is this happening locally for you also?

When I built the ``html`` via ``IPYNB`` for the compare-lectures site -- it might have timed out the execution for this specific lecture. Can you confirm if the ``amss2`` lecture works locally?

[2018-09-03 06:18] mmcky commented on #13
I have added this as a feature request on the extension to allow for specific styling

https://github.com/QuantEcon/sphinxcontrib-jupyter/issues/80

@jstac do you mind if notes are just simple block quotes titled as a `Note`?

[2018-09-04 01:31] fkazemian commented on #16
Hi @mmcky , yes I fixed it in PR#17

[2018-09-04 01:47] fkazemian commented on #8
![1](https://user-images.githubusercontent.com/20714542/45005674-20d09d80-b038-11e8-8cca-31948971a39b.png)

(arellano)- The code is

[code]

[2018-09-04 01:51] fkazemian commented on #11
![1](https://user-images.githubusercontent.com/20714542/45005812-d7cd1900-b038-11e8-8396-f5a6c7a4d223.png)
(arellano) - the code is
`3.  Update the value function `v(B, y)`, the default rule,  the implied ex ante default probability,  and the price function`

[2018-09-04 02:06] fkazemian commented on #4
(arellano) :
![1](https://user-images.githubusercontent.com/20714542/45006162-e0265380-b03a-11e8-98c4-f6c8a0b036b1.png)

![2](https://user-images.githubusercontent.com/20714542/45006163-e3214400-b03a-11e8-8a12-6d4ccdde018c.png)

![3](https://user-images.githubusercontent.com/20714542/45006167-e4eb0780-b03a-11e8-86b6-b353a4c2d7fd.png)

[2018-09-04 02:25] fkazemian opened #19 "Support for '.. only:: html' blocks is incomplete in Jupinx"
![screenshot from 2018-09-04 12-23-03](https://user-images.githubusercontent.com/20714542/45006635-59bf4100-b03d-11e8-8393-3b864edaa2bd.png)

 '.. only:: html' is used in
[code]

I checked randomly and realised Jupinx is not able to support '.. only:: html' blocks

[2018-09-04 06:33] fkazemian commented on #7
arma:

![screenshot from 2018-09-04 12-41-04](https://user-images.githubusercontent.com/20714542/45013906-1aeeb280-b060-11e8-98dc-005601149f4e.png)

![screenshot from 2018-09-04 13-25-33](https://user-images.githubusercontent.com/20714542/45013910-1d510c80-b060-11e8-992d-912133c7c4be.png)

Hi @mmcky I don't have this problem when I'm running it locally:
![screenshot from 2018-09-04 16-30-27](https

[2018-09-04 06:42] fkazemian commented on #4
(calvo)

![screenshot from 2018-09-04 16-35-26](https://user-images.githubusercontent.com/20714542/45014317-74a3ac80-b061-11e8-9229-ef83d32c9fbb.png)

[2018-09-04 06:42] mmcky commented on #19
this should be fixed by: https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/85

[2018-09-04 06:46] mmcky commented on #19
- [ ] test this will latest version of sphinxcontrib-jupyter once PR is merged.

[2018-09-04 06:57] fkazemian commented on #8
(calvo)
![screenshot from 2018-09-04 16-36-10](https://user-images.githubusercontent.com/20714542/45014787-0e1f8e00-b063-11e8-8942-be136b93a813.png)

code
[code]
![screenshot from 2018-09-04 16-37-11](https://user-images.githubusercontent.com/20714542/45014861-3effc300-b063-11e8-897d-7322ec99debb.png)

code
`.. math::  - \frac{\alpha}{1+\alpha} a_1 - a_2(-\frac{\alpha^2}{1+\alpha} \bar \mu - \frac

[2018-09-05 00:46] fkazemian commented on #7
(career)

![screenshot from 2018-09-05 10-37-18](https://user-images.githubusercontent.com/20714542/45064769-f1359a00-b0f8-11e8-9d56-ff529a75f312.png)

but it works fine locally
![screenshot from 2018-09-05 10-42-22](https://user-images.githubusercontent.com/20714542/45064776-f98dd500-b0f8-11e8-8ad7-52f9eaa0fa61.png)

[2018-09-05 00:48] fkazemian commented on #4
(career)
![screenshot from 2018-09-05 10-36-43](https://user-images.githubusercontent.com/20714542/45064810-335edb80-b0f9-11e8-9aa0-f60291af469a.png)

![screenshot from 2018-09-05 10-37-41](https://user-images.githubusercontent.com/20714542/45064812-35c13580-b0f9-11e8-92e1-7cc040f7f4a6.png)

[2018-09-05 00:52] fkazemian opened #20 "scale of figures"
Figures with the scale of 100% is too big and  it seems a little bit unusual, shall we change the size?

(for example: career)
![screenshot from 2018-09-05 10-38-15](https://user-images.githubusercontent.com/20714542/45064882-a2d4cb00-b0f9-11e8-9d72-9917f489af13.png)

[2018-09-05 01:02] fkazemian commented on #16
Hi @mmcky, At first I checked it locally and then fixed the source.

[2018-09-05 01:05] fkazemian commented on #15
Hi @mmcky , I mean in some lectures we can see the lack of `output`. For example in (chang_credible) we don't have output for some code blocks:
![screenshot from 2018-09-05 11-00-36](https://user-images.githubusercontent.com/20714542/45065266-85a0fc00-b0fb-11e8-9cd3-d9b3bb67ef1c.png)

[2018-09-05 01:12] mmcky commented on #15
thanks @fkazemian I suspect that is due to a timeout on the execution script if this isn't widespread - it seems to be contained to a couple of lectures?

[2018-09-05 01:13] mmcky commented on #20
thanks @fkazemian - I agree. Can you post the source from career.rst.

[2018-09-05 01:20] fkazemian commented on #4
(chang_credible)
![screenshot from 2018-09-05 10-53-53](https://user-images.githubusercontent.com/20714542/45065640-b124e600-b0fd-11e8-813e-616d95c16ae3.png)

[2018-09-05 01:34] mmcky commented on #15
I will extend the timeout and on the next compilation run we can check the results

- [ ] check these when reload the comparison instance

[2018-09-05 01:36] mmcky commented on #10
support for ``only`` has now been implemented in ``jupinx``

[2018-09-05 01:38] fkazemian commented on #20
Hi @mmcky
[code]

[2018-09-05 01:52] fkazemian commented on #8
(chang_credible)

![screenshot from 2018-09-05 10-55-10](https://user-images.githubusercontent.com/20714542/45066437-cef44a00-b101-11e8-9db8-f9004ce681c4.png)
[code]
![screenshot from 2018-09-05 10-55-30](https://user-images.githubusercontent.com/20714542/45066478-f814da80-b101-11e8-9a40-7e44a514dd19.png)

[code]

![screenshot from 2018-09-05 10-56-35](https://user-images.githubusercontent.com/207

[2018-09-05 02:05] fkazemian opened #21 "Support for ordered lists with unicode symbols is incomplete in Jupinx"
(chang_credible)

![screenshot from 2018-09-05 10-57-33](https://user-images.githubusercontent.com/20714542/45066727-09aab200-b103-11e8-896e-1ec72cfb81c3.png)

[code]

![screenshot from 2018-09-05 10-57-33 copy](https://user-images.githubusercontent.com/20714542/45066732-0d3e3900-b103-11e8-8421-a51de8b5bfaf.png)

[code]

![screenshot from 2018-09-05 10-58-09](https://user-images.githubusercontent.

[2018-09-05 02:29] fkazemian commented on #15
Hi @mmcky ,
yes it seems to be in several lectures,
(chang_ramsey)
![screenshot from 2018-09-05 12-17-59](https://user-images.githubusercontent.com/20714542/45067585-3cef4000-b107-11e8-9fb8-0091a6263fde.png)

![screenshot from 2018-09-05 12-18-42](https://user-images.githubusercontent.com/20714542/45067588-3eb90380-b107-11e8-9295-3de7c6b14b71.png)

![screenshot from 2018-09-05 12-19-21](https://us

[2018-09-05 02:30] fkazemian commented on #21
(chang_ramsey)

![screenshot from 2018-09-05 12-16-24](https://user-images.githubusercontent.com/20714542/45067657-6f00a200-b107-11e8-9394-8684d08247c8.png)

[code]

[2018-09-05 02:39] fkazemian commented on #8
(chang_ramsey)
![screenshot from 2018-09-05 12-10-11](https://user-images.githubusercontent.com/20714542/45067922-842a0080-b108-11e8-8fb3-fa8995a58a42.png)

[code]

[code]

![screenshot from 2018-09-05 12-09-11](https://user-images.githubusercontent.com/20714542/45067924-84c29700-b108-11e8-8f47-c4ca48bc29ac.png)
[code]

[2018-09-05 03:45] mmcky commented on #11
this should be fixed by https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/86

[2018-09-05 04:11] fkazemian commented on #8
(classical_filtering)
![screenshot from 2018-09-05 13-57-31](https://user-images.githubusercontent.com/20714542/45070625-88104f80-b115-11e8-91de-2a77443fdf6f.png)

[code]

[2018-09-05 04:29] fkazemian opened #23 "Support for comment with '..' is incomplete in Jupinx"
I think Jupinx is not able to support comment with `..` .

As you can see in classical_filtering
![screenshot from 2018-09-05 13-56-19](https://user-images.githubusercontent.com/20714542/45071016-9a8b8880-b117-11e8-9f4c-bc6d8a05cab4.png)

 and in  arellano
![1](https://user-images.githubusercontent.com/20714542/45071065-d0c90800-b117-11e8-92e3-d753782c5a7a.png)

I think the text after `..` is a co

[2018-09-05 04:53] fkazemian commented on #20
![screenshot from 2018-09-05 14-36-06](https://user-images.githubusercontent.com/20714542/45071787-513d3800-b11b-11e8-9257-ef713abe5743.png)
(coleman_policy_iter)
code:
[code]

[code]

[2018-09-05 05:04] fkazemian commented on #7
(debugging)
![screenshot from 2018-09-05 15-01-38](https://user-images.githubusercontent.com/20714542/45072147-fad0f900-b11c-11e8-8c8a-70a38cf3aab1.png)

but it works fine locally:

![screenshot from 2018-09-05 15-02-57](https://user-images.githubusercontent.com/20714542/45072151-058b8e00-b11d-11e8-8c73-441ed4a617dc.png)

[2018-09-05 05:15] fkazemian opened #24 "Support for '.. epigraph::' is incomplete in Jupinx"
`.. epigraph::` is used only in these lectures:

[code]

which seems Jupinx is not able to support this markdown very well.
debugging:
![screenshot from 2018-09-05 15-00-33](https://user-images.githubusercontent.com/20714542/45072409-23a5be00-b11e-11e8-9643-5dd5b57d2a98.png)

numpy:
![screenshot from 2018-09-05 15-06-43](https://user-images.githubusercontent.com/20714542/45072432-3c15d880-b11e-11e

[2018-09-05 05:26] fkazemian commented on #8
(discrete_dp)
![screenshot from 2018-09-05 15-18-09](https://user-images.githubusercontent.com/20714542/45072796-e04c4f00-b11f-11e8-976a-13df83ae38bd.png)

[code]

![screenshot from 2018-09-05 15-19-11](https://user-images.githubusercontent.com/20714542/45072831-05d95880-b120-11e8-8fe2-e9926f04ef1d.png)

[code]

[2018-09-05 05:28] fkazemian commented on #7
discrete_dp:
![screenshot from 2018-09-05 15-22-29](https://user-images.githubusercontent.com/20714542/45072914-4b962100-b120-11e8-84fe-d5ac18968d38.png)

[2018-09-05 05:30] fkazemian commented on #23
Thanks @mmcky , shall I close both PRs?

[2018-09-06 02:12] mmcky commented on #7
hey @fkazemian when I run arma locally -- the first time I get the text output and the second run I get the figure. That is a bit strange. Do you get the same?

[2018-09-06 04:09] fkazemian commented on #7
Hi @mmcky , no actually in the first time run I got the figure, and also I just checked arma locally again and I got the figure in my first run. I am using the computer in the lab ( Number1).

[2018-09-06 04:14] fkazemian commented on #23
Hi @mmcky I just checked this, It works fine. I change the label bug to fixed

[2018-09-06 04:26] mmcky commented on #23
great - thanks @fkazemian

[2018-09-06 04:26] #23 closed

[2018-09-06 04:31] fkazemian commented on #11
Hi @mmcky , It is not fixed, for example aiyagari:

![screenshot from 2018-09-06 14-29-28](https://user-images.githubusercontent.com/20714542/45135203-7f854b00-b1e1-11e8-9b70-85b022c1fb9a.png)
code:

* ``R`` needs to be a matrix where ``R[s, a]`` is the reward at state ``s`` under action ``a``

* ``Q`` needs to be a three dimensional array where ``Q[s, a, s']`` is the probability of transitioning

[2018-09-07 00:42] fkazemian opened #25 "Support for footnote is incomplete in Jupinx"
It seems footnotes are failed in Jupinx.
For example dyn_stack:
![screenshot from 2018-09-07 10-27-24](https://user-images.githubusercontent.com/20714542/45192259-a9df1300-b28a-11e8-84d9-dc2f8b83909f.png)
code:
`Define the government's one-period loss function [#f1]_`

![screenshot from 2018-09-07 10-31-47](https://user-images.githubusercontent.com/20714542/45192261-aba8d680-b28a-11e8-8c3e-7ef284c

[2018-09-07 00:48] fkazemian commented on #8
(dyn_stack)

![screenshot from 2018-09-07 10-29-49](https://user-images.githubusercontent.com/20714542/45192332-24a82e00-b28b-11e8-9c9d-53f8aa82d140.png)
[code]
![screenshot from 2018-09-07 10-29-21](https://user-images.githubusercontent.com/20714542/45192336-283bb500-b28b-11e8-934f-98ea45c3c940.png)
[code]
![screenshot from 2018-09-07 10-29-00](https://user-images.githubusercontent.com/20714542/4

[2018-09-07 00:50] fkazemian commented on #4
(dyn_stack)
![screenshot from 2018-09-07 10-31-17](https://user-images.githubusercontent.com/20714542/45192465-ca5b9d00-b28b-11e8-80db-cf5ed70bf408.png)

![screenshot from 2018-09-07 10-31-33](https://user-images.githubusercontent.com/20714542/45192466-ccbdf700-b28b-11e8-92fe-0a5538aabbbc.png)

![screenshot from 2018-09-07 10-30-54](https://user-images.githubusercontent.com/20714542/45192468-ce87b

[2018-09-07 01:06] fkazemian commented on #8
(estspec)
![screenshot from 2018-09-07 10-59-37](https://user-images.githubusercontent.com/20714542/45192791-dea09980-b28d-11e8-8d60-31c13944247c.png)
[code]

![screenshot from 2018-09-07 10-59-51](https://user-images.githubusercontent.com/20714542/45192794-e2ccb700-b28d-11e8-8b4a-e42586d1c3ae.png)
[code]

[2018-09-07 01:11] fkazemian commented on #7
(estspec)
![screenshot from 2018-09-07 11-00-56](https://user-images.githubusercontent.com/20714542/45192926-cb41fe00-b28e-11e8-9fc7-609943c75e93.png)

![screenshot from 2018-09-07 11-02-35](https://user-images.githubusercontent.com/20714542/45192928-ce3cee80-b28e-11e8-9b68-cfdfd3a60b10.png)

![screenshot from 2018-09-07 11-02-47](https://user-images.githubusercontent.com/20714542/45192930-d09f488

[2018-09-07 01:32] fkazemian commented on #20
finite_markov
![screenshot from 2018-09-07 11-19-03](https://user-images.githubusercontent.com/20714542/45193411-3096ee80-b291-11e8-9f7a-be9fd6eb066d.png)
[code]

![screenshot from 2018-09-07 11-17-25](https://user-images.githubusercontent.com/20714542/45193428-486e7280-b291-11e8-9339-7fac73b16d2f.png)
[code]
![screenshot from 2018-09-07 11-14-35](https://user-images.githubusercontent.com/20714542

[2018-09-07 01:37] fkazemian commented on #7
(finite_markov)
![screenshot from 2018-09-07 11-18-22](https://user-images.githubusercontent.com/20714542/45193631-5bce0d80-b292-11e8-9e92-8686d1fffd2e.png)

[2018-09-07 01:38] mmcky commented on #19
OK - thinking this through given jupyter notebooks essentially support the paradigms associated with `html` I will add a config to jupinx that allows jupinx to register ``.. only:: html`` elements during compilation.

[2018-09-07 01:44] fkazemian opened #26 "Support for '.. code-block:: none' is incomplete in Jupinx"
'.. code-block:: none' is used in these files:
[code]
I checked them randomly and realised it's incomplete in Jupinx, For example: finite_markov:
![screenshot from 2018-09-07 11-19-37](https://user-images.githubusercontent.com/20714542/45193793-4e655300-b293-11e8-88f2-f644f62fee82.png)
[code]

[2018-09-07 01:49] fkazemian opened #27 "(None) appearing in some situations within the text when using inter-file links"
In (finite_markov), the code is fine and there is no problem with tags, but I don't know why there is an extra word `(None)` in Generated version!
![screenshot from 2018-09-07 11-15-55](https://user-images.githubusercontent.com/20714542/45193925-00048400-b294-11e8-99d1-df837f1fb26c.png)

The code is:
[code]

------------------------------------------------------------------------------------------

[2018-09-07 01:58] fkazemian opened #28 "Various Errors and warnings for outputs (Code Issues, Missing Files, CellMagics)"
(finite_markov)

![screenshot from 2018-09-07 11-20-10](https://user-images.githubusercontent.com/20714542/45194121-03e4d600-b295-11e8-99e6-ab7ee4e82bfc.png)

also the address is:
`The data for this graph is in the ``web_graph_data.txt`` file --- you can also view it `here <https://github.com/QuantEcon/QuantEcon.lectures.code/blob/master/finite_markov/web_graph_data.txt>`__
`

which I checked and

[2018-09-07 02:28] fkazemian opened #29 "Support for .. code-block:: bash is incomplete in Jupinx"
`.. code-block:: bash `is only used in one file:
`./rst_files/getting_started.rst:    .. code-block:: bash`

![screenshot from 2018-09-07 12-24-23](https://user-images.githubusercontent.com/20714542/45195123-8c657580-b299-11e8-82ed-2bfcb017dbe0.png)

code:
[code]

[2018-09-07 02:31] fkazemian commented on #29
The link to QuantEcon.py is also failed here, I checked randomly and think this problem is just for this link.

[2018-09-07 02:47] fkazemian opened #30 "Support for creating tables with pipes, hyphens and... is not complete in HTML output"
![screenshot from 2018-09-07 12-34-56](https://user-images.githubusercontent.com/20714542/45195667-157dac00-b29c-11e8-801e-c10fb0084a83.png)

[code]
![screenshot from 2018-09-07 12-37-22](https://user-images.githubusercontent.com/20714542/45195669-16aed900-b29c-11e8-813d-17fc88a7645d.png)
[code]

[2018-09-07 03:09] mmcky commented on #13
Notes are now added but their contents are not being parsed with markup

![image](https://user-images.githubusercontent.com/8263752/45196376-3d224380-b29f-11e8-8ace-29c63d8eef81.png)

[2018-09-07 03:35] fkazemian commented on #8
(hist_dep_policies)
![screenshot from 2018-09-07 13-26-15](https://user-images.githubusercontent.com/20714542/45197016-790ad800-b2a2-11e8-8613-8710eb5600bb.png)
[code]
[code]
![screenshot from 2018-09-07 13-26-27](https://user-images.githubusercontent.com/20714542/45197059-9dff4b00-b2a2-11e8-8944-3d284fc774b8.png)
[code]
![screenshot from 2018-09-07 13-26-51](https://user-images.githubusercontent.

[2018-09-07 03:36] fkazemian commented on #7
(hist_dep_policies)
![screenshot from 2018-09-07 13-27-22](https://user-images.githubusercontent.com/20714542/45197120-f59db680-b2a2-11e8-9c3b-cf033a2bfaf1.png)

[2018-09-07 03:51] mmcky commented on #13
This should be fixed by PR https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/90

[2018-09-07 03:53] mmcky commented on #11
@fkazemian would you mind checking this issue again. I think it should be resolved now with the latest compilation. Thanks

[2018-09-07 03:53] mmcky commented on #10
this is associated with #19

[2018-09-07 03:54] mmcky commented on #10
we either need to add ``.. only:: jupyter`` in the RST source or we add support to allow jupinx to capture html targeted only blocks as an option. See PR https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/91 which is in work.

[2018-09-07 04:18] fkazemian commented on #13
Hi @mmcky , Thanks
I saw something which is strange for me,
in hist_dep_policies:
![screenshot from 2018-09-07 13-25-56](https://user-images.githubusercontent.com/20714542/45198193-a3f82a80-b2a8-11e8-8a58-9fe6a5bb4245.png)
![screenshot from 2018-09-07 14-10-31](https://user-images.githubusercontent.com/20714542/45198195-a5295780-b2a8-11e8-8191-7a3d1e463a3a.png)

As you can see Note is fine but cit

[2018-09-07 04:29] fkazemian commented on #7
(ifp)
![screenshot from 2018-09-07 13-53-34](https://user-images.githubusercontent.com/20714542/45198560-757b4f00-b2aa-11e8-8fa6-0f417c7f210a.png)

[2018-09-07 04:33] mmcky commented on #13
this "should" be fixed also by the PR above. I will re-run now to test with latest extension. ``Jupinx`` in QuantEcon.lectures is static and not updating as we move to an installable extension.

[2018-09-07 04:34] fkazemian commented on #19
Thanks, (ifp):
![screenshot from 2018-09-07 13-52-39](https://user-images.githubusercontent.com/20714542/45198626-cb4ff700-b2aa-11e8-94dd-2fbc53a68e3f.png)

code:
[code]
![screenshot from 2018-09-07 13-52-20](https://user-images.githubusercontent.com/20714542/45198647-ecb0e300-b2aa-11e8-8607-04014cc1b17a.png)
[code]
![screenshot from 2018-09-07 13-51-51](https://user-images.githubusercontent.com/2

[2018-09-07 04:37] fkazemian commented on #11
Hi @mmcky , Thanks it fixed, I just change the label from bug to ready. thanks

[2018-09-07 04:39] fkazemian commented on #13
Thanks @mmcky , I just changed the label

[2018-09-07 04:52] fkazemian commented on #4
(jv)
![screenshot from 2018-09-07 14-49-10](https://user-images.githubusercontent.com/20714542/45199144-89748000-b2ad-11e8-96ff-9125eba543cf.png)

[2018-09-07 04:52] fkazemian commented on #7
(jv)
![screenshot from 2018-09-07 14-50-06](https://user-images.githubusercontent.com/20714542/45199172-b0cb4d00-b2ad-11e8-8c0c-ca580f266008.png)

![screenshot from 2018-09-07 14-49-28](https://user-images.githubusercontent.com/20714542/45199174-b2951080-b2ad-11e8-9e2d-fde6c07a94e1.png)

[2018-09-07 05:00] fkazemian commented on #4
(kalman)
![screenshot from 2018-09-07 14-55-29](https://user-images.githubusercontent.com/20714542/45199402-c7be6f00-b2ae-11e8-894c-725e4446908f.png)
![screenshot from 2018-09-07 14-55-41](https://user-images.githubusercontent.com/20714542/45199403-c8ef9c00-b2ae-11e8-8aee-be88b09d3618.png)
![screenshot from 2018-09-07 14-53-40](https://user-images.githubusercontent.com/20714542/45199404-ca20c900-b

[2018-09-07 05:01] fkazemian commented on #7
(kalman)
![screenshot from 2018-09-07 14-53-56](https://user-images.githubusercontent.com/20714542/45199417-e6bd0100-b2ae-11e8-8dcd-c425b609e6a5.png)

[2018-09-07 05:07] mmcky commented on #13
thanks @fkazemian - just reran ``hist_dep_policies`` and looks like this is fixed. Closing.

[2018-09-07 05:07] #13 closed

[2018-09-07 05:07] mmcky commented on #11
thanks @fkazemian

[2018-09-07 05:07] #11 closed

[2018-09-07 05:11] fkazemian commented on #11
Hi @mmcky sorry, but I just saw some minor problem with this issue, for example in (lake_model)

![screenshot from 2018-09-07 15-04-36](https://user-images.githubusercontent.com/20714542/45199649-36e89300-b2b0-11e8-8ba4-04374b5f56d0.png)
![screenshot from 2018-09-07 15-03-42](https://user-images.githubusercontent.com/20714542/45199652-3819c000-b2b0-11e8-9295-0c9141708862.png)
code
`To do this we'r

[2018-09-07 05:14] fkazemian commented on #8
lake_model
![screenshot from 2018-09-07 15-03-07](https://user-images.githubusercontent.com/20714542/45199735-a52d5580-b2b0-11e8-8784-159df730c9d7.png)
code:
[code]

[code]

[code]

[2018-09-07 05:15] mmcky commented on #12
@fkazemian it looks like the generated notebook is correctly formatted.

@DrDrij is it possible that our template is removing padding around math?

[2018-09-07 05:16] fkazemian commented on #7
(lake_model)
![screenshot from 2018-09-07 15-04-05](https://user-images.githubusercontent.com/20714542/45199813-035a3880-b2b1-11e8-8071-c1fd8f07667b.png)
![screenshot from 2018-09-07 15-05-21](https://user-images.githubusercontent.com/20714542/45199814-03f2cf00-b2b1-11e8-826a-58bfa79bc65e.png)

[2018-09-07 05:30] mmcky commented on #15
it looks like this largely relates to figures not showing up. Many of the outputs are now showing with the increase in timing.

[2018-09-10 00:29] fkazemian opened #32 "some internal references are failing -- missing link to previously existing output"
in (linear_algebra) some references to figures are failed.
![screenshot from 2018-09-10 09-58-45](https://user-images.githubusercontent.com/20714542/45270765-46e8b880-b4e4-11e8-88b5-1e2b2c998c96.png)

To see why, recall the :ref:`figure above <la_3dvec>`, where :math:`k=2` and :math:`n=3`

![screenshot from 2018-09-10 09-56-56](https://user-images.githubusercontent.com/20714542/45270767-4a7c3f80-b

[2018-09-10 00:33] fkazemian commented on #19
linear_algebra
![screenshot from 2018-09-10 09-59-12](https://user-images.githubusercontent.com/20714542/45270833-e1e19280-b4e4-11e8-8231-3efb00a76826.png)
[code]

[2018-09-10 00:46] fkazemian opened #33 "'.. note::' has conflict with other tags in Jupinx"
`.. note:: ` has conflict with other tags in Jupinx.
(linear_algebra):
![screenshot from 2018-09-10 10-00-56](https://user-images.githubusercontent.com/20714542/45270974-5963f180-b4e6-11e8-92a4-4240d86f579f.png)
![screenshot from 2018-09-10 09-57-32](https://user-images.githubusercontent.com/20714542/45270975-5b2db500-b4e6-11e8-94ab-603f1e0f7b10.png)
(perm_income):
![screenshot from 2018-09-10 10-

[2018-09-10 01:02] fkazemian commented on #4
(linear_models)
![screenshot from 2018-09-10 10-54-27](https://user-images.githubusercontent.com/20714542/45271247-f758bb80-b4e8-11e8-800b-a7bc04fd884b.png)

[2018-09-10 01:03] fkazemian commented on #8
(linear_models)
![screenshot from 2018-09-10 10-59-18](https://user-images.githubusercontent.com/20714542/45271272-19523e00-b4e9-11e8-828e-17f2245e88a7.png)
[code]

[2018-09-10 01:04] fkazemian commented on #19
linear_models
![screenshot from 2018-09-10 10-58-19](https://user-images.githubusercontent.com/20714542/45271302-430b6500-b4e9-11e8-9c86-64e91e5e1767.png)
[code]

[2018-09-10 01:27] fkazemian commented on #8
(lln_clt)
![screenshot from 2018-09-10 11-23-23](https://user-images.githubusercontent.com/20714542/45271727-57049600-b4ec-11e8-9775-2a05b44417bc.png)

[code]
[code]

[2018-09-10 01:27] fkazemian commented on #8
(sorry, instead of comment I pressed close and comment)

[2018-09-10 01:28] fkazemian commented on #7
(lln_clt)
![screenshot from 2018-09-10 11-20-33](https://user-images.githubusercontent.com/20714542/45271779-a2b73f80-b4ec-11e8-9c36-7ce6fa4c7718.png)

[2018-09-10 02:14] fkazemian commented on #7
(lqcontrol)
![screenshot from 2018-09-10 11-51-54](https://user-images.githubusercontent.com/20714542/45272865-10666a00-b4f3-11e8-83ca-158c62ca5b75.png)

[2018-09-10 02:15] fkazemian commented on #4
lqcontrol
![screenshot from 2018-09-10 11-51-09](https://user-images.githubusercontent.com/20714542/45272877-23793a00-b4f3-11e8-9c8d-31ee006c9ef3.png)

[2018-09-10 02:16] fkazemian commented on #8
lqcontrol
![screenshot from 2018-09-10 11-51-41](https://user-images.githubusercontent.com/20714542/45272895-3db31800-b4f3-11e8-9998-0b0f21abb12e.png)
[code]

[2018-09-10 05:52] fkazemian commented on #4
lqramsey:
![screenshot from 2018-09-10 15-44-02](https://user-images.githubusercontent.com/20714542/45278652-6f3adc00-b511-11e8-9c0d-286c436a2733.png)

[2018-09-10 05:54] fkazemian commented on #8
(lqramsey)
![screenshot from 2018-09-10 15-41-59](https://user-images.githubusercontent.com/20714542/45278689-a4472e80-b511-11e8-8fc6-dc885d55190e.png)
[code]

[2018-09-10 05:56] fkazemian commented on #19
lqramsey
![screenshot from 2018-09-10 15-46-38](https://user-images.githubusercontent.com/20714542/45278767-ec665100-b511-11e8-9317-31bd6e39dcf0.png)

[code]
![screenshot from 2018-09-10 15-45-39](https://user-images.githubusercontent.com/20714542/45278772-f2f4c880-b511-11e8-861d-08f69e577ae5.png)
[code]

[2018-09-10 06:05] fkazemian commented on #4
(lu_tricks)
![screenshot from 2018-09-10 15-57-11](https://user-images.githubusercontent.com/20714542/45279106-4fa4b300-b513-11e8-80d8-4cfb7e6029e5.png)

[2018-09-10 06:06] fkazemian commented on #7
(lu_tricks)
![screenshot from 2018-09-10 16-03-40](https://user-images.githubusercontent.com/20714542/45279135-677c3700-b513-11e8-9172-1f047e6b8dad.png)

[2018-09-10 06:12] fkazemian commented on #4
(lucas_model)
![screenshot from 2018-09-10 16-07-25](https://user-images.githubusercontent.com/20714542/45279374-4d8f2400-b514-11e8-9936-e20ebb02f79d.png)

![screenshot from 2018-09-10 16-06-46](https://user-images.githubusercontent.com/20714542/45279377-4ff17e00-b514-11e8-8756-1134d717ceb1.png)

[2018-09-10 06:13] fkazemian commented on #7
(lucas_model)
![screenshot from 2018-09-10 16-09-02](https://user-images.githubusercontent.com/20714542/45279443-731c2d80-b514-11e8-878e-879deb1d1111.png)

[2018-09-10 06:15] fkazemian commented on #8
lucas_model
![screenshot from 2018-09-10 16-08-34](https://user-images.githubusercontent.com/20714542/45279491-a9f24380-b514-11e8-961e-d303dbe4ac9a.png)

[code]

[2018-09-10 06:36] fkazemian commented on #7
(markov_asset)
![screenshot from 2018-09-10 16-19-08](https://user-images.githubusercontent.com/20714542/45280417-9a282e80-b517-11e8-905c-102579b745d9.png)

[2018-09-10 06:45] fkazemian commented on #11
![screenshot from 2018-09-10 16-19-52](https://user-images.githubusercontent.com/20714542/45280661-9e088080-b518-11e8-87d9-ae44705ccff8.png)
[code]
![screenshot from 2018-09-10 16-20-36](https://user-images.githubusercontent.com/20714542/45280690-bb3d4f00-b518-11e8-9f12-67968910db84.png)
`The above is implemented in the function `consol_price``

![screenshot from 2018-09-10 16-23-32](https://user-

[2018-09-11 00:02] fkazemian commented on #7
(markov_perf)
![screenshot from 2018-09-11 09-58-56](https://user-images.githubusercontent.com/20714542/45330644-bffe1380-b5a9-11e8-8a1a-5da009baac9a.png)

[2018-09-11 00:02] fkazemian commented on #4
(markov_perf)
![screenshot from 2018-09-11 09-57-20](https://user-images.githubusercontent.com/20714542/45330666-d6a46a80-b5a9-11e8-9311-e8f9481ea0db.png)

[2018-09-11 00:04] fkazemian commented on #11
Hi @mmcky ,
This issue somewhere is fixed but somewhere not,
for example in (markov_perf):
![screenshot from 2018-09-11 09-59-57](https://user-images.githubusercontent.com/20714542/45330705-06ec0900-b5aa-11e8-8929-fc380a6744fe.png)
![screenshot from 2018-09-11 09-58-37](https://user-images.githubusercontent.com/20714542/45330706-081d3600-b5aa-11e8-80bd-3326630291e7.png)

[2018-09-11 00:06] jstac commented on #7
@mmcky I've had similar problems.  Does it help if you put `matplotlib inline` at the top of the Jupyter notebook, like we used to a few years back?  Perhaps we need to return to the same convention?

[2018-09-11 00:08] fkazemian commented on #7
(matplotlib)
![screenshot from 2018-09-11 10-06-04](https://user-images.githubusercontent.com/20714542/45330808-97c2e480-b5aa-11e8-8126-2bc9a6d8d668.png)

[2018-09-11 05:56] fkazemian commented on #7
(mle)
![screenshot from 2018-09-11 10-24-24](https://user-images.githubusercontent.com/20714542/45340748-2fd8c200-b5db-11e8-8f4a-0811be06e6c2.png)

[2018-09-11 05:59] fkazemian commented on #8
(mle)
![screenshot from 2018-09-11 10-26-49](https://user-images.githubusercontent.com/20714542/45340849-9958d080-b5db-11e8-80d0-07f272c7c28d.png)

[code]

[2018-09-11 06:00] fkazemian commented on #28
(mle)
![screenshot from 2018-09-11 10-26-17](https://user-images.githubusercontent.com/20714542/45340889-bf7e7080-b5db-11e8-82ca-41ef753c8089.png)
![screenshot from 2018-09-11 10-25-59](https://user-images.githubusercontent.com/20714542/45340890-bf7e7080-b5db-11e8-89aa-8b5098c6e8b2.png)
![screenshot from 2018-09-11 10-25-45](https://user-images.githubusercontent.com/20714542/45340891-bf7e7080-b5db

[2018-09-11 06:08] fkazemian commented on #4
(multiplicative_functionals)
![screenshot from 2018-09-11 16-04-48](https://user-images.githubusercontent.com/20714542/45341174-f99c4200-b5dc-11e8-852b-70b922d352bd.png)
![screenshot from 2018-09-11 16-04-08](https://user-images.githubusercontent.com/20714542/45341175-fa34d880-b5dc-11e8-897c-281dd3fbcde8.png)

[2018-09-11 06:10] fkazemian commented on #8
multiplicative_functionals
![screenshot from 2018-09-11 16-01-10](https://user-images.githubusercontent.com/20714542/45341225-336d4880-b5dd-11e8-9664-ce3a20a2c5e8.png)
[code]

[2018-09-11 06:15] fkazemian opened #34 "Jupinx has conflict with some litera-include"
multiplicative_functionals:
![screenshot from 2018-09-11 16-02-34](https://user-images.githubusercontent.com/20714542/45341330-99f26680-b5dd-11e8-8775-cdb0c4fc9a89.png)
![screenshot from 2018-09-11 16-02-00](https://user-images.githubusercontent.com/20714542/45341332-99f26680-b5dd-11e8-9b13-9a06dbec7fea.png)
` .. literalinclude:: /_static/code/multiplicative_functionals/amflss_scalar.py`
but I've

[2018-09-11 06:33] fkazemian commented on #7
(numba)
![screenshot from 2018-09-11 16-22-44](https://user-images.githubusercontent.com/20714542/45342178-7846ae80-b5e0-11e8-891d-6531bcf0d85a.png)

[2018-09-11 06:42] fkazemian commented on #7
odu
![screenshot from 2018-09-11 16-38-49](https://user-images.githubusercontent.com/20714542/45342544-a24ca080-b5e1-11e8-8e7f-98eb24c6bed1.png)

[2018-09-11 06:43] fkazemian commented on #28
odu
![screenshot from 2018-09-11 16-40-33](https://user-images.githubusercontent.com/20714542/45342579-bdb7ab80-b5e1-11e8-87e5-f98558d06afd.png)

![screenshot from 2018-09-11 16-40-13](https://user-images.githubusercontent.com/20714542/45342580-bdb7ab80-b5e1-11e8-8e07-885431d03cc4.png)

![screenshot from 2018-09-11 16-39-26](https://user-images.githubusercontent.com/20714542/45342582-be504200-b5e1

[2018-09-11 06:48] fkazemian commented on #28
ols:
![screenshot from 2018-09-11 16-44-23](https://user-images.githubusercontent.com/20714542/45342826-7120a000-b5e2-11e8-9d67-35b26593a6c7.png)

[2018-09-11 06:49] fkazemian commented on #7
ols:
![screenshot from 2018-09-11 16-43-59](https://user-images.githubusercontent.com/20714542/45342877-944b4f80-b5e2-11e8-823e-c05eb19baba0.png)

[2018-09-11 07:02] fkazemian commented on #7
opt_tax_recur:
![screenshot from 2018-09-11 16-57-26](https://user-images.githubusercontent.com/20714542/45343530-80085200-b5e4-11e8-844e-d1100491760e.png)

[2018-09-11 07:03] fkazemian commented on #28
opt_tax_recur:
![screenshot from 2018-09-11 16-59-05](https://user-images.githubusercontent.com/20714542/45343545-90b8c800-b5e4-11e8-8c43-27613edc1354.png)

[2018-09-11 07:03] fkazemian commented on #4
opt_tax_recur:
![screenshot from 2018-09-11 16-58-34](https://user-images.githubusercontent.com/20714542/45343587-a4fcc500-b5e4-11e8-81f9-f7d8ede4e879.png)
![screenshot from 2018-09-11 16-58-02](https://user-images.githubusercontent.com/20714542/45343588-a4fcc500-b5e4-11e8-8600-a6b8e868c2e1.png)
![screenshot from 2018-09-11 16-52-06](https://user-images.githubusercontent.com/20714542/45343591-a595

[2018-09-11 07:14] fkazemian commented on #7
optgrowth:
![screenshot from 2018-09-11 17-10-53](https://user-images.githubusercontent.com/20714542/45344052-1721d980-b5e6-11e8-9f72-b10d52f5ab69.png)

[2018-09-11 07:16] fkazemian commented on #19
optgrowth

![screenshot from 2018-09-11 17-10-36](https://user-images.githubusercontent.com/20714542/45344176-56502a80-b5e6-11e8-864e-29f091b28c26.png)

[code]

[2018-09-11 07:17] fkazemian commented on #4
optgrowth:
![screenshot from 2018-09-11 17-09-47](https://user-images.githubusercontent.com/20714542/45344249-8dbed700-b5e6-11e8-8554-ba7161e8dc50.png)
![screenshot from 2018-09-11 17-09-34](https://user-images.githubusercontent.com/20714542/45344250-8dbed700-b5e6-11e8-8437-2148bc47856a.png)

[2018-09-11 19:07] natashawatkins opened #35 "Lectures to be jitted"
A list of lectures we would like to jit, or jit in a similar way

- [ ] Shortest Paths
- [ ] Job Search I: The McCall Search Model
- [ ] Job Search II: Search and Separation
- [ ] A Problem that Stumped Milton Friedman
- [ ] Job Search III: Search with Learning
- [ ] Job Search IV: Modeling Career Choice
- [ ] Job Search V: On-the-Job Search
- [ ] Optimal Growth I: The Stochastic Optimal Growth Mo

[2018-09-12 00:02] fkazemian commented on #4
pandas:
![screenshot from 2018-09-12 09-55-57](https://user-images.githubusercontent.com/20714542/45394229-fb184980-b672-11e8-8f76-a61c7502458e.png)

[2018-09-12 00:04] fkazemian commented on #7
pandas:
![screenshot from 2018-09-12 09-57-24](https://user-images.githubusercontent.com/20714542/45394272-2a2ebb00-b673-11e8-84dc-3faab599b244.png)

[2018-09-12 00:04] fkazemian commented on #28
pandas:
![screenshot from 2018-09-12 09-58-34](https://user-images.githubusercontent.com/20714542/45394291-39156d80-b673-11e8-8b96-288dede75aaa.png)

[2018-09-12 00:07] fkazemian commented on #19
pandas

![screenshot from 2018-09-12 09-58-53](https://user-images.githubusercontent.com/20714542/45394370-91e50600-b673-11e8-830e-a007a0375c2d.png)
[code]

[2018-09-12 00:31] fkazemian commented on #19
pandas_panel:

![screenshot from 2018-09-12 10-08-51](https://user-images.githubusercontent.com/20714542/45394950-de7e1080-b676-11e8-81e8-e4c2f89daa0b.png)
[code]
![screenshot from 2018-09-12 10-07-57](https://user-images.githubusercontent.com/20714542/45394954-e1790100-b676-11e8-8373-ad05d7b45e3e.png)
[code]

[2018-09-12 00:38] fkazemian commented on #4
perm_income
![screenshot from 2018-09-12 10-34-53](https://user-images.githubusercontent.com/20714542/45395133-f2764200-b677-11e8-8960-f9171b4ba91b.png)

[2018-09-12 00:38] fkazemian commented on #7
perm_income
![screenshot from 2018-09-12 10-34-33](https://user-images.githubusercontent.com/20714542/45395144-08840280-b678-11e8-9f39-764d012b1b66.png)

[2018-09-12 00:41] fkazemian commented on #8
perm_income:
![screenshot from 2018-09-12 10-36-14](https://user-images.githubusercontent.com/20714542/45395178-3cf7be80-b678-11e8-8f2d-80ee37d08e53.png)
[code]
![screenshot from 2018-09-12 10-35-35](https://user-images.githubusercontent.com/20714542/45395197-56990600-b678-11e8-87a6-77f3a990a7d2.png)

[code]

[2018-09-12 00:46] fkazemian commented on #4
perm_income_cons
![screenshot from 2018-09-12 10-43-44](https://user-images.githubusercontent.com/20714542/45395351-15edbc80-b679-11e8-8726-7dbc7fcc7c6b.png)

[2018-09-12 00:47] fkazemian commented on #8
perm_income_cons
![screenshot from 2018-09-12 10-42-53](https://user-images.githubusercontent.com/20714542/45395366-2b62e680-b679-11e8-9eac-1a8f7d80bca1.png)
[code]

[2018-09-12 01:14] fkazemian commented on #4
python_advanced_features
![screenshot from 2018-09-12 10-56-24](https://user-images.githubusercontent.com/20714542/45396117-fc4e7400-b67c-11e8-88d1-b393a5f407e1.png)
![screenshot from 2018-09-12 10-52-53](https://user-images.githubusercontent.com/20714542/45396119-fc4e7400-b67c-11e8-87d6-93ffe675b287.png)

[2018-09-12 01:16] fkazemian commented on #28
in python_advanced_features we have some output which is too much in generated version so that they are edited in the live version, shall we edit them as well or it's alright?
![screenshot from 2018-09-12 10-52-01](https://user-images.githubusercontent.com/20714542/45396190-551e0c80-b67d-11e8-84bb-8bcfb4f16d9f.png)

[2018-09-12 01:39] fkazemian commented on #4
python_by_example
![screenshot from 2018-09-12 11-20-57](https://user-images.githubusercontent.com/20714542/45396731-6ae10100-b680-11e8-9d90-ec3ff3a949ee.png)
![screenshot from 2018-09-12 11-20-01](https://user-images.githubusercontent.com/20714542/45396732-6b799780-b680-11e8-997a-321fb73946ef.png)
![screenshot from 2018-09-12 11-19-40](https://user-images.githubusercontent.com/20714542/45396733-6

[2018-09-12 01:45] fkazemian commented on #7
python_by_example
![screenshot from 2018-09-12 11-17-25](https://user-images.githubusercontent.com/20714542/45396993-636e2780-b681-11e8-9b88-25dae9544276.png)

[2018-09-12 01:51] fkazemian commented on #4
python_essentials
![screenshot from 2018-09-12 11-48-09](https://user-images.githubusercontent.com/20714542/45397186-3706db00-b682-11e8-961b-2eacbaf76f02.png)

[2018-09-12 01:52] fkazemian commented on #28
python_essentials
![screenshot from 2018-09-12 11-47-23](https://user-images.githubusercontent.com/20714542/45397211-5aca2100-b682-11e8-97b9-33fdc8509ac0.png)

[2018-09-12 01:58] fkazemian commented on #4
python_oop
![screenshot from 2018-09-12 11-54-25](https://user-images.githubusercontent.com/20714542/45397400-2f940180-b683-11e8-8b38-7dcf6e1e9fb8.png)
![screenshot from 2018-09-12 11-53-57](https://user-images.githubusercontent.com/20714542/45397401-2f940180-b683-11e8-8e49-388aec9c1ad1.png)

[2018-09-12 01:59] fkazemian commented on #7
python_oop
![screenshot from 2018-09-12 11-54-35](https://user-images.githubusercontent.com/20714542/45397421-45092b80-b683-11e8-8f00-c44227a559ab.png)

[2018-09-12 02:13] fkazemian commented on #4
rational_expectations
![screenshot from 2018-09-12 12-11-23](https://user-images.githubusercontent.com/20714542/45397857-34f24b80-b685-11e8-8d5c-2c3dee19f594.png)

[2018-09-12 02:51] fkazemian commented on #4
rob_markov_perf:

![screenshot from 2018-09-12 12-21-53](https://user-images.githubusercontent.com/20714542/45399201-88b36380-b68a-11e8-8922-89962e953751.png)
![screenshot from 2018-09-12 12-21-40](https://user-images.githubusercontent.com/20714542/45399202-894bfa00-b68a-11e8-90b6-09bc7e7a328d.png)
![screenshot from 2018-09-12 12-20-24](https://user-images.githubusercontent.com/20714542/45399203-8

[2018-09-12 02:52] fkazemian commented on #34
rob_markov_perf
![screenshot from 2018-09-12 12-21-22](https://user-images.githubusercontent.com/20714542/45399257-b7c9d500-b68a-11e8-8937-c1ea3919208c.png)
![screenshot from 2018-09-12 12-21-05](https://user-images.githubusercontent.com/20714542/45399258-b8626b80-b68a-11e8-8cb5-47dfe558ae49.png)

[2018-09-12 02:54] fkazemian commented on #8
rob_markov_perf
![screenshot from 2018-09-12 12-19-55](https://user-images.githubusercontent.com/20714542/45399313-eb0c6400-b68a-11e8-9488-425fcf1b7253.png)
[code]

[2018-09-12 03:08] fkazemian commented on #4
robustness:
![screenshot from 2018-09-12 13-01-01](https://user-images.githubusercontent.com/20714542/45399821-fbbdd980-b68c-11e8-85b5-027691b84fb5.png)
![screenshot from 2018-09-12 12-57-54](https://user-images.githubusercontent.com/20714542/45399822-fc567000-b68c-11e8-8166-a67f71c3acf9.png)
![screenshot from 2018-09-12 12-57-26](https://user-images.githubusercontent.com/20714542/45399823-fc56700

[2018-09-12 03:10] fkazemian commented on #28
robustness
![screenshot from 2018-09-12 13-01-39](https://user-images.githubusercontent.com/20714542/45399894-43446580-b68d-11e8-8640-bf4fe82fce81.png)

[2018-09-12 03:14] fkazemian commented on #8
robustness:
![screenshot from 2018-09-12 13-02-03](https://user-images.githubusercontent.com/20714542/45399926-5d7e4380-b68d-11e8-9b26-0af73f7990a9.png)
[code]
[code]
![screenshot from 2018-09-12 13-00-48](https://user-images.githubusercontent.com/20714542/45399977-928a9600-b68d-11e8-8e48-09e1aa876615.png)
[code]
[code]

[2018-09-12 03:29] fkazemian commented on #27
samuelson:
link is dismissed
![screenshot from 2018-09-12 13-16-31](https://user-images.githubusercontent.com/20714542/45400511-c961ab80-b68f-11e8-9c6c-84d73639a171.png)
[code]

[2018-09-12 03:33] fkazemian commented on #7
schelling
![screenshot from 2018-09-12 13-32-14](https://user-images.githubusercontent.com/20714542/45400671-6cb2c080-b690-11e8-9c22-bcbb7ae22aba.png)

[2018-09-12 03:37] fkazemian commented on #28
sci_libs
![screenshot from 2018-09-12 13-35-20](https://user-images.githubusercontent.com/20714542/45400797-fe223280-b690-11e8-8298-b0a45b551ad9.png)

[2018-09-12 03:50] fkazemian commented on #4
scipy
![screenshot from 2018-09-12 13-47-52](https://user-images.githubusercontent.com/20714542/45401188-d764fb80-b692-11e8-93b3-cf35d6648b66.png)
![screenshot from 2018-09-12 13-47-33](https://user-images.githubusercontent.com/20714542/45401189-d764fb80-b692-11e8-80aa-4e7f117b40d8.png)

[2018-09-12 03:51] fkazemian commented on #7
scipy
![screenshot from 2018-09-12 13-47-16](https://user-images.githubusercontent.com/20714542/45401206-eb106200-b692-11e8-86fb-1f485d4b6f7a.png)

[2018-09-12 03:57] fkazemian commented on #20
Figures in most of the lectures have a serious problem about their size
![screenshot from 2018-09-12 13-55-54](https://user-images.githubusercontent.com/20714542/45401411-d5e80300-b693-11e8-9796-ee615970b21c.png)

[2018-09-12 04:09] fkazemian commented on #8
smoothing
![screenshot from 2018-09-12 14-01-44](https://user-images.githubusercontent.com/20714542/45401708-51967f80-b695-11e8-872c-c919d1f66691.png)
[code]
![screenshot from 2018-09-12 13-59-17](https://user-images.githubusercontent.com/20714542/45401742-6e32b780-b695-11e8-9f6e-9d973a1d5d9a.png)
[code]

[2018-09-12 04:10] fkazemian commented on #7
smoothing
![screenshot from 2018-09-12 14-00-31](https://user-images.githubusercontent.com/20714542/45401782-9fab8300-b695-11e8-97fb-30459808d04d.png)

[2018-09-12 04:11] fkazemian commented on #4
smoothing
![screenshot from 2018-09-12 14-00-48](https://user-images.githubusercontent.com/20714542/45401806-bc47bb00-b695-11e8-90ab-d6ab153c4fab.png)

[2018-09-12 04:30] fkazemian commented on #8
stationary_densities
![screenshot from 2018-09-12 14-14-13](https://user-images.githubusercontent.com/20714542/45402301-527ce080-b698-11e8-902d-547ef5170432.png)

[code]

[2018-09-12 04:31] fkazemian commented on #4
stationary_densities
![screenshot from 2018-09-12 14-13-08](https://user-images.githubusercontent.com/20714542/45402322-6d4f5500-b698-11e8-88bb-8beb9d10e8bc.png)
![screenshot from 2018-09-12 14-12-15](https://user-images.githubusercontent.com/20714542/45402324-6de7eb80-b698-11e8-8532-2f8edae219ed.png)

[2018-09-12 04:32] fkazemian commented on #7
stationary_densities
![screenshot from 2018-09-12 14-14-29](https://user-images.githubusercontent.com/20714542/45402367-a7205b80-b698-11e8-842c-c0f79cd177d7.png)

[2018-09-12 04:44] mmcky commented on #19
OK - the https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/92 PR should fix this issue.  This allows the `conf.py` to be setup to allow passthrough of `html` only blocks to prevent duplication. This is a convenient option in our case as we can then support `html`, `jupyter`, and `latex`

[2018-09-12 04:50] fkazemian commented on #8
wald_friedman
![screenshot from 2018-09-12 14-47-55](https://user-images.githubusercontent.com/20714542/45402822-0bdcb580-b69b-11e8-8a5a-02d766edc15e.png)
[code]
![screenshot from 2018-09-12 14-45-43](https://user-images.githubusercontent.com/20714542/45402833-244cd000-b69b-11e8-90e0-55d6e0efe62b.png)

[2018-09-12 04:50] fkazemian commented on #7
wald_friedman

![screenshot from 2018-09-12 14-45-43](https://user-images.githubusercontent.com/20714542/45402854-3dee1780-b69b-11e8-8e32-090b81ccbb7a.png)

[2018-09-12 04:52] fkazemian commented on #7
writing_good_code
![screenshot from 2018-09-12 14-51-18](https://user-images.githubusercontent.com/20714542/45402911-77bf1e00-b69b-11e8-86e9-f19bc92cf6af.png)

[2018-09-12 04:56] mmcky commented on #19
- [ ] review latest on compare-lectures.quantecon.org (@fkazemian I have just updated the comparison site can you check if these are fixed now). Thanks.

[2018-09-12 04:59] mmcky commented on #10
all ``.. only:: latex`` will be ignored. The only option I have allowed in the extension is to include ``html`` only blocks to mirror the html lecture set. Fixed by PR: https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/92

[2018-09-12 04:59] mmcky commented on #10
- [ ] @fkazemian can you please confirm.

[2018-09-12 05:04] mmcky commented on #4
well formatted lists (as per RST specification) seem to render just fine. I will look at the ``html`` writer to see how they make it more robust to malformed input.

IF I fix the `getting_started.rst` source file it looks like

![image](https://user-images.githubusercontent.com/8263752/45403324-1730e080-b69d-11e8-8adb-0943cdb719da.png)

[2018-09-12 05:40] mmcky commented on #4
it looks like the extension was injecting an odd number of spaces into the markdown when generating sublists which broke the rendering in markdown. This PR hopefully addresses this issue:

https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/93

- [ ] update ``compare-lectures.quantecon.org``
- [ ] @fkazemian to check if fixed.

[2018-09-12 06:03] mmcky commented on #4
@fkazemian I checked the first one but it would be great if you could do a comprehensive check for me. Thanks.

[2018-09-12 07:11] fkazemian commented on #4
Hi @mmcky
some of them are fixed but some of them not, such as (dyn_stack.rst):
it was
![45192466-ccbdf700-b28b-11e8-92fe-0a5538aabbbc](https://user-images.githubusercontent.com/20714542/45408146-d80b8b00-b6ae-11e8-8393-37aa580567e7.png)
but now it's
![screenshot from 2018-09-12 17-09-34](https://user-images.githubusercontent.com/20714542/45408152-dcd03f00-b6ae-11e8-8e21-08564987f224.png)

[2018-09-12 13:54] DrDrij commented on #12
@mmcky This looks like a quick fix. I've been able to rectify the issue by editing directly.

We had a similar issue in the past which we solved with:

`span.math {
    font-size: 0.92rem;
}`

The jupinx output uses `<span class="MathJax">` rather than the original `<span class="math">`. So adding the following fixed the rendering issue.

`span.MathJax {
    font-size: 0.92rem;
}`

Can I suggest w

[2018-09-12 14:08] DrDrij commented on #8
Thanks for all the testing here @fkazemian.

Appears there are a few different issues identified, some repeated. eg. Matrix don't seem to render at all?

There is also an issue with only html and only latex being ignored.

@fkazemian Could you give a very brief summary of your findings from above?

[2018-09-12 23:49] fkazemian commented on #19
Hi @mmcky , Thanks, I checked and realised it is not skipping the content when we are using html and latex tags anymore, but it seems to have some problems with links:
![screenshot from 2018-09-12 17-20-06](https://user-images.githubusercontent.com/20714542/45459115-30d43580-b73a-11e8-8be3-034f6a087f78.png)

![screenshot from 2018-09-12 17-19-30](https://user-images.githubusercontent.com/20714542/

[2018-09-13 00:39] mmcky commented on #4
thanks @fkazemian

[2018-09-13 01:16] mmcky commented on #4
@fkazemian I think the `dyn_stack.rst` is as a result of malformed input. We can fix this by removing the initial white space at the front of the list items. Would you mind submitting a PR and reference this issue?

[code]

should be

[code]

[2018-09-13 01:30] mmcky commented on #8
@fkazemian regarding `arellano` it appears that the generated notebook is OK but the `nbconvert` step to html is causing the malformed equation. @DrDrij would you mind looking into this? I will slack the current arellano.ipynb file that is generated from the latest jupinx extension.

- [ ] @DrDrij to investigate why this notebook is not converting properly via `nbconvert`

[2018-09-13 01:34] mmcky commented on #8
This is what is happening specifically for that equation in the html output

[code]

[2018-09-13 01:38] mmcky commented on #8
This is the markdown generated by jupinx

[code]

I wonder if nbconvert has an issue with the spacing on the second line and ignores the `$$` as a verbatim environment

[2018-09-13 01:41] mmcky commented on #8
https://github.com/jupyter/nbconvert/issues/404

[2018-09-13 01:49] mmcky commented on #8
Good news! -- it looks like this equation issue for `arellano` is fixed using `nbconvert>=5.4.0`. @fkazemian I will rebuilt the lectures now.

[2018-09-13 02:07] mmcky commented on #8
``calvo`` is a bigger issue. It looks like `mathjax` doesn't like to parse inside of an `html` table?

The equation not rendering properly is outputted as `html`. If my diagnosis is correct - @DrDrij is there a way to get mathjax to parse inside of tables.

[code]

[2018-09-13 02:49] mmcky commented on #34
@fkazemian I haven't merged that PR yet -- and it looks like this issue is fixed? Can you re-check for me. Thanks.

[2018-09-13 02:54] mmcky opened #37 "Internal links point to ipynb rather than html after processing with nbconvert"
A post-processing issue:

We will need to parse all ``ipynb`` notebook links as ``html`` links.

@DrDrij is there a way to do this in the template?

[2018-09-13 02:54] mmcky commented on #33
thanks @fkazemian I think this one is now semi-fixed.
I think the remaining issue is collision of math and words as per issue #12. Also some links won't resolve as they point to ``ipynb`` (as per #37)

[2018-09-13 03:03] mmcky commented on #12
Thanks @DrDrij I will look at this now

[2018-09-13 04:15] fkazemian commented on #4
Hi @mmcky, thanks I just submit a PR "fix malformed inputs #38 "

[2018-09-13 04:31] fkazemian commented on #34
Hi @mmcky yes I just checked and  it seems it's ok, so I change the label to fixed.

![screenshot from 2018-09-13 14-29-22](https://user-images.githubusercontent.com/20714542/45467185-a56e9a80-b761-11e8-8c9c-416c528d6ae7.png)

![screenshot from 2018-09-13 14-28-30](https://user-images.githubusercontent.com/20714542/45467186-a56e9a80-b761-11e8-9361-68ef14b8f608.png)

![screenshot from 2018-09-13 14

[2018-09-13 04:48] mmcky commented on #32
@fkazemian I think the issue here is there is no figure `la_3dvec` in that `rst` file anymore. Perhaps the figure was removed when output was removed (@natashawatkins was this figure an output figure?). This will be a difficult one to solve -- I think we need to include any figures that require labels in the `rst`.

[2018-09-13 04:55] mmcky commented on #26
We have used this in our `html` writer to tag `Out` blocks. This shouldn't be required in the new build process as output blocks will be generated.

@natashawatkins can you confirm - are many of these cases `output` blocks?

[2018-09-13 04:55] fkazemian commented on #32
Hi @mmcky  I checked, yes there is no figure `la_3dve`c  but there is figure `3dvec` which exactly same as `la_3dve`and it was the output figure.

[2018-09-13 04:56] mmcky commented on #26
- [ ] check replacement output blocks exist when we compile the lectures (with execution)

[2018-09-13 06:15] natashawatkins commented on #26
Sorry what is the question? These were cases where the output was meant to be an error generated, so we use code blocks that don't execute and manually put in the output as before.

[2018-09-13 06:15] natashawatkins commented on #26
I might check a couple of them however

[2018-09-13 06:34] natashawatkins commented on #32
@mmcky Yeah I think there are a few issues with references now.

I noticed that code blocks from jinja could be used to add references... as in you could reference the code block name and `.. code-block-name` would be inserted. Is this a possible solution? Adding a block around the figure?

[2018-09-13 07:07] mmcky commented on #24
@fkazemian this has been updated in the `jupinx` extension to recognise ``epigraph`` so that they are now all complete at the notebook level. However the ``nbconvert`` to ``html`` step from the notebook is producing the grey around the text.

@DrDrij the `nbconvert` step produces the following html

[code]

[2018-09-13 07:30] mmcky commented on #34
thanks @fkazemian

[2018-09-13 07:30] #34 closed

[2018-09-13 18:09] natashawatkins commented on #26
@mmcky Just checked and they all seem valid - most are either errors generated, psuedocode, or showing the contents of a raw file

[2018-09-14 00:07] mmcky commented on #21
@jstac are you happy for these lists to be `enumerated` lists? Technically `sphinx` only supports enumerated and bullet so html writer must be intercepting these are keeping the `i` etc. I can dig a bit further if you like.

@fkazemian there are some math formatting collisions (issue #12) - is this what you mean by `unicode`?

[2018-09-14 00:09] mmcky commented on #26
@natashawatkins we now have the capability to use a``.. jupyter`` directive in the extension. So I think for preformated output it would be most clear to use:

[code]

or

[code]

rather than hijacking `none`. I can work on this support today.

[2018-09-14 00:11] mmcky commented on #20
@fkazemian can you check the generated `html` to see what the source of this issue is. Is `jupinx` ignoring the ``:scale:`` setting?

[2018-09-14 02:09] mmcky commented on #25
This PR should fix this issue: https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/99

[2018-09-14 02:53] mmcky commented on #27
**finite_markov**

[code]

The issue here is the preceding label to the math block is causing the extension to think that the math is labelled but it has no label number. These are links used from another lecture to link to this point in this lecture.

[2018-09-14 02:55] mmcky commented on #27
@fkazemian can we label the `math` with `mc_fdd` and use that link in other lectures? Would you mind checking?

[2018-09-14 04:02] mmcky commented on #27
re ``harrison_kreps``

I will change the implementation of ``block-quote`` in the extension to match markdown properly. Currently we are using 4 spaces but it should use `>`

[2018-09-14 06:13] mmcky commented on #4
I have just pushed a PR that will make the lists more robust to this spacing issue in the source RST. Before I merge the PR to fix the source:

- [ ] see if these are still an issue in the comparison.

[2018-09-17 04:51] mmcky commented on #6
@fkazemian since we updated `nbconvert` do you still see oversized images on your end?

[2018-09-17 04:55] fkazemian commented on #20
Hi @mmcky
I just checked coleman_policy_iter again,
it was like:
https://user-images.githubusercontent.com/20714542/45071787-513d3800-b11b-11e8-9257-ef713abe5743.png

I tried to change the scale of firs figure to 10% instead of 50% and it became like this:
![screenshot from 2018-09-17 14-50-11](https://user-images.githubusercontent.com/20714542/45606539-483c5700-ba89-11e8-9127-68dd646d3293.png)
so

[2018-09-17 04:58] mmcky commented on #6
@DrDrij we do have support for figure alignment pass through in the ``jupinx`` extension - it is just that none of the source files are using it at the moment. I could pretty easily setup a ``jupyter_align_figure`` global to change the default alignment to "center" when writing the figures in `html`. I am just wondering if you think this should be done at the theme level. The reason I ask is if I

[2018-09-17 05:00] mmcky commented on #6
- [ ] implement a global in ``jupinx`` to center included figures in markdown blocks
- [ ] change to default centered images in the ``quantecon`` template / theme

[2018-09-17 05:03] mmcky commented on #20
good question @fkazemian.

[2018-09-17 05:05] mmcky commented on #20
@fkazemian taking a closer look at `career`. If we specify

[code]

in html is the scale interpreted as 100% of the figure size or 100% of the page size? Do you know?

[2018-09-17 05:06] fkazemian commented on #6
Hi @mmcky
I just checked career.html and I still can see some figures are too big
![screenshot from 2018-09-17 15-05-00](https://user-images.githubusercontent.com/20714542/45606768-3b206780-ba8b-11e8-9804-6ef5d65366f2.png)

[2018-09-17 05:10] mmcky commented on #20
@fkazemian ok I think the issue here is that we have specified `:scale: 100%` in the source and our extension is making the figure larger than its original size to fit the page width. I think that is the correct behaviour for `:scale:` so perhaps we need to update our source RST? What do you think?

[2018-09-17 05:12] mmcky commented on #28
thanks @fkazemian this is becuase I haven't handled `_static` assets well yet.

[2018-09-17 05:57] fkazemian commented on #20
some of the figure like career.rst has the scale of 50% which has the same problem, I think we should change RST or If the problem is about what I told in previous comment, we should solve that. right?

[2018-09-17 06:28] mmcky commented on #7
I have edited the builder to prepend `%matplotlib inline` prior to executing a notebook to ensure matplotlib is setup correctly. The prepended line is then removed prior to writing the executed notebook to disk.

[2018-09-17 06:34] fkazemian commented on #27
Hi @mmcky
`mc_fdd` is used only in these lectures:
[code]

[2018-09-17 07:08] mmcky commented on #7
@fkazemian I have pushed the latest to compare-lectures.quantecon.org. Would you mind checking if this is fixed. There may still be a few missing if execution time takes longer than 1200s.

[2018-09-17 07:08] fkazemian commented on #27
This is not because of
`If we think of :math:`\psi_{t+1}` and :math:`\psi_t` as *row vectors* (as is traditional in this literature), these :math:`n` equations are summarized by the matrix expression
 `

this is because of the formula before that. It was something like
[code]

I add some space before `.. math::` like

[code]
and that (None) disappeared.

[2018-09-17 07:11] #29 closed

[2018-09-17 07:23] mmcky opened #41 "Support for Collapsing Code Blocks"
Need to see if `:class: collapse` will passthrough ``nbconvert`` for @DrDrij to latch on to in the theme.

[2018-09-17 07:55] jstac commented on #21
@mmcky Yes, that's fine.  No big deal.

[2018-09-17 16:59] DrDrij commented on #6
@mmcky I suggest we default to centred images and also set a max-width (addressing @fkazemian figures too big above). I've added a few styles to the compare site to address this.

![image](https://user-images.githubusercontent.com/5886045/45637872-3328ed80-bab4-11e8-856d-e9ead812a519.png)

[2018-09-17 23:39] mmcky commented on #6
thanks @DrDrij I will add you as a collaborator to the repo that I am putting together to assemble all of these things through the various stages. Would you mind adding your css etc.

[2018-09-18 00:33] fkazemian commented on #7
writing_good_code
![screenshot from 2018-09-18 10-22-28](https://user-images.githubusercontent.com/20714542/45657251-e2091000-bb2c-11e8-825c-64af6ef68c2d.png)
wald_friedman
![screenshot from 2018-09-18 10-24-05](https://user-images.githubusercontent.com/20714542/45657293-0a910a00-bb2d-11e8-952b-8a47ffcc87f0.png)
stationary_densities
![screenshot from 2018-09-18 10-25-07](https://user-images.github

[2018-09-18 00:38] mmcky commented on #41
@DrDrij it looks like we can extract this information in the `tpl`
https://nbconvert.readthedocs.io/en/latest/customizing.html#Templates-using-cell-tags
https://nbconvert.readthedocs.io/en/latest/customizing.html#Templates-using-custom-cell-metadata

Can I leave this with you to add to the template?  Let me know if you think we should use "tags" rather than what I have currently implemented which

[2018-09-18 00:39] mmcky commented on #41
I will leave this PR open until we work out the correct interface for the pass through
https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/105

[2018-09-18 00:42] fkazemian commented on #7
pandas
![screenshot from 2018-09-18 10-34-36](https://user-images.githubusercontent.com/20714542/45657617-8049a580-bb2e-11e8-82b8-fff2a0503c83.png)

optgrowth
![screenshot from 2018-09-18 10-35-34](https://user-images.githubusercontent.com/20714542/45657655-a2432800-bb2e-11e8-9e1d-f602e4390a99.png)

opt_tax_recur
![screenshot from 2018-09-18 10-37-00](https://user-images.githubusercontent.com/2071

[2018-09-18 00:44] fkazemian commented on #7
Hi @mmcky I checked about 20 of them (as you can see above) and all of them are fixed, so it seems this bug is fixed and I change the label to Fixed, Thanks

[2018-09-18 00:44] mmcky commented on #37
An alternative would be to apply a custom preprocessor transformation to update the links in markdown cells. https://nbconvert.readthedocs.io/en/latest/api/preprocessors.html

[2018-09-18 00:51] mmcky commented on #7
thanks @fkazemian that's a big help. Good news.

[2018-09-18 00:51] #7 closed

[2018-09-18 00:56] mmcky commented on #4
@fkazemian would you mind checking if these are still an issue for me. There was adjustments made to made spacing more robust.

[2018-09-18 01:00] mmcky commented on #9
@natashawatkins my inclination is to address these warnings as they are typically meaningful for the code that it is executing. I think many of them should be fixed by changing the code. I don't think we should hide warnings as they will reduce the changes of picking them and changing them.

[2018-09-18 01:02] mmcky commented on #9
@fkazemian would you mind documenting which notebooks currently contain `Warnings` in output blocks?

[2018-09-18 01:03] mmcky commented on #15
@fkazemian are these still an issue?

[2018-09-18 01:07] mmcky commented on #14
@fkazemian it looks like this might be an issue in the source with the first element of the list being indented only 2 spaces when it should be 3. Can you see if that adjustment fixes this issue and then put together a PR to fix?

[2018-09-18 01:08] fkazemian commented on #14
Hi @mmcky
I was checking it now :D I'll make a PR for that
![screenshot from 2018-09-18 11-06-51](https://user-images.githubusercontent.com/20714542/45658576-23042300-bb33-11e8-9f94-b28aa4a70582.png)

[2018-09-18 02:16] mmcky commented on #19
@fkazemian upon inspection I think these are special links types `:download:`.
This PR should fix the download links.

https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/106

@fkazemian can you let me know if any of these are not `:download:` type links

[2018-09-18 02:27] mmcky commented on #21
thanks @jstac. @fkazemian can you review these cases you have reported. If they are well formed lists we can close this issue.

[2018-09-18 02:28] mmcky commented on #24
@DrDrij let me know if we should setup a class pass through for this as well.

[2018-09-18 02:29] mmcky commented on #25
- [ ] ``jupinx`` should be updated to include clickable footnotes to return to the actual footnote location in the text.

[2018-09-18 02:32] mmcky commented on #26
I think I will use:

[code]
for now I will assume this follows from the last ``code-block`` immediately above it.

[2018-09-18 02:36] mmcky commented on #27
@fkazemian I think the math should be indented again to be contained in the `math` directive?

[2018-09-18 02:58] mmcky commented on #30
@fkazemian do you remember what lecture this is from?

[2018-09-18 03:05] fkazemian commented on #14
Hi @mmcky PR #43. I change the label to Fixed and remove other labels.

[2018-09-18 03:13] fkazemian commented on #30
it's in harrison_kreps.rst, but I think I saw at least one more table like this.

[2018-09-18 03:26] mmcky commented on #30
Looking at ``harrison_kreps`` it looks like the table is in fact properly built in markdown
![image](https://user-images.githubusercontent.com/8263752/45662743-6c11a280-bb46-11e8-95c9-9c595ad5b67b.png)
This appears to be an issue with ``nbconvert``

[2018-09-18 03:28] fkazemian commented on #15
Hi @mmcky some of them still have problem like
![screen shot 2018-09-18 at 1 27 05 pm](https://user-images.githubusercontent.com/20714542/45662786-a4b17c00-bb46-11e8-95c9-e4dcf7d63dbd.png)

[2018-09-18 03:28] mmcky commented on #30
@DrDrij the above table that doesn't seem to be converting properly during the `nbconvert` is encoded in html as:

[code]

[2018-09-18 03:35] fkazemian commented on #21
Hi @mmcky I just checked them, theyre well formed lists, So I change the label to Fixed. Thanks

[2018-09-18 03:39] mmcky commented on #32
@natashawatkins I don't follow what you're suggesting here. Can you provide an example.

[2018-09-18 03:49] mmcky commented on #32
One solution to this problem would be to insert an internal ``RST`` link to where the figure is generated by the code. This can be done by adding:

[code]

[2018-09-18 03:53] mmcky commented on #32
The above is the easiest fix for now. It would be good to support `:name:` attribute for ``code-block`` directives in ``jupinx``

[2018-09-18 03:58] mmcky commented on #14
thanks @fkazemian

[2018-09-18 03:58] #14 closed

[2018-09-18 04:00] mmcky commented on #21
thanks @fkazemian

[2018-09-18 04:00] #21 closed

[2018-09-18 05:13] mmcky opened #44 "IPython Blocks not running in the code executor"
python_essentials
![screenshot from 2018-09-12 11-47-23](https://user-images.githubusercontent.com/20714542/45397211-5aca2100-b682-11e8-97b9-33fdc8509ac0.png)

- [x] add language synonyms to allow individual highlighting of code-blocks and include as executable blocks in the output

[2018-09-18 05:29] mmcky commented on #44
https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/110 will fix this issue

[2018-09-18 05:36] mmcky commented on #44
@fkazemian when I update the compare-lectures.quantecon.org later this afternooon -- would you mind checking that handling of ``.. code-block:: ipython`` is working properly. The above PR should fix these types of errors.

[2018-09-18 05:54] mmcky opened #45 "Index Pages are Currently Not Supported"
It would be nice for the extension to build the whole site (including all the index pages) via IPYNB.

The index pages should just be a simple notebook with a single markdown cell.

![image](https://user-images.githubusercontent.com/8263752/45667125-31663500-bb5b-11e8-80d3-de0c1491344d.png)

[2018-09-18 05:58] fkazemian commented on #44
Hi @mmcky sure. I keep eyes on that.

[2018-09-18 06:08] fkazemian commented on #9
Hi @mmcky
I checked warnings from `.ipynb` files:
`grep -r -i --include=\*.rst 'Warning' ./`
[code]

and also for checking from `html` files:
[code]

[2018-09-18 06:12] fkazemian commented on #4
Hi @mmcky I checked some of them randomly and they were fine. Thanks I change the label to fixed.

[2018-09-18 06:16] fkazemian commented on #33
Hi @mmcky I just checked them. It is fixed and I change the label.

[2018-09-18 07:10] mmcky commented on #45
@DrDrij this PR adds support for top level ``toctree`` objects. I haven't tested on internal toctree objects yet but so far so good `:-)`.

https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/111

I have update the ``index*.ipynb`` files that are generated on the branch for the PR in the ``jupinx`` extension on compare-lectures.quantecon.org

[2018-09-18 07:18] mmcky commented on #45
``toc`` elements within lectures need some work

![image](https://user-images.githubusercontent.com/8263752/45670723-dc302080-bb66-11e8-8a19-886d5ba2ac11.png)

[2018-09-18 18:35] DrDrij commented on #45
Hmm. There isn't anything specific enough in the HTML (classes etc) to hook onto with CSS.

[2018-09-18 18:47] DrDrij commented on #12
@mmcky Added additional styles for both cases. (.MathJax and .math)

[2018-09-18 21:03] natashawatkins commented on #9
@fkazemian that doesn't seem to be a complete list - ie. the initial example isn't there

[2018-09-18 22:28] mmcky commented on #12
Thanks @DrDrij love your work!

[2018-09-18 22:28] mmcky commented on #12
- [ ] add latest styles and css to `quantecon.build.lectures` repo

[2018-09-18 22:29] mmcky commented on #33
thanks @fkazemian

[2018-09-18 22:29] #33 closed

[2018-09-18 22:30] mmcky commented on #4
thanks @fkazemian.

[2018-09-18 22:30] #4 closed

[2018-09-18 23:05] mmcky opened #47 "Placement of In and Out text for code-blocks"
@DrDrij Are we able to alter the placement of In and Out text for the code-blocks to mimic more closely what we had on the website? It would be neat if we could have them in the margin and in our QuantEcon orange text :)

<img width="318" alt="image" src="https://user-images.githubusercontent.com/8263752/45721324-fc092800-bbea-11e8-9c98-e2c293c283df.png">

[2018-09-19 00:12] fkazemian commented on #9
Hi @natashawatkins , Thanks, so I'll go through all of the lectures from compare-lectures.quantecon.org (latest build) and document the errors and warnings from outputs here.

[2018-09-19 01:27] fkazemian commented on #9
- [ ] py_source/about_py.rst
- [ ] py_source/additive_functionals.rst
- [ ] py_source/aiyagari.rst
- [ ] py_source/amss.rst
- [ ] py_source/amss2.rst
- [ ] py_source/amss3.rst
- [ ] py_source/arellano.rst
- [ ] py_source/arma.rst
- [ ] py_source/calvo.rst
- [ ] py_source/career.rst
- [ ] py_source/chang_credible.rst
- [ ] py_source/chang_ramsey.rst
- [ ] py_source/classical_filtering.rst
- [ ] py_

[2018-09-19 02:01] fkazemian commented on #9
- [x] - py_source/debugging.rst
- [ ] - py_source/discrete_dp.rst
- [x] - py_source/dyn_stack.rst
- [x] - py_source/egm_policy_iter.rst
- [ ] - py_source/estspec.rst
- [x] - py_source/finite_markov.rst
- [x] - py_source/getting_started.rst
- [x] - py_source/harrison_kreps.rst
- [x] - py_source/hist_dep_policies.rst
- [x] - py_source/ifp.rst
- [x] - py_source/jv.rst
- [x] - py_source/kalman.rst

-

[2018-09-19 02:56] fkazemian commented on #9
- [x] - py_source/lake_model.rst
- [x] - py_source/linear_algebra.rst
- [x] - py_source/linear_models.rst
- [x] - py_source/lln_clt.rst
- [x] - py_source/lqcontrol.rst
- [x] - py_source/lqramsey.rst
- [x] - py_source/lu_tricks.rst
- [x] - py_source/lucas_model.rst
- [x] - py_source/markov_asset.rst
- [x] - py_source/markov_perf.rst
- [x] - py_source/matplotlib.rst
- [x] - py_source/matsuyama.rst
-

[2018-09-19 04:03] fkazemian commented on #9
- [x] - py_source/numba.rst
- [x] - py_source/numpy.rst
- [x] - py_source/odu.rst
- [x] - py_source/ols.rst
- [x] - py_source/oop_intro.rst
- [x] - py_source/opt_tax_recur.rst
- [x] - py_source/optgrowth.rst
- [x] - py_source/orth_proj.rst
- [x] - py_source/pandas.rst
- [x] - py_source/pandas_panel.rst
- [x] - py_source/perm_income.rst
- [x] - py_source/perm_income_cons.rst
- [x] - py_source/pytho

[2018-09-19 04:29] fkazemian commented on #9
- [x] - py_source/rational_expectations.rst
- [x] - py_source/rob_markov_perf.rst
- [x] - py_source/robustness.rst
- [x] - py_source/samuelson.rst
- [x] - py_source/schelling.rst
- [x] - py_source/sci_libs.rst
- [x] - py_source/scipy.rst
- [x] - py_source/short_path.rst
- [x] - py_source/smoothing.rst
- [x] - py_source/stationary_densities.rst
- [x] - py_source/uncertainty_traps.rst
- [x] - py_sou

[2018-09-19 04:36] fkazemian commented on #9
Hi @mmcky and @natashawatkins , I went through the lectures and looked for warnings, lectures with warnings in output are:
py_source/additive_functionals.rst
py_source/amss.rst
py_source/amss2.rst
py_source/amss3.rst
py_source/arma.rst
py_source/chang_credible.rst
py_source/chang_ramsey.rst
py_source/discrete_dp.rst
py_source/estspec.rst
py_source/finite_markov.rst
py_source/hist_dep_policies.rst

[2018-09-19 05:01] mmcky commented on #45
@fkazemian I have put together a PR that should fix the index issues during compilation.
https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/111

However it changes the internal implementation when writing lists. @fkazemian  I am in the process of updating the lecture set on compare-lectures.quantecon.org to be from this branch of ``jupinx``. When I let you know on slack that the site is updat

[2018-09-19 06:07] mmcky commented on #45
@fkazemian

- [ ] `amss2` is not fixed on compare-lectures.quantecon.org as that is a fix that happened at the rst level and I have not updated my source files in the build repository.

When you have a chance to check other lists that would be great. Thanks

[2018-09-19 07:55] mmcky commented on #47
Class for input prompt in generated `nbconvert` output

[code]

[2018-09-19 08:06] mmcky commented on #30
@mmcky look at adding a tag / metadata for tables. ``<table border=“1” class=“docutils”>`` should render with the old css we have

[2018-09-19 15:42] DrDrij commented on #47
Styles have been added!

![image](https://user-images.githubusercontent.com/5886045/45764606-c2acd880-bc3b-11e8-9394-57c882ee474b.png)

[2018-09-19 16:42] jstac commented on #47
@DrDrij Looks great

[2018-09-19 21:05] DrDrij commented on #47
@jstac Thanks. Note: I've hidden the numbering that was being outputted as it didn't fit when put in the margin:

![image](https://user-images.githubusercontent.com/5886045/45781515-e0dcfd80-bc68-11e8-9114-307a7f4f6325.png)

[2018-09-19 22:32] jstac commented on #47
All good.

[2018-09-19 22:45] mmcky commented on #47
thanks @DrDrij this looks good.

[2018-09-20 00:19] mmcky opened #49 "Sphinx Warnings that need to be resolved"
Here is a list of sphinx warnings that should be resolved.

[2018-09-20 00:44] mmcky commented on #47
This is being picky - can the `Out` text be aligned with the first line of text?

Also it seems in some multiline output cases the Out doesn't show up

<img width="748" alt="image" src="https://user-images.githubusercontent.com/8263752/45789273-27ab1180-bcc2-11e8-827b-8ac1da31a85e.png">

[2018-09-20 04:17] fkazemian opened #50 "checking nested lists and internal markup in list text"
check lists which had problem ( Issue #4 )
- [ ] amss
- [x] amss2
- [x] amss3
- [x] arellano
- [x] calvo
- [x] career
- [ ] chang_credible
- [x] discrete_dp
- [x] dyn_stack
- [x] getting_started
- [x] jv
- [x] kalman
- [x] linear_models
- [x] lqcontrol
- [x] lqramsey
- [x] lu_tricks
- [x] lucas_model
- [x] markov_perf
- [x] multiplicative_functionals
- [ ] opt_tax_recur
- [x] optgrowth
- [x] orth_

[2018-09-20 05:14] fkazemian commented on #50
arellano was
![45006162-e0265380-b03a-11e8-98c4-f6c8a0b036b1](https://user-images.githubusercontent.com/20714542/45797187-b1b9a100-bce7-11e8-8fde-04964a071b40.png)

![45006167-e4eb0780-b03a-11e8-86b6-b353a4c2d7fd](https://user-images.githubusercontent.com/20714542/45797188-b1b9a100-bce7-11e8-88fe-fe8f12b9b53d.png)

the first one fixed but the second one is
![screenshot from 2018-09-20 15-12-12](ht

[2018-09-20 05:17] mmcky commented on #50
thanks @fkazemian it looks like I've messed up the list construct when trying to add index support.

[2018-09-20 05:18] fkazemian commented on #50
chang_credible was
![1](https://user-images.githubusercontent.com/20714542/45797348-6f449400-bce8-11e8-9fd4-19784adef5bb.png)

![2](https://user-images.githubusercontent.com/20714542/45797352-710e5780-bce8-11e8-915f-d397187791db.png)

the first one fixed but the second one is:
![screenshot from 2018-09-20 15-17-15](https://user-images.githubusercontent.com/20714542/45797357-79ff2900-bce8-11e8-8c44

[2018-09-20 05:32] mmcky commented on #50
hi @fkazemian the instance has been updated without ``index`` support. Can you check those cases you found above and let me know if they have been fixed by adding a comment to each. Thanks!

[2018-09-20 05:37] fkazemian commented on #50
@mmcky I just checked, as you can see bellow arellano is fixed:

![screenshot from 2018-09-20 15-35-12](https://user-images.githubusercontent.com/20714542/45797880-0dd1f480-bceb-11e8-9da6-2344d33f1345.png)

but the others not, for example amss:
![screenshot from 2018-09-20 15-35-50](https://user-images.githubusercontent.com/20714542/45797902-2215f180-bceb-11e8-976e-2d5df91709c7.png)

[2018-09-20 05:50] fkazemian commented on #50
opt_tax_recur
multi-level lists are fixed but those one with numerical index have still some problem:

![screenshot from 2018-09-20 15-32-57](https://user-images.githubusercontent.com/20714542/45798334-e1b77300-bcec-11e8-8f29-17c3ba7d21ff.png)

![screenshot from 2018-09-20 15-32-29](https://user-images.githubusercontent.com/20714542/45798335-e1b77300-bcec-11e8-87c8-8e8adc9f02e9.png)

[2018-09-20 05:52] fkazemian commented on #50
If we want to be too strict, optgrowth is:
![screenshot from 2018-09-20 15-51-37](https://user-images.githubusercontent.com/20714542/45798419-30650d00-bced-11e8-9a74-37024076d660.png)
but I suppose there is no problem, so I checked it as fixed

[2018-09-20 05:56] mmcky commented on #50
I think I know what the problem is with `index` support. I will work on a fix now.

Can you post the source for `optgrowth`?

[2018-09-20 05:58] mmcky commented on #37
@DrDrij I have added a workaround during ``jupinx`` compilation to use ``html`` instead of ``ipynb``

https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/113

[2018-09-20 05:58] #37 closed

[2018-09-20 06:01] fkazemian commented on #50
@mmcky , `optgrowth` is a list here. the code for  is
[code]

[2018-09-20 06:05] fkazemian commented on #50
python_advanced_features:    (I'll check it, I think the problem is related to `rst` )
![screenshot from 2018-09-20 16-03-36](https://user-images.githubusercontent.com/20714542/45798903-f432ac00-bcee-11e8-8c5e-b8ac5a7f6a88.png)

[2018-09-20 06:09] fkazemian commented on #50
for python_by_example, all of them are fixed, but I think this list is not beautiful which has 1, 2 and again 1,2, anyway it is fixed.

![screenshot from 2018-09-20 16-06-58](https://user-images.githubusercontent.com/20714542/45799044-80dd6a00-bcef-11e8-8189-ec788dc5e80f.png)

[2018-09-20 06:41] natashawatkins commented on #49
These issues seemed to be introduced when I ran jinja 'for the last time'

[2018-09-20 09:31] mmcky commented on #50
- [ ] compare-lectures has been updated with all the fixes discussed above

[2018-09-20 09:32] mmcky commented on #41
Closing as we now have basic support for `html-class` passthrough in the theme.

[2018-09-20 09:32] #41 closed

[2018-09-20 09:34] mmcky commented on #5
https://github.com/mmcky/quantecon.build.lectures/pull/6

[2018-09-20 09:35] mmcky commented on #6
thanks @DrDrij. I am closing this as I think this is now fixed based on compare-lectures.quantecon.org.
I have opened https://github.com/mmcky/quantecon.build.lectures/pull/6 to add css into the build chain but can update that branch from the compare-lectures if that is easier.

[2018-09-20 09:35] #6 closed

[2018-09-20 09:36] mmcky commented on #8
@DrDrij the latest adjustments seem to have worked well for equations. Thanks! I will close this and if I spot any regressions or edge cases I will open a separate issue.

[2018-09-20 09:37] mmcky commented on #10
- [ ] @fkazemian would you mind rechecking this and close if fixed. Thanks.

[2018-09-20 09:39] mmcky commented on #12
@DrDrij the latest adjustments seem to have worked well for equations. Thanks! I will close this and if I spot any regressions or edge cases I will open a separate issue.

[2018-09-20 09:39] #12 closed

[2018-09-20 09:40] mmcky commented on #16
- [ ] just merged #17 so this should be checked tomorrow (@fkazemian)

[2018-09-20 09:41] mmcky commented on #19
- [ ] @fkazemian would you mind reviewing this issue and letting me know if I can close?

[2018-09-20 09:42] mmcky commented on #20
@fkazemian would you mind having a look at figures in general with the latest adjustments to theme. I think they look pretty good now and we can always adjust via `:scale:` if needed in the rst.

[2018-09-20 09:44] mmcky commented on #24
- [ ] @mmky work on injecting `html` into markdown cells with the correct class assignment for @DrDrij to edit in the theme. I think I will try:

[code]
and wrap the epigraph object?

[2018-09-20 09:45] mmcky commented on #45
- [ ] @fkazemian would you mind checking the index objects that have been created this afternoon and are now live on compare-lectures.quantecon.org

[2018-09-20 09:47] mmcky commented on #44
these are now included in the notebook but it appears they still don't get executed by our notebook runner. Here is a screenshot of ``python_essentials`` on the compare server

![image](https://user-images.githubusercontent.com/8263752/45810390-e5a7bd00-bd0d-11e8-85d7-9a3d7e07274a.png)

[2018-09-20 10:04] mmcky commented on #44
might have to transform executed notebooks to include calls to the magic functions when running on the ``python3`` executor

[code]

https://nbconvert.readthedocs.io/en/5.x/customizing.html

[2018-09-20 16:34] DrDrij commented on #24
@mmcky It appears you have already fixed this? The mentioned lectures on the compare site are no longer being wrapped in <pre><code> elements - and thus displaying without the gray background.

[2018-09-21 00:26] fkazemian commented on #10
Hi @mmcky , I'll check them now
- [ ] ./stationary_densities.rst:.. only:: latex
- [ ] ./index_undergrad.rst:.. only:: latex
- [ ] ./index_undergrad.rst:.. only:: latex
- [ ] ./linear_algebra.rst:.. only:: latex
- [ ] ./arma.rst:.. only:: latex
- [ ] ./pandas.rst:.. only:: latex
- [ ] ./pandas.rst:.. only:: latex
- [ ] ./pandas.rst:.. only:: latex
- [ ] ./mle.rst:.. only:: latex
- [ ] ./linear_mod

[2018-09-21 00:55] fkazemian commented on #10
@mmcky , All of them fixed but the only thing is ` index_postgrad `, `index_undergrad` and `index` are used two times .. only:: latex,
[code]

and

[code]
the first one is Ok, but I can't find the second one. so, I change the label to `Question` instead of `fixed`, and remove the label `bug`, If you think it's alright and index files is not an issue here for this specific problem, every thing is f

[2018-09-21 00:58] fkazemian commented on #16
Hi @mmcky , It is fixed. I change the label to `fixed`.
![screenshot from 2018-09-21 10-58-03](https://user-images.githubusercontent.com/20714542/45854229-504c0d80-bd8d-11e8-9f3f-bfa9be764bf2.png)

[2018-09-21 01:07] fkazemian commented on #20
@mmcky

career    **is fixed**
it was
![1](https://user-images.githubusercontent.com/20714542/45854409-4e367e80-bd8e-11e8-9db1-b74dd288f5f6.png)

and now it is  like:
![screenshot from 2018-09-21 11-02-07](https://user-images.githubusercontent.com/20714542/45854312-de27f880-bd8d-11e8-92b5-a0428201b218.png)

coleman_policy_iter  **is not fixed**
it was
![2](https://user-images.githubusercontent.com

[2018-09-21 01:38] mmcky commented on #10
@fkazemian the ``latex`` blocks should be completely ignored. Is there an ``html`` with the first box in the rst file?

[2018-09-21 01:39] mmcky commented on #16
thanks @fkazemian

[2018-09-21 01:39] #16 closed

[2018-09-21 01:40] fkazemian commented on #45
Hi @mmcky , I'm checking them ...

[2018-09-21 01:43] mmcky commented on #20
thanks @fkazemian -- the only thing I can think of is that markdown image scaling is working without constraints to the ``html`` page. The aspect ration of the graph in ``finite_markov`` seems better than what we had before. Does changing the scale affect the output. Should we just update the RST for these two cases?
- [ ] ``finite_markov``
- [ ] ``coleman_policy_iter``

[2018-09-21 01:48] mmcky commented on #44
- [ ] updated on compare

[2018-09-21 01:55] mmcky commented on #30
ok -- so the problem here is that we build `markdown` tables not `html` tables so `nbconvert` is building the table in `html` for us. @DrDrij would it be useful if I injected an `html` comment before the table that could be used to change the class?

[2018-09-21 01:59] mmcky commented on #30
ultimately we will probably need to write an html table (as an option) to pass through the class information. This is a big task so will try and think of a short term solution.

These are the methods we use to build the markdown

[code]

[2018-09-21 02:02] mmcky commented on #30
https://github.com/QuantEcon/sphinxcontrib-jupyter/issues/54

[2018-09-21 02:05] mmcky commented on #30
for the example above the html should be

[code]

[2018-09-21 02:10] fkazemian commented on #45
about_py
index is fine but there is a tag div here
![screenshot from 2018-09-21 11-20-49](https://user-images.githubusercontent.com/20714542/45854833-7f17b300-bd90-11e8-91bd-62f19a563a6a.png)

there is no problem with aiyagari, but you don't think it should have an index? ( the live version dosen't have it as well)
![screenshot from 2018-09-21 11-23-55](https://user-images.githubusercontent.com/20

[2018-09-21 02:34] fkazemian commented on #19
Hi @mmcky It is fixed and I change the label to fixed

[2018-09-21 02:39] mmcky commented on #19
thanks @fkazemian

[2018-09-21 02:39] #19 closed

[2018-09-21 03:28] mmcky commented on #45
@DrDrij it looks like you modify the local `toc` in the theme to drop `Contents` and the top level, as I just build off of the `toc` branch and it seems that within lectures `toc` objects are fixed. If this is the case I will remove my patch from ``jupinx`` to drop a level.

[2018-09-21 03:29] mmcky commented on #45
![image](https://user-images.githubusercontent.com/8263752/45858777-50a2d380-bda2-11e8-9009-439326cb6f5f.png)

[2018-09-21 03:35] mmcky commented on #45
ahh - I see. https://github.com/mmcky/quantecon.build.lectures/commit/24756155a016f856031f7103dc86d4120e2bf45f#diff-c45e43ff5986a2189468b78b4c57c2c8R915. I will remove the patch I made to ``jupinx`` this is much better

[2018-09-21 05:06] mmcky commented on #45
ok - the python index pages should now be working.

[2018-09-21 05:07] mmcky commented on #45
@fkazemian would you mind checking the python related index pages and let me know if they are ok?

[2018-09-21 05:07] mmcky commented on #44
@fkazemian would you be able to check the ``ipython`` blocks in the newly updated set of files?

[2018-09-21 05:08] mmcky commented on #50
@fkazemian would you mind checking these issues on the latest set of files on compare?

[2018-09-21 06:07] fkazemian commented on #50
Hi @mmcky , sure

- [ ] amss
- [ ] amss2
- [ ] amss3
- [ ] arellano
- [ ] calvo
- [ ] career
- [ ] chang_credible
- [ ] discrete_dp
- [ ] dyn_stack
- [ ] getting_started
- [ ] jv
- [ ] kalman
- [ ] linear_models
- [ ] lqcontrol
- [ ] lqramsey
- [ ] lu_tricks
- [ ] lucas_model
- [ ] markov_perf
- [ ] multiplicative_functionals
- [ ] opt_tax_recur
- [ ] optgrowth
- [ ] orth_proj
- [ ] pandas
- [ ] p

[2018-09-21 06:34] mmcky commented on #26
status of this ability can be tracked https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/115

[2018-09-21 06:50] fkazemian commented on #50
amss is like
![screenshot from 2018-09-21 16-09-26](https://user-images.githubusercontent.com/20714542/45863282-ca45bc00-bdb8-11e8-9d60-b2d16edb7c32.png)

but I mark it as fixed.

chang_credible
![screenshot from 2018-09-21 16-17-38](https://user-images.githubusercontent.com/20714542/45863546-f1e95400-bdb9-11e8-8df3-adb70adb4f8b.png)

opt_tax_recur is like
![screenshot from 2018-09-21 16-46-20](ht

[2018-09-21 07:01] fkazemian commented on #50
python_oop
it seems code is not supported in nested lists:
![screenshot from 2018-09-21 16-54-05](https://user-images.githubusercontent.com/20714542/45865097-b81b4c00-bdbf-11e8-9ebb-1cd400ce6518.png)

code:
[code]

[2018-09-21 07:14] fkazemian commented on #50
Hi @mmcky I fixed the problem for chang_credible in PR  #56

[2018-09-21 07:15] fkazemian commented on #50
The only problem as you can see is supporting code inside of lists, if we don't attention to that here I have to tell this issue is fixed. I change the label to question and fixed.

[2018-09-21 07:20] fkazemian commented on #45
Hi @mmcky they are now like
![screenshot from 2018-09-21 17-18-55](https://user-images.githubusercontent.com/20714542/45865952-88217800-bdc2-11e8-958f-5c918aa2abea.png)

but we can see the problems I mentioned above.

[2018-09-21 09:30] mmcky commented on #26
As this approach may take some time -- I will look at implementing code block ``none`` and see if we can passthrough the class to the html.

[2018-09-21 09:32] mmcky commented on #24
Fixed.

[2018-09-21 09:32] #24 closed

[2018-09-22 15:00] jstac commented on #35
Closing since we'll tackle this in

https://github.com/jstac/jitting_py_lectures/issues/1

[2018-09-23 13:42] DrDrij commented on #30
One temporary possibility is if possible to append a element. eg. `<div class="content-table"></div>...<table>`

I can then hook onto the the table using `.content-table + table {...}`

This CSS selector looks for the next sibling element in the HTML.

[2018-09-23 23:16] mmcky commented on #30
thanks @DrDrij I think that will be best way to go in the short term.

[2018-09-23 23:28] mmcky commented on #5
- [ ] @mmcky to add report ``json`` file to ``_static``

[2018-09-23 23:31] mmcky commented on #25
@DrDrij still not sure how to support rendering of the footnotes (within the text). The ``<sup>`` markup is passing through but the markdown (which is embedded in the html) is clearly not rendering via ``nbconvert``. Is there a way to fix this in ``html`` -- otherwise I may need to add ``html`` links in the sup. Could you let me know what you would need (just a ``<aref>``) and I will update jupinx

[2018-09-23 23:36] mmcky commented on #8
thanks @DrDrij I will leave this one with you to investigate this week.

[2018-09-23 23:38] mmcky commented on #9
@natashawatkins and @fkazemian can I leave this issue with you to fix? Let me know if there are issues that can't be resolved within the source code and I will look at a way to fix in jupinx etc.

[2018-09-23 23:40] mmcky commented on #10
thanks @fkazemian the Acknowledgements are treated differently in the `html` side and there is no corresponding ``html`` section. I think this can be closed.

[2018-09-23 23:40] #10 closed

[2018-09-23 23:41] mmcky commented on #26
- [ ] @mmcky too first check if we can continue execution to generate error output

[2018-09-23 23:55] fkazemian commented on #30
Thanks @mmcky , I can go through lectures and document lectures which have table and add this tag.

[2018-09-24 00:29] fkazemian commented on #30
- [ ] - py_source/about_py.rst
- [ ] - py_source/additive_functionals.rst
- [ ] - py_source/aiyagari.rst
- [ ] - py_source/amss.rst
- [ ] - py_source/amss2.rst
- [ ] - py_source/amss3.rst
- [ ] - py_source/arellano.rst
- [ ] - py_source/arma.rst
- [ ] - py_source/calvo.rst
- [ ] - py_source/career.rst
- [ ] - py_source/chang_credible.rst
- [ ] - py_source/chang_ramsey.rst
- [ ] - py_source/classic

[2018-09-24 01:18] fkazemian commented on #30
harrison_kreps
![screenshot from 2018-09-24 11-17-43](https://user-images.githubusercontent.com/20714542/45935146-943c4e00-bfeb-11e8-9ef7-6a6c8d838ebb.png)
![screenshot from 2018-09-24 11-17-21](https://user-images.githubusercontent.com/20714542/45935147-943c4e00-bfeb-11e8-89fd-ccde2e850af3.png)

[2018-09-24 01:53] fkazemian commented on #30
mle
(table as output)
![screenshot from 2018-09-24 11-52-16](https://user-images.githubusercontent.com/20714542/45935624-7b826700-bff0-11e8-87fd-f48a9be378be.png)

[2018-09-24 02:02] fkazemian commented on #30
ols
 (table as output)
![screenshot from 2018-09-24 12-01-07](https://user-images.githubusercontent.com/20714542/45935732-b1741b00-bff1-11e8-882f-5aa37c12efe5.png)

[2018-09-24 02:12] fkazemian commented on #30
pandas
(table as output)
![screenshot from 2018-09-24 12-11-17](https://user-images.githubusercontent.com/20714542/45935853-19773100-bff3-11e8-95ad-a39f0e3f6b4c.png)
![screenshot from 2018-09-24 12-11-01](https://user-images.githubusercontent.com/20714542/45935854-1a0fc780-bff3-11e8-93aa-0fb607123cf6.png)

[2018-09-24 02:15] fkazemian commented on #30
pandas_panel
 (table as output)
![screenshot from 2018-09-24 12-13-28](https://user-images.githubusercontent.com/20714542/45935895-88ed2080-bff3-11e8-847e-fb360d6ca6ca.png)

![screenshot from 2018-09-24 12-13-20](https://user-images.githubusercontent.com/20714542/45935896-88ed2080-bff3-11e8-87fe-813322ea0377.png)

![screenshot from 2018-09-24 12-13-42](https://user-images.githubusercontent.com/207

[2018-09-24 03:33] fkazemian commented on #30
Hi @mmcky

you mean I have to change

[code]

to
[code]
?
I try this,  but it's not working.

[2018-09-24 05:47] fkazemian commented on #20
Hi @mmcky  I just checked finite_markov, It is not changing by different scales!

[2018-09-24 06:03] fkazemian commented on #20
@mmcky I also test

[code]
and

[code]

both of them are the same:
![screenshot from 2018-09-24 15-59-55](https://user-images.githubusercontent.com/20714542/45939105-518e6c00-c013-11e8-85d5-5d2d85648912.png)

[2018-09-24 18:16] natashawatkins commented on #49
What should I do when we want to reference an output figure?

[2018-09-24 18:38] natashawatkins commented on #9
@mmcky I've fixed one of the errors in mle in #60. Another one I don't think I can fix because it's in the `statsmodels` package, and the other is left in on purpose (the surrounding text looks at the warning message)

[2018-09-24 18:42] natashawatkins commented on #20
Yeah I'm confused about why jupinx now is inserting really large figures in the jupyter notebooks, which is wasn't doing in the old repository. Was there some change in the settings?

[2018-09-24 18:43] natashawatkins commented on #32
Yeah that is what I meant

[2018-09-25 15:55] DrDrij commented on #25
@mmcky No way to reliably do it with the HTML that is generated.

So a footnote reference such as `<sup>[2](#f2)</sup>`

Should be rendered as `<sup><a href="#f2">[2]</a></sup>`

[2018-09-25 16:06] DrDrij commented on #30
Hi @fkazemian the tables in pandas_panel appear to be PNG images in the live lectures. Is there a reason they can't be used on the new renderings?

[2018-09-25 16:20] DrDrij commented on #47
Out label now aligned with first row - thanks for picking this up @mmcky

qe.css is now at v2.4 - I've updated on your repo

[2018-09-25 17:36] DrDrij commented on #8
Troubleshooting...

So taking that MathJax code and placing it outside of a table makes no difference. The equation does not load.

`$$
\theta_0 & = \theta_0^* \\
\mu_t &  = b_0 + b_1 \theta_t \\
\theta_{t+1} & = d_0 + d_1 \theta_t
$$`

Pasting the below code from the live lectures into that table cell works fine and renders the equation.

`\[\begin{split}\theta_0 &amp; = \theta_0^* \\
\mu_t &amp;

[2018-10-01 15:01] natashawatkins opened #67 "Status buttons not visible on mobile site"
When viewing the status page (https://lectures.quantecon.org/status.html) on mobile, status buttons aren't visible

[2018-10-01 19:20] DrDrij commented on #67
This has been addressed on the current lecture site and quantecon.build.lectures jupinx repo.

[2018-10-02 00:35] mmcky commented on #47
thanks @DrDrij does this also resolve `out` not showing up for multiline output?

[2018-10-02 00:50] mmcky commented on #20
hey @DrDrij what about using ``:scale:`` which preserves the aspect ratio? I don't think we will want to be contained to just setting based on class options.

[2018-10-02 04:47] mmcky commented on #25
this should be fixed by: https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/119

[2018-10-02 13:51] DrDrij commented on #47
@mmcky Having trouble locating an example. I did find the following which looked ok:

![image](https://user-images.githubusercontent.com/5886045/46352851-71511000-c663-11e8-8a0f-217eda7e8781.png)

[2018-10-02 13:53] DrDrij commented on #20
@mmcky No worries. I'll reverse the CSS for overriding width.

[2018-10-02 20:33] mmcky commented on #25
@fkazemian would you be able to check the footnotes fix? It should now be live on compare.

[2018-10-02 22:47] fkazemian commented on #25
Hi @mmcky sure

[2018-10-02 22:48] mmcky commented on #26
Continued execution of notebook has been added to the builder. This means the Traceback output can be generated (assuming the logic in the notebook doesn't require a reset kernel).

- [ ] remove relevant ``.. code-block:: none`` with output
- [ ] remove ``:no-execute:`` tags in RST for cells that produce an error

[2018-10-02 23:03] fkazemian commented on #25
in the lecture they are fine:
![screenshot from 2018-10-03 08-58-02](https://user-images.githubusercontent.com/20714542/46381813-30044300-c6eb-11e8-86e7-854276799fec.png)

but we can't have access to the related text by footnotes:
![screenshot from 2018-10-03 08-58-13](https://user-images.githubusercontent.com/20714542/46381827-3db9c880-c6eb-11e8-85d3-97575fbc7988.png)

(amss)

[2018-10-02 23:18] fkazemian commented on #30
Hi @DrDrij That's interesting because I never pay attention to that and I didn't know it's PNG file, in the generated version is not PNG and It's an output of for example this code:

[code]

[2018-10-02 23:42] fkazemian commented on #44
Hi @mmcky this issue is fixed. I change the label to fixed. Thanks

[2018-10-03 02:53] mmcky commented on #26
@fkazemian as per above comments can you look through the lectures for ``.. code-block:: none`` and ``:no-execute:`` flags on code-blocks to remove error output (it can now be generated without blocking the rest of the notebooks execution. Please open a single PR per lecture (to minimise the potential for collisions and ease of resolving conflicts). PR #70 is not complete as the ``.. code-block::

[2018-10-03 02:54] mmcky commented on #44
thanks!

[2018-10-03 02:54] #44 closed

[2018-10-03 02:56] mmcky commented on #25
@jstac do you want click back capability from a footnote to the referenced location in the text?
@fkazemian can you let me know what the ``html`` is for the click backs?

[2018-10-03 03:14] mmcky commented on #67
thanks @DrDrij

[2018-10-03 03:14] #67 closed

[2018-10-03 03:39] mmcky commented on #45
@fkazemian so is the only issue now clickable titles?

[2018-10-03 03:41] mmcky commented on #45
@fkazemian can you add a PR to add a `toc` to these lectures.

@jstac can you advise if you wish there to be no `toc` elements for these lectures.

- [ ] `uncertainty_traps`
- [ ] `rob_markov_perf`
- [ ] `markov_perf`
- [ ] `amss3`
- [ ] `aiyagari`

[2018-10-03 03:46] mmcky commented on #5
thanks @DrDrij this is mainly fixed. I will open an issue to track the addition of the `json` report to the `_static` folder

[2018-10-03 03:46] #5 closed

[2018-10-03 03:46] mmcky opened #75 "Add code execution results json file to _static"
quantecon.build.lectures

[2018-10-03 03:51] mmcky commented on #30
@fkazemian what I mean is that we should only need to add the html I listed above just before each table so that the theme can identify certain tables to markup. You shouldn't need to touch the markdown just prepend the table (written in markdown that is translated to html) with the ``div`` above contained in an only html cell.

[2018-10-03 03:52] mmcky commented on #30
@DrDrij the png images would have been from showing the static output. This is probably going to be a style issue with the new tables being generated in the `out` blocks and then converted to html using nbconvert

[2018-10-03 03:56] mmcky commented on #27
@fkazemian are these now fixed?

[2018-10-03 04:00] mmcky commented on #8
@DrDrij this doesn't seem to be a problem on the current live site so the equation LaTeX should be fine. Would you mind comparing with the current live site to see what's different at the `html` level.

[2018-10-03 04:12] fkazemian commented on #26
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block

[2018-10-03 05:18] fkazemian commented on #26
I leave some` .. code-block:: none` unchanged in those lectures which I mentioned them by a pic.

[2018-10-03 06:01] fkazemian commented on #30
Hi @mmcky , @DrDrij
I just checked it and It is not fixed:

![screenshot from 2018-10-03 16-00-20](https://user-images.githubusercontent.com/20714542/46392698-9443f880-c725-11e8-9fc5-2f29ddcc16de.png)

[2018-10-03 06:03] fkazemian commented on #27
Hi @mmcky
finite_markov is not fixed :
![screenshot from 2018-10-03 16-02-09](https://user-images.githubusercontent.com/20714542/46392786-eb49cd80-c725-11e8-82ee-9236bc2d4e6c.png)

[2018-10-03 06:31] mmcky commented on #30
@fkazemian does the output `html` contain the `<div class="content-table"></div>` line? It may not be fully implemented in the css yet.

[2018-10-03 06:40] mmcky commented on #27
@fkazemian I am a little confused. Isn't `finite_markov` fixed by https://github.com/QuantEcon/lecture-source-py/pull/40?

[2018-10-03 06:42] mmcky commented on #27
@fkazemian it looks like the spacing in `Samuelson` rst just needs to be fixed. can you submit a PR?

[code]

[2018-10-03 06:43] fkazemian commented on #27
Hi @mmcky I checked them by http://compare-lectures.quantecon.org/, you are not merging #40 yet, so It's not fixed yet

[2018-10-03 06:43] fkazemian commented on #27
@mmcky sure I'll do it now

[2018-10-03 07:02] fkazemian commented on #27
Hi @mmcky
I add an space but it is not solved:
[code]
![screenshot from 2018-10-03 17-00-51](https://user-images.githubusercontent.com/20714542/46394956-16d0b600-c72e-11e8-81a2-79201f7d5796.png)

[2018-10-03 07:03] mmcky commented on #27
@Fazeleh Kazemian <fazeleh.kazemian@gmail.com> I suspect the space should
be removed as the indentation shouldn't be there. Is that what you mean?

On Wed, Oct 3, 2018 at 5:02 PM fkazemian <notifications@github.com> wrote:

[2018-10-03 07:11] fkazemian commented on #27
@mmcky actually with space and without space it is not working. without space is something like:
![screenshot from 2018-10-03 17-11-01](https://user-images.githubusercontent.com/20714542/46395338-5cda4980-c72f-11e8-997f-226251b5b44f.png)
`   the `LinearStateSpace` class described `here<https://lectures.quantecon.org/py/linear\_models.html>`__`

[2018-10-03 07:12] fkazemian commented on #27
I'll check it and try to fix it.

[2018-10-03 07:57] fkazemian commented on #27
I found it, @mmcky  link has conflict with the space at the beginning of the line
![screenshot from 2018-10-03 17-40-37](https://user-images.githubusercontent.com/20714542/46397514-c5c4c000-c735-11e8-9064-d7e074f5392b.png)

[2018-10-03 08:48] mmcky commented on #27
thanks @fkazemian can you submit a PR when you're ready.

[2018-10-03 13:12] DrDrij commented on #25
@mmcky Here's my suggestion:

**Current inline footnote link:**
`<p>That would let us reduce the beginning-of-period indebtedness for some other history <sup><a href="#fn-b">[2]</a></sup></p>`

**Current footnote:**
`<p><a id="fn-b"></a><strong>[2]</strong> From the first-order conditions for the Ramsey problem, there exists another realization s̃ t with the same history up until the previous peri

[2018-10-03 14:02] DrDrij commented on #30
@fkazemian Can you add the markup as suggested by Matt to your example table? I can then do my testing and write CSS. Once confirmed we could then go through and adjust every table.

lecture: harrison_kreps

[2018-10-04 00:23] mmcky opened #81 "Work on build repository"
This needs to be done in the ``quantecon.build.lectures`` repo:

- [x] integrate ``_static`` files to ``_build_website`` target directories
- [x] provide execution `json` report to ``_static`` folder
- [x] integrate ``Julia`` compilation chain
- [x] assemble complete site and update ``make preview``
- [x] add all necessary theme elements and static objects to support the theme to ``themes/qe/``
-

[2018-10-04 01:39] fkazemian commented on #25
Hi

It's ```

<p><a id="pm"></a>
<em>[1]</em> ........
[code]

[2018-10-04 01:44] fkazemian commented on #27
Hi @mmcky I think this issue is fixed, we only need to merge their PRs

[2018-10-04 05:49] natashawatkins opened #85 "Solution for 'intentional' errors"
We need a way to label cells that produce errors, without having the errors count towards coverage (https://lectures.quantecon.org/status.html). Possible we could introduce a `skip-test` label.

[2018-10-04 15:27] natashawatkins commented on #85
@mmcky thinking about this, I think we need both a `skip-test` label for errors we want to display, and a `no-execute` label for code we don't want run (ie. C code), which should also no count towards the testing stats

[2018-10-05 00:18] mmcky commented on #27
thanks @fkazemian.

[2018-10-05 00:18] #27 closed

[2018-10-05 01:02] mmcky commented on #25
thanks @DrDrij and @fkazemian. This issue should now by fixed by: https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/126. Rerunning compiler now and will upload to compare-lectures shortly.

[2018-10-05 01:41] mmcky commented on #25
@fkazemian can you please check this now. Thanks.

[2018-10-05 01:43] fkazemian commented on #25
Hi @mmcky , sure

[2018-10-05 01:49] fkazemian commented on #25
@mmcky , Thanks it just works fine, in compare with the live version,  index in footnotes are bold and you use tag <strong> for them, It which is not an issue, I change the label to fixed.

![screenshot from 2018-10-05 11-46-13](https://user-images.githubusercontent.com/20714542/46511902-b0b27300-c894-11e8-8e7c-280090408be9.png)

[2018-10-05 01:52] mmcky commented on #30
@DrDrij I have uploaded a ``harrison_kreps.html`` file on slack that has the additional ``only html`` block added to the ``rst`` file.

[2018-10-05 01:59] mmcky commented on #25
thanks @fkazemian this is great. I will close the issue.
@jstac are you happy with the bold footnote numbers here?

[2018-10-05 01:59] #25 closed

[2018-10-05 02:15] mmcky commented on #47
the outs in the following section don't seem to appear:
http://compare-lectures.quantecon.org/python_advanced_features.html#Name-Resolution

[2018-10-05 07:55] mmcky opened #88 "Issues with top level index.html file"
<img width="1860" alt="image" src="https://user-images.githubusercontent.com/8263752/46523020-cd1bd300-c8c7-11e8-8d58-b06d33e4df35.png">

@DrDrij is this a theme issue or do I need to dig into ``jupinx``?

[2018-10-05 10:13] DrDrij commented on #88
@mmcky Yeah I think jupinx will need a look at. Not generating nested lists correctly. Should be something like:

[code]

[2018-10-05 11:11] DrDrij commented on #47
@mmcky I've made all the prompt markers CSS based. The "In" and "Out" labels are added by the CSS where respective classes exist. This is regardless of the labels appearing in the HTML, any that exist are hidden.

So any inputs (prompt areas) that don't have a label now are missing both appropriate classes to hook onto and HTML labels. If we wan't to add labels to those I think it will need some w

[2018-10-05 11:47] DrDrij commented on #30
@mmcky Added the styles to your repo and compare subdomain. However - jupinx needs a small update - can you please switch out the curly quotes for standard quotes on the `<div class="content-table"></div>` markup? Currently the HTML there is invalid.

![image](https://user-images.githubusercontent.com/5886045/46533503-84efb700-c8ad-11e8-86b1-1dbb114689f7.png)

[2018-10-05 11:52] DrDrij commented on #20
I've kept a `max-width:100%;` style on images - so images shouldn't be larger than their parent element (images shouldn't break out of the content area).

So images can now be adjusted manually - but will never extend the content area.

[2018-10-06 03:34] mmcky commented on #20
perfect - thanks @DrDrij

[2018-10-06 03:35] mmcky commented on #47
roger that -- thanks @DrDrij I will dig a bit further into this one. Not sure why they are different.

[2018-10-06 03:36] mmcky commented on #49
@natashawatkins I think the only thing we can do for now is add a label reference before the code block that generates the output figure? What do you think?

[2018-10-06 07:41] natashawatkins commented on #49
Yeah i agree

[2018-10-10 23:19] mmcky commented on #30
thanks @DrDrij I have made some adjustments to ``jupinx`` and sent through ``harrison_kreps`` via slack on the solution suggested above.

[2018-10-11 00:30] mmcky commented on #88
the issue was incorrect spacing after a `raw` directive being applied. This has been fixed in https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/128

[2018-10-11 00:30] #88 closed

[2018-10-11 00:34] mmcky commented on #30
@DrDrij looks like the tables are now getting rendered correctly. Neat!

<img width="1853" alt="image" src="https://user-images.githubusercontent.com/8263752/46773501-755aed00-cd49-11e8-9870-1676a60fc83e.png">

@fkazemian can you look at the PR #87 as an example and add the raw directive (on a lecture-by-lecture basis) to other tables contained in the lectures?

[2018-10-11 02:40] mmcky commented on #85
@natashawatkins thinking this through over the past through days. I think it might be best to use.

- [ ] ``:allow-error:`` for cell-blocks that should execute (when compiling the website) but don't execute when running the `coverage` test suite. In the future we could add error types such as ``ValueError`` to catch only specific error types etc. For now it will be just a boolean flag. It is also

[2018-10-11 04:13] mmcky commented on #85
This PR https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/129 implements the SHORT TERM solution for this issue. The Makefile for ``quantecon.build.lectures` has also been updated.

[2018-10-11 04:40] fkazemian commented on #45
- [ ] `uncertainty_traps`
- [ ] `rob_markov_perf`
- [ ] `markov_perf`
- [ ] `amss3`
- [ ] `aiyagari`

[2018-10-11 05:38] fkazemian commented on #30
Hi @mmcky in the other lectures as you can see above, tables are png images as an output in live version and they're an output. when I'm running them locally they're totally fine, but as html not. I think this rule is not practical for these kind of tables. we have to fix them or

- [ ] 1. I can make a png table exactly like the live version and ignore output
- [ ] 2. I can make tables like the ta

[2018-10-11 05:44] mmcky opened #91 "FIX: Short term fix for file dependencies"
In the short term I will add copying of dependent files to the build scripts but in the future this needs to be handled better using ``jupinx`` (see https://github.com/QuantEcon/sphinxcontrib-jupyter/issues/107)

The files that need to be manually copied are:

- [ ] ``us_cities.txt`` in ``python_advanced_features``

Given this file is generated by another lecture we will need to think about execut

[2018-10-11 05:47] mmcky commented on #30
thanks @fkazemian would you mind posting an example?

If the table is generated by code then it should be generated when we execute the notebook and we can remove the png file. however if the png file is referenced within text then we will have to think about this a bit further.

[2018-10-11 06:06] natashawatkins commented on #85
So at the moment we won't be displaying errors? Does that mean that we need to manually put them in?

[2018-10-11 06:09] mmcky commented on #85
@natashawatkins not sure what you mean here. This allows for those `:no-execute:` statements to be ignored during the compilation of the notebook so they will be in execute blocks rather than markdown blocks.

[2018-10-11 06:16] natashawatkins commented on #85
I'm confused - there are two separate cases:
1. Code that intentionally has an error and we want to display the error output.
2. Code that should not be executed - we don't want to display the error. Eg. a partial solution to an exercise, see here: https://lectures.quantecon.org/py/python_advanced_features.html#exercise-2

`no-execute` should be used in the second case - is that right?

[2018-10-11 06:49] mmcky commented on #85
Ah so there are really 3 cases.

I was working to:

1. Same as your `1` above
2. Show code such as `C` code in a python lecture.

This `2` case is handed by `Jupinx`:

   Also if there are blocks that are not the same as the default language (i.e. python3) then they should be added as markdown blocks anyway in jupinx conversion.

but there is a third case such as your `2` above. Bummer :) Can you

[2018-10-11 06:52] mmcky commented on #91
All generated files are now deposited in the executed directory ``_build_jupyter/py`` -- however execution order now matters. ``python_essentials`` needs to be run before ``python_advanced_features`` and in a multi-threaded execution environment. Cross-dependencies in the lectures is tricky without the pre-generated ``_static`` file.

[2018-10-11 07:14] natashawatkins commented on #85
So what should we do in the first case? Will jupinx insert the error output and not count the error towards the testing stats?

And not that I can think of.

[2018-10-11 13:07] DrDrij commented on #45
It appears what is happening is nbconvert is stumbling with the markdown in the ipynb file. You see in the below link from the TOC list there are brackets within brackets. So link value is being terminated at the first closing bracket.

`    "  - [Calculating  set of sustainable $ (w,\\theta) $ pairs](#Calculating--set-of-sustainable-$-(w,\\theta)-$-pairs)  "`

This results in the href anchor bein

[2018-10-12 04:02] mmcky commented on #85
- [x] added ability to globally `skip-test` and updated `quantecon.build.lectures` and `jupinx` (https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/131)

[2018-10-12 04:18] mmcky commented on #45
thanks @DrDrij - love your work. If we change closing brackets with `%29` should we also adjust opening brackets for consistency?

[2018-10-12 05:08] natashawatkins commented on #85
Is @fkazemian available to work on this maybe? I can check the PRs

[2018-10-12 05:12] fkazemian commented on #85
Hi @natashawatkins  I will do it

[2018-10-12 05:31] mmcky commented on #45
@DrDrij with PR https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/132 I have done that for all inline math that is contained in a topic when targeting `html`.

[2018-10-12 06:14] mmcky commented on #45
this is fixed. thanks @DrDrij and @fkazemian for your input no this.

[2018-10-12 06:14] #45 closed

[2018-10-15 03:02] fkazemian commented on #85
Hi @mmcky
I think in here we have to use
`skip-test for anything that should be executed (i.e. purposeful error) but shouldn't be counted in any coverage tests`
![screenshot from 2018-10-15 13-28-47](https://user-images.githubusercontent.com/20714542/46927735-b1ac8700-d082-11e8-9914-3d0bba3c8c47.png)
because we want it to be executed, but when I'm compiling this code:

[code]
but it's not working,

[2018-10-15 05:46] mmcky commented on #85
for `skip-test` to work you will need to latest version of `jupinx` (from `master`). This was only merged yesterday. If you have the latest version please let me know and I will take a closer look.

[2018-10-15 13:00] natashawatkins commented on #85
@fkazemian could you also do this issue in separate PRs for each lecture? thanks

[2018-10-16 23:57] fkazemian commented on #85
excuse me Have you tested the latest version of jupinx locally?
I don't know why mine is like
![screenshot from 2018-10-17 10-56-10](https://user-images.githubusercontent.com/20714542/47054015-64075a00-d1fb-11e8-80cd-52880d6327ad.png)

[2018-10-17 03:53] mmcky commented on #85
hi @fkazemian if you are not using `quanecon.build.lectures` to compile then it is because the theme has not been applied to the generated output.

[2018-10-17 23:06] fkazemian commented on #85
Hi @mmcky Actually I'm using 'quanecon.build.lectures' and I used git pull origin master

[2018-10-25 23:32] fkazemian commented on #85
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block:: none
- [ ] ./rst_files/python_advanced_features.rst:.. code-block

[2018-10-26 00:28] fkazemian commented on #85
- [x]  ./rst_files/stationary_densities.rst: :class: no-execute
- [x] ./rst_files/stationary_densities.rst: :class: no-execute
- [ ] ./rst_files/python_advanced_features.rst: :class: no-execute
- [ ] ./rst_files/python_advanced_features.rst: :class: no-execute
- [ ] ./rst_files/python_advanced_features.rst: :class: no-execute
- [ ] ./rst_files/python_advanced_features.rst: :class: no-execute
- [ ]

[2018-10-26 01:40] natashawatkins commented on #85
@fkazemian could you please include these comments in separate PRs because it's a bit hard to follow the above comment. Thanks

[2018-10-26 02:11] fkazemian commented on #85
sure

[2018-10-26 02:13] fkazemian commented on #85
**python_advanced_features.rst**
for this lecture, If I change something I explained it on its PR #99, and I leave some tags unchanged, so I explained them here:

- [x] ./rst_files/python_advanced_features.rst: :class: no-execute
- [x] ./rst_files/python_advanced_features.rst: :class: no-execute
- [x] ./rst_files/python_advanced_features.rst: :class: no-execute
- [x] ./rst_files/python_advanced_fe

[2018-10-26 04:08] fkazemian commented on #85
- [x]  ./rst_files/stationary_densities.rst: :class: no-execute

[code]
![screenshot from 2018-10-26 11-51-49](https://user-images.githubusercontent.com/20714542/47538175-c9eb9400-d915-11e8-8196-c18c84f85a8d.png)

- [x] ./rst_files/stationary_densities.rst: :class: no-execute
![screenshot from 2018-10-26 11-51-29](https://user-images.githubusercontent.com/20714542/47538145-9a3c8c00-d915-11e8-9c50-

[2018-10-26 04:09] fkazemian commented on #85
- [x] ./rst_files/python_oop.rst: :class: no-execute
- [ ] ./rst_files/python_oop.rst: :class: no-execute
![screenshot from 2018-10-26 11-47-51](https://user-images.githubusercontent.com/20714542/47538068-14204580-d915-11e8-8b6d-6b3d7b32d4e6.png)
it's fine, because by executing it we get a NameError  due to name 'ECDF' is not defined
------------------------------------
- [x] ./rst_files/python_es

[2018-10-26 04:10] fkazemian commented on #85
- [x] ./rst_files/python_oop.rst: :class: no-execute
- [ ] ./rst_files/python_oop.rst: :class: no-execute
![screenshot from 2018-10-26 11-47-51](https://user-images.githubusercontent.com/20714542/47538068-14204580-d915-11e8-8b6d-6b3d7b32d4e6.png)
it's fine, because by executing it we get a NameError  due to name 'ECDF' is not defined
------------------------------------
- [x] ./rst_files/python_es

[2018-10-26 04:13] fkazemian commented on #85
- [x] ./rst_files/sci_libs.rst: :class: no-execute
![screenshot from 2018-10-26 10-18-31](https://user-images.githubusercontent.com/20714542/47535746-9e15e180-d908-11e8-94ec-4c524eabc396.png)
* we have to use `.. code-block:: C` which is fine here, but it also use `:class: no-execute`, I think we don't want to run it as well, so I leave it unchanged:
[code]

[2018-10-26 04:13] fkazemian commented on #85
- [x] ./rst_files/numba.rst: :class: no-execute
![screenshot from 2018-10-26 10-15-41](https://user-images.githubusercontent.com/20714542/47535659-38295a00-d908-11e8-95fd-3f2dfbf1600f.png)
* we have to use `.. code-block:: C` which is fine here, but it also use `:class: no-execute`, I think we don't want to run it as well, so I leave it unchanged
[code]

[2018-10-26 04:14] fkazemian commented on #85
- [x] ./rst_files/python_by_example.rst: :class: no-execute
![screenshot from 2018-10-26 09-59-26](https://user-images.githubusercontent.com/20714542/47535134-f1d2fb80-d905-11e8-8ee2-696caf7dcc48.png)
[code]
- [x] ./rst_files/python_by_example.rst: :class: no-execute
- [x] ./rst_files/python_by_example.rst: :class: no-execute

With the list comprehension syntax, we can simplify the lines
![screens

[2018-10-26 04:14] fkazemian commented on #85
- [x] ./rst_files/jv.rst: :class: no-execute
![screenshot from 2018-10-26 09-55-58](https://user-images.githubusercontent.com/20714542/47535050-71ac9600-d905-11e8-8456-d2d39e196714.png)

[code]

[2018-10-26 05:19] fkazemian commented on #85
Hi @natashawatkins , would you please review these PRs and comments? I leave something unchanged which I explained them in comments here(If there were no PR for them) and I also explain my changes as well.
python_advanced_features                #99
schelling                                              #103
python_essentials                               #98
pandas.rst

[2018-10-30 07:42] natashawatkins commented on #85
@fkazemian I think you've misunderstood the tags - you want to use `:skip-test:` when the error should be generated and displayed, and `:no-execute:` when we don't want the error displayed. Could you be go through and fix the PRs accordingly?

[2018-10-30 07:49] natashawatkins commented on #85
@fkazemian could you also please remove all the tags you've added to `.. code-block:: none` cells  - in some instances these cells should be completely removed if they are automatically generated

[2018-11-06 23:50] mmcky commented on #8
@natashawatkins can you look through this equation and see if you can spot an issue with the latex specification. It appears to not be recognised by mathjax and the `html` sphinx writer is modifying it so that it renders on our current `html` site.

[code]

[2018-11-06 23:55] mmcky commented on #8
@DrDrij do you know an easy way to check mathjax by entering in an equation? Is there a chrome extension -- can't seem to find one.

[2018-11-06 23:58] mmcky commented on #8
Ah Got it -- I think this needs to be wrapped in an aligned for mathjax raw to work.

$$
\begin{aligned}
\theta_{0} &= \theta_{0}^* \\
\mu_t &= b_0 + b_1 \theta_t \\
\theta_{t+1} &= d_0 + d_1 \theta_t
\end{aligned}
$$

[2018-11-06 23:59] mmcky commented on #8
here is a good demo site: https://codepen.io/jrcharney/pen/YNYqNV

[2018-11-07 00:42] mmcky commented on #47
thanks @DrDrij I think this is actually working. There are a couple of things that look like `out` but are in fact not generated out blocks, but rather located in the source RST.

Thanks for your help on this. Closing now.

[2018-11-07 00:42] #47 closed

[2018-11-08 04:29] mmcky commented on #8
@fkazemian I have now recompiled the site to include fixes for this issue.

[2018-11-08 04:33] mmcky commented on #30
@fkazemian from looking at `pandas_panel` they are now rendered in the notebook (during execution) as output.

![image](https://user-images.githubusercontent.com/8263752/48177961-7e9ca100-e36b-11e8-9c22-295ad2f3ab19.png)

therefore these tables may look different to the ones used on `live` as it will depend on `pandas` output settings etc. Is this what you mean by your comment above?

[2018-11-08 04:39] mmcky commented on #50
@natashawatkins for ``python_oop`` example listed above. It appears that many of the items are using a single quote. Do you agree they should be double single quotes (http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html)?

[2018-11-08 04:42] mmcky commented on #85
this is the last remaining `high priority` issue to fix I think :)

[2018-11-08 06:43] mmcky opened #110 "FIX: Code with none highlight in Markdown needs to improve"
Currently ``code-block:: none`` get's included in the markdown but it is not very clean once it is converted to `html`. It is fine in the `ipynb` stage. The example is taken from ``pandas.html``

![image](https://user-images.githubusercontent.com/8263752/48181932-849b7d80-e37d-11e8-985f-a3ccac677580.png)

the ``html``

[code]

@DrDrij is there a way we could address this in the styling?

[2018-11-08 06:49] mmcky commented on #110
@DrDrij I think I have a solution. Perhaps it should be added as `text` in the markdown. It produces the following when converted to `html`
![image](https://user-images.githubusercontent.com/8263752/48182202-78fc8680-e37e-11e8-86c5-62beb42babfa.png)

and `html`

[code]

[2018-11-08 06:50] mmcky commented on #110
- [ ] change to `text` in `markdown` when `none` highlighting is specified

[2018-11-08 22:14] mmcky commented on #110
this is done in https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/141

[2018-11-08 22:14] #110 closed

[2018-11-09 00:58] fkazemian commented on #30
Hi @mmcky yes exactly, I thought I have to change them to make them more neat I didn't know it's depend on Pandas.

[2018-11-09 01:01] fkazemian commented on #85
Hi @natashawatkins @mmcky sure

[2018-11-09 01:35] mmcky opened #112 "FEAT: Add download notebooks (in post-executed form)"
- [x] Need to add download notebooks in the pre-executed form to ``_static/_downloads/ipynb/py`` etc.

- [ ] This will need to be made more independent from global ``_static`` to local ``_static`` for each language.

[2018-11-09 01:37] mmcky opened #113 "FEAT: Add PDF Support"
We will need to focus on PDF support.

It would be nice if PDF could be supported for individual lectures (in addition to the whole site).

- [ ] use current RST to PDF route and hope recent changes haven't broken the LaTeX compilation

- [ ] write a custom LaTeXWriter for sphinx to build individual lectures - and a global pdf file.

[2018-11-09 02:02] mmcky opened #114 "FEAT: Add QuantEcon Banner as Header in Notebooks"
It would be great to add the QuantEcon banner at the top of every download notebook. @DrDrij can you advise on this.

I am thinking of building a `download` set of notebooks that would include a header cell with

[code]

but it doesn't seem to work.

It looks like

![image](https://user-images.githubusercontent.com/8263752/48238620-b49b5d00-e41f-11e8-9074-e3a99e6bcf16.png)

perhaps I don't have al

[2018-11-09 04:04] mmcky commented on #113
the biggest problem here is that we have removed `output` from the source `RST` files. So if we compile from `RST` using sphinx builder then it will be without output blocks.

I have tried the conversion tool `wkhtmltopdf` as attached, but it does not produce good output.

[arma.pdf](https://github.com/QuantEcon/lecture-source-py/files/2564553/arma.pdf)

`nbconvert` is also not an option. The issu

[2018-11-09 04:16] fkazemian commented on #8
Thanks @mmcky  it is fixed

perm_income_cons
![screenshot from 2018-11-09 15-14-44](https://user-images.githubusercontent.com/20714542/48243037-414f1680-e432-11e8-902f-f7e584c5d127.png)

linear_algebra
![screenshot from 2018-11-09 15-15-50](https://user-images.githubusercontent.com/20714542/48243062-6cd20100-e432-11e8-8d7d-435dce68a3c2.png)

and so on.

[2018-11-12 03:07] natashawatkins commented on #50
Are you referring to the highlighting? I think throughout most of the lecture's we've used single quotes  - why doesn't this work when the notebook is compiled from rst?

[2018-11-12 17:11] DrDrij commented on #114
@mmcky The notebook file is standalone right?

If a user downloads a lecture notebook file from the site how is the notebook to access images/css etc?

I'm thinking in your above example possibly putting the the whole of the css file inline inside a `<style type="text/css">...</style>` element. However, will still need access to the icons image.

[2018-11-12 22:39] mmcky commented on #114
hey @DrDrij -- happy for the header to make internet calls for now. In the future (we can use the ``cell attachments`` to add assets for standalone notebooks)

[2018-11-13 01:24] mmcky commented on #113
it looks like the issues are related to javascript load times.

I will implement:
1. build `_build_website` in quantecon.build.lectures
2. sync `_build_website` to `s3`
3. run `wkhtmltopdf` using `s3` public address as a source (to save having to launch a local non-blocking python server in a threaded process and to use the same web server architecture)
4. sync pdf to `s3`

[2018-11-13 02:19] mmcky commented on #113
@DrDrij can we get another badge for PDF download? We are now generating PDF's on a per lecture basis.

The files are currently located in ``_static/pdf/py/`` for `python` lectures.

[2018-11-13 04:43] #112 closed

[2018-11-14 18:29] DrDrij commented on #113
@mmcky Thought 4 badges would be a bit excessive. How about something like this:

![image](https://user-images.githubusercontent.com/5886045/48503830-e6f7f080-e84b-11e8-9289-7e13a1503249.png)

[2018-11-14 18:40] DrDrij commented on #113
Will we continuing to supply a full PDF link in the primary navigation?

[2018-11-14 23:05] mmcky commented on #113
@DrDrij I will see if we can concatenate the PDF's together. I think Tom would like the ability to download the full site as PDF.

[2018-11-14 23:50] mmcky opened #116 "UPDATE: Install Instruction for QuantEcon.py"
Update lecture to specify using `pip` only as `conda-forge` is confusing users

[2018-11-14 23:51] mmcky opened #117 "REVIEW: Execution setup for lectures using no-execute, skip-test"
Check the following lectures with @natashawatkins

- [x] https://github.com/QuantEcon/lecture-source-py/pull/99 (python_advanced_features)
- [x] https://github.com/QuantEcon/lecture-source-py/pull/100 (python_by_example)
- [x] https://github.com/QuantEcon/lecture-source-py/pull/111 (oop_intro)
- [x] ``debugging``

[2018-11-19 00:53] mmcky opened #119 "Add inline matplotlib to lectures (and remove as preamble from executor)"
Add ``%matplotlib inline`` to lectures so that downloaded notebooks have them included.

- [ ] remove from preamble in the quantecon.build.lectures repo.

[2018-11-19 01:52] mmcky opened #120 "Code with Execution Problems"
With a setting of 1200s timeout the following lectures have code execution problems

[code]

[2018-11-19 03:53] mmcky opened #122 "python_advanced_features -- can we use a toggle on output blocks"
Is it possible to toggle the length of output blocks to be scrollable in `html` output. Similar to left margin click in the notebook?

``python_advanced_features`` is a good test case

[code]

to remove ``.items()``

[2018-11-19 04:31] #117 closed

[2018-11-21 05:48] #116 closed

[2018-11-21 23:55] natashawatkins opened #129 "Update notation in mccall_model_with_separation.rst"
As discussed in #69

[2018-11-22 04:29] mmcky commented on #113
lets assume we will concatenate so we can keep the general PDF button

[2018-11-22 04:34] mmcky opened #130 "badges in lecture are out of alignment"
Badges are out of alignment

![image](https://user-images.githubusercontent.com/8263752/48881920-f38fd080-ee6b-11e8-9736-3d2bc40f2d0f.png)

I think this is becuase `nbconvert` is adding each of them in a separate `<p>` environment.

- [ ] wait for theme change in https://github.com/QuantEcon/lecture-source-py/issues/113 before fixing

[2018-11-22 04:37] mmcky commented on #113
Issue with version numbers of `wkhtmltopdf`

https://github.com/mmcky/quantecon.build.lectures/issues/37

http://compare-lectures.quantecon.org/_static/pdf/py/arma.pdf

[2018-11-25 22:47] mmcky commented on #113
hey @DrDrij the concensus (@natashawatkins and @jstac) liked the previous look. Perhaps we can keep this layout just change the `download` style to be similar to a tag (but with `pdf` and `ipynb` options)?

[2018-11-25 23:05] DrDrij commented on #113
Will do!

[2018-11-26 03:05] mmcky commented on #114
this has been added as a PR so closing issue

[2018-11-26 03:05] #114 closed

[2018-11-26 05:01] mmcky commented on #91
added the ability to track dependent files using ``.. jupyter-dependency:: <path>`` directive.

[2018-11-26 05:01] #91 closed

[2018-11-26 05:01] mmcky commented on #85
Closing this. Any unaddressed bugs will come up in the next comparison review.

[2018-11-26 05:01] #85 closed

[2018-11-26 05:02] mmcky commented on #50
@natashawatkins have these been fixed?

[2018-11-26 05:03] #8 closed

[2018-11-26 05:03] natashawatkins commented on #50
Ah, I don't believe so - I've done a few lectures related to jit but not the above one

[2018-11-26 05:03] mmcky commented on #20
I think we can now close this issue. Any further issues relating to scale of figures can be identified in the next comparison review.

[2018-11-26 05:03] #20 closed

[2018-11-26 05:04] mmcky commented on #30
I think this issue can now be closed. Thanks @fkazemian for your help during this review.

[2018-11-26 05:04] #30 closed

[2018-11-26 05:07] mmcky commented on #26
I think this issue can now be closed as we have changed a lot of these cases using `:class: no-execute` etc. Any further issues will need to be identified in next review round.

[2018-11-26 05:07] #26 closed

[2018-11-26 22:49] mmcky opened #131 "Footer Navigation is Broken"
![image](https://user-images.githubusercontent.com/8263752/49046863-b3dd3600-f229-11e8-97f7-0492261860b3.png)

Stuck on these two lectures -- must be hard coded in the `tpl` file?

[2018-11-27 00:59] mmcky opened #132 "Math size in HTML template needs adjusting"
Hi @DrDrij. I have stuffed up the math sizing in the html due to the change downstream to fix it in the notebook layer. Can you adjust the template?

![image](https://user-images.githubusercontent.com/8263752/49051412-dd06c200-f23b-11e8-8021-475a09463355.png)

[2018-11-27 00:59] mmcky commented on #132
displaymath is now a bit bigger than the non-displaymath

[2018-11-27 04:19] natashawatkins opened #133 "Syntax highlighting for errors"
@DrDrij is it possible to implement highlighting for errors in the output? Ie. in the debugging lecture we are demonstrating errors, which in Jupyter are highlighted, but on our website just appear as plain text: http://compare-lectures.quantecon.org/py/debugging.html#

Thanks!

[2018-11-27 04:48] mmcky commented on #50
once you have -- can you close this issue? Thanks.

[2018-11-27 08:57] mmcky commented on #132
I don't think this will need adjusting once we get the `\tag{}` PR working.

[2018-11-27 08:57] #132 closed

[2018-11-27 09:20] DrDrij commented on #133
Looks like the markup is there. I will add some styles today.

[2018-11-27 11:13] natashawatkins opened #135 "Collapsed code block capturing output?"
An example from [linear_algebra](http://compare-lectures.quantecon.org/py/linear_algebra.html#) - looks kind of weird to me

![image](https://user-images.githubusercontent.com/21038129/49078262-aa87b400-f291-11e8-8e05-ce3a1aa85a31.png)

[2018-11-27 11:18] natashawatkins opened #136 "lqcontrol not executed?"
Confused why none of the plots are showing up in [lqcontrol](http://compare-lectures.quantecon.org/py/lqcontrol.html#)

[2018-11-27 12:52] DrDrij commented on #133
Added to new build process CSS. Highlighting should be visible on next compilation.

[2018-11-27 16:21] DrDrij commented on #131
https://github.com/mmcky/quantecon.build.lectures/pull/45

[2018-11-27 18:21] DrDrij commented on #130
Alignment CSS and badge file added. Should be visible on next compilation.

[2018-11-27 23:41] mmcky commented on #130
thanks @DrDrij I will test this out now

[2018-11-27 23:55] mmcky commented on #130
they seem to be aligned vertically now and in the centre on my local build. Building for compare-lectures now.

![image](https://user-images.githubusercontent.com/8263752/49119357-21f22d80-f2fc-11e8-88cc-5fcf7b5a425f.png)

[2018-11-28 06:39] DrDrij commented on #130
@mmcky Do you have qe.css version 2.9 on your local? The styles are present here: https://github.com/mmcky/quantecon.build.lectures/blob/master/theme/qe/css/qe.css

If you do, please inspect the badges, they should be in a markup similar to:

[code]

[2018-11-28 06:46] DrDrij commented on #133
@natashawatkins Ok to close? Highlighting appearing for me now: http://compare-lectures.quantecon.org/py/debugging.html

[2018-11-28 08:48] natashawatkins commented on #133
Looks great! Thanks

[2018-11-29 02:46] mmcky commented on #130
Just needed the PR. Looking good now

![image](https://user-images.githubusercontent.com/8263752/49195963-35c19080-f3dd-11e8-8cf4-024e4fb5b52d.png)

[2018-11-29 02:46] #130 closed

[2018-11-29 02:47] #133 closed

[2018-11-29 04:10] natashawatkins opened #140 "Install linearmodels on server"
We need the `linearmodels` package for the OLS lecture - see here:  http://compare-lectures.quantecon.org/py/ols.html#Endogeneity

[2018-11-29 04:21] natashawatkins opened #142 "Should we get rid of pip installs via bash commands?"
![image](https://user-images.githubusercontent.com/21038129/49199132-707df580-f3ea-11e8-8556-0da2102b6721.png)

Looks not too great - from chang_ramsey.rst

[2018-11-29 22:30] mmcky commented on #140
thanks @natashawatkins would you mind collating a list of dependencies for `python` so we can document this?

[2018-11-29 22:31] mmcky commented on #140
This is now done and will be updated in the next run.

[2018-11-29 22:31] #140 closed

[2018-11-29 22:31] natashawatkins commented on #140
how should I do that?

[2018-11-30 03:33] mmcky opened #146 "BUG: Issues with math"
- [ ] ``discrete_dp``

![image](https://user-images.githubusercontent.com/8263752/49267095-d6cb4c80-f4ac-11e8-948e-b5c032d90225.png)

[2018-11-30 03:35] mmcky opened #147 "Update Local Build Environment - Sanitize Output"
- [x] update to remove ``/matthewmckay/`` and replace with ``/quantecon/``

/home/matthewmckay/anaconda3/envs/latest/lib/python3.7/site-packages/quantecon/compute_fp.py:152: RuntimeWarning: max_iter attained before convergence in compute_fixed_point

[2018-11-30 04:12] natashawatkins opened #148 "install interpolation.py library"
http://compare-lectures.quantecon.org/py/lucas_model.html#

We need to install https://github.com/EconForge/interpolation.py

[2018-11-30 04:20] natashawatkins opened #150 "replace bivariate_normal in kalman.rst"
`bivariate_normal` will soon be deprecated - need something to replace with

[2018-12-04 03:20] natashawatkins opened #159 "Add comparative statics to wald_friedman lecture"
* might be a good task for an RA
* look at changing distribution parameters and costs and come up with stories

[2018-12-05 19:57] #148 closed

[2018-12-05 20:01] natashawatkins opened #161 "Fix error in wald_friedman"
https://lectures.quantecon.org/py/wald_friedman.html#

I don't seem to get the error -- looks to be related to the histogram function calling something in numpy

[2018-12-06 00:36] natashawatkins commented on #161
fixed in #162

[2018-12-06 00:36] #161 closed

[2018-12-06 05:08] mmcky commented on #147
build is not running on quantecon lab machine in `quantecon` account

[2018-12-06 05:08] #147 closed

[2018-12-06 05:12] mmcky commented on #146
check if this is resolved by: https://github.com/QuantEcon/lecture-source-py/pull/165

[2018-12-06 05:14] mmcky commented on #142
I don't mind them. We could use a `:hide-output:` if you like?

[2018-12-07 01:57] natashawatkins opened #166 "replace \EE with \mathbb E"
just noticed this in amss lecture - @mmcky should we just replace all?

![image](https://user-images.githubusercontent.com/21038129/49622920-9f661e00-fa1f-11e8-89e2-d1d53923a999.png)

[2018-12-07 04:47] natashawatkins opened #167 "Hashes at the end of URLs?"
Why do links from the index now have hashes at the end? ie. https://lectures.quantecon.org/py/python_essentials.html#

[2018-12-12 22:05] mmcky commented on #166
@natashawatkins this should be done by the PR submitted by Arnav. Is This issue still relevant?

[2018-12-12 22:06] mmcky commented on #81
the only item not done is `docker` containerised execution. We will implement that as a lower priority feature later on.

[2018-12-12 22:06] #81 closed

[2018-12-12 22:07] mmcky commented on #49
these are outdated. Closing and will open a new issue to track current state.

[2018-12-12 22:07] #49 closed

[2018-12-14 05:54] natashawatkins opened #176 "Add discussion to time iteration lecture"
Why do we propose this algorithm, given that numba speeds of value function iteration are similar?

[2018-12-14 06:18] natashawatkins commented on #176
* Need to check this applies in coleman_policy_iter

[2018-12-17 03:39] natashawatkins commented on #166
They're still in the amss lecture - I'll submit a PR

[2018-12-17 03:54] natashawatkins commented on #136
Looks like this has been fixed

[2018-12-17 03:54] #136 closed

[2018-12-17 03:55] natashawatkins commented on #146
Doesn't appear that #165 fixed this issue - I think we might not be able to combine lists and math environments on the site? It works in Jupyter

[2018-12-17 03:56] natashawatkins commented on #135
Seems to be fixed thanks @DrDrij

[2018-12-17 03:56] #135 closed

[2018-12-18 03:01] #129 closed

[2018-12-19 06:59] mmcky commented on #167
this is an issue with ``sphinxcontrib-jupyter``. I will work on a fix when generating links to remove `#` when there are none.

[2018-12-19 22:20] mmcky commented on #167
this PR will fix this issue: https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/162

[2019-01-17 15:29] natashawatkins opened #183 "Menu bar on 404 page is broken"
<img width="1440" alt="screen shot 2019-01-18 at 2 28 06 am" src="https://user-images.githubusercontent.com/21038129/51329075-d6bcf580-1ac8-11e9-97ef-e7c82887bfc6.png">

[2019-01-20 16:03] natashawatkins opened #184 "Reference in exercise out of order in scipy.rst"
The exercise in the SciPy lecture states that previously recursive functions were covered - this content now appears after the SciPy lecture

https://lectures.quantecon.org/py/scipy.html#Exercises

[2019-01-21 20:27] natashawatkins opened #185 "Example in Numba lecture is wrong?"
![image](https://user-images.githubusercontent.com/21038129/51497434-143dbd80-1dfe-11e9-86c8-6955e0bec7ef.png)

[2019-01-21 23:54] natashawatkins opened #186 "Images in short_path.rst are blurry + oversized"
https://lectures.quantecon.org/jl/short_path.html

[2019-01-25 01:44] mmcky commented on #167
this is now fixed

[2019-01-25 01:44] #167 closed

[2019-01-25 01:46] mmcky commented on #183
thanks @DrDrij

[2019-01-25 01:46] #183 closed

[2019-01-25 01:47] mmcky commented on #185
@natashawatkins do you know why this has changed?

[2019-01-25 01:50] mmcky commented on #9
I think the majority of these are now fixed (i.e. `ols` is not showing any errors)
I propose to close this and open issues if any additional ones crop up.

[2019-01-25 01:50] #9 closed

[2019-01-25 01:53] mmcky commented on #28
It looks like `robustness` and `mle` are now fixed.

[2019-01-25 01:53] #28 closed

[2019-01-25 01:54] mmcky commented on #32
I think this has been implemented now. thanks @natashawatkins -- I will close this issue.

[2019-01-25 01:54] #32 closed

[2019-01-25 01:55] mmcky commented on #50
the ``python_oop`` nested lists look fine now.

[2019-01-25 01:55] #50 closed

[2019-01-25 01:56] mmcky commented on #113
this is going to be an issue until we figure out how to include executed output in for `html` and `pdf` targets. The best solution for now is to use `wkhtmltopdf`

[2019-01-25 01:56] mmcky commented on #120
this has now been resolved. Code on python side is currently show no errors.

[2019-01-25 01:56] #120 closed

[2019-01-25 01:57] mmcky commented on #131
@DrDrij is this now fixed? or have we just decided to hide them for now?

[2019-01-25 02:00] mmcky commented on #146
hey @natashawatkins would you have time to see if changes to the source RST can fix this?

[2019-01-25 02:01] mmcky commented on #186
Have you tried scaling them to 80%?

[2019-02-13 16:19] natashawatkins commented on #186
This seems to be a rendering issue.. the image is scaled to 100% and it looks fine when I open the image file on my computer. @DrDrij do you have any ideas?

[2019-02-13 16:26] natashawatkins commented on #185
When I ran it a second time, the vectorised code seemed to run fast. I would recommend replacing with `%%timeit`

[2019-02-13 16:29] natashawatkins commented on #184
I think maybe we should replace this exercise with something that uses the SciPy library...

[2019-02-13 16:31] natashawatkins commented on #159
I've created a notebook here with some comparative statics and short explanations: https://nbviewer.jupyter.org/gist/natashawatkins/2d98d7a16e14a3a14d5a48bf3cb18eb9

[2019-02-13 16:32] natashawatkins commented on #176
I think this can be closed - we were talking about the wrong lecture.

[2019-02-13 16:32] #176 closed

[2019-02-13 16:33] natashawatkins commented on #142
Hi @mmcky, I think we should keep the pip installs but it would be nice to have the hide-output class you mentioned above

[2019-02-13 23:53] DrDrij commented on #186
So using "scale" appears to set the html as `<img ... style="width:100%;height:100%;">`.

[code]

This isn't optimal as the scale value is relative to the container (content area width). So a 100% or 80% value will stretch/shrink the image to use that percentage of the content area. This isn't a problem if the image is wider than the content area. But here where the images are quite small they bec

[2019-02-14 03:55] natashawatkins commented on #186
@mmcky I'm not sure how to preview the html once I changed this - would you be able to try the above solution?

[2019-02-25 05:45] jstac opened #200 "error after following instructtions"
@DrDrij

Following the instructions on a fresh install led to an error after `make notebooks` --- complains about a
missing sphinx extesion

![screenshot_2019-02-25_16-48-36](https://user-images.githubusercontent.com/3887684/53316627-b597c200-391c-11e9-96e6-4469c1ae4628.png)

[2019-02-25 06:33] DrDrij commented on #200
@jstac Looks like you may have possibly missed `make setup`? You've written it in the installation section of the Readme but left it out of the workflow section. Please try `make setup` and let me know if you get the same issue.

**➜  Projects git clone https://github.com/QuantEcon/lecture-source-py.git**
Cloning into 'lecture-source-py'...
remote: Enumerating objects: 131, done.
remote: Counting

[2019-02-25 06:55] DrDrij opened #201 "Symlink used allowing Sphinx to see `_static`"
As a temporary measure while simplifying the structure of the repository directories we've added a symlink so that sphinx and sphinxcontrib-jupyter can reference the `_static` directory.

https://github.com/QuantEcon/lecture-source-py/blob/master/source/rst/_static

**Note:** This won't be compatible with Windows. Likely we will need to update the `copy_static_files` and related functions of sphin

[2019-03-01 05:06] bayeswhu commented on #184
Hi @natashawatkins ,

I am teaching a class of quantitative econ, so find another exercise is out of order too.
Beside what you have mentioned, the exercise3 of numpy is related to python-oop, which is after numpy lecture now.

My solution is to modify the jupyter notebook version manually and move the exercise to the right section. I believe you may be too busy to deal with them.

If you can fix

[2019-03-11 04:23] natashawatkins opened #203 "Delete all the .jl files in source/_static/code"

[2019-03-16 14:13] duncanhobbs commented on #203
I have deleted all of the .jl files in source/_static/code. Would you like me to submit a pull request or let some else handle this?

[2019-03-23 18:57] duncanhobbs commented on #150
You might be able to replace it with `scipy.stats.multivariate.normal`. I also saw that the QuantEcon/rvlib repository has a branch with some code for drawing from multivariate distributions [here](https://github.com/QuantEcon/rvlib/tree/multivariate).

[2019-03-27 02:20] #203 closed

[2019-03-31 06:24] MaxGhenis opened #216 "Set seed when generating random numbers"
Minor suggestion to set the `numpy` random seed in lectures that generate random numbers. This would ensure that users get the same results as those posted on lectures.quantecon.org when they run the notebooks themselves.

The `np.random` module is currently used in 56 scripts: https://github.com/QuantEcon/lecture-source-py/search?q=np.random&unscoped_q=np.random

[2019-04-01 03:22] natashawatkins commented on #216
Hi @MaxGhenis, yep we have discussed this before. A couple of lectures do set seeds where results vary a lot. I'm not entirely convinced though that we should add them to all lectures - I think slight discrepancies in results. should emphasise to readers that there is a stochastic element. @jstac may have an opinion.

[2019-04-01 03:24] natashawatkins commented on #150
Thanks @duncanhobbs - will look into it.

[2019-04-01 03:26] natashawatkins opened #218 "Add GitHub source link to lectures"
@AakashGC

Add a GitHub button to the lectures (right-aligned) that links to the source rst (this repo) so that people find it easier to make contributions.

On this note, maybe we should have a section on the website with instructions on how to contribute to the lectures?

[2019-04-01 07:06] jstac commented on #218
Thanks guys.  Let's get that GH button up for starters.  It would be great if the button on lecture X led to the rst file for lecture X.

[2019-04-04 00:49] AakashGfude commented on #218
@DrDrij @natashawatkins @jstac I have added a github button which points to the file in this repository.  Do tell me if it looks ok
![image](https://user-images.githubusercontent.com/6542997/55522178-933d5500-56cf-11e9-99e7-6947cea5533d.png)

[2019-04-04 00:53] jstac commented on #218
Perfect, thanks :-)

[2019-04-04 22:56] natashawatkins opened #219 "Remove index lectures from testing status page"
https://lectures.quantecon.org/status.html

[2019-04-04 23:14] natashawatkins opened #220 "Colab banner size"
The notebook banner in Colab is enlarged -- not sure how to adjust

[2019-04-04 23:16] natashawatkins opened #221 "Update pip"
Can we update pip on the execute server to get rid of this message?

@jstac should we have this here anyway? It looks like joblib comes with anaconda

![image](https://user-images.githubusercontent.com/21038129/55594568-d5c46780-578b-11e9-8efb-10da3dc2b473.png)

[2019-05-02 06:59] #218 closed

[2019-05-02 07:00] natashawatkins opened #227 "Links to external files not working"
Appear to be adding `.html` on the end?

See [here](https://lectures.quantecon.org/py/pandas_panel.html#Slicing-and-reshaping-data) for example

[2019-05-02 07:01] natashawatkins commented on #220
This appears to be fixed

[2019-05-02 07:01] #220 closed

[2019-05-06 02:37] natashawatkins opened #229 "make public writing style guide in wiki"
copy info from https://github.com/mmcky/QuantEcon.userguide/blob/master/lectures-style-guide.rst into repo wiki

[2019-05-06 04:31] natashawatkins commented on #229
done here: https://github.com/QuantEcon/lecture-source-py/wiki/Writing-Style-Guide

[2019-05-06 04:31] #229 closed

[2019-05-13 12:53] oyamad opened #251 "Random seeds in the solution for Exercise 1 in mccall_model"
In the plot from the solution code for Exercise 1:
![image](https://user-images.githubusercontent.com/7353083/57621826-61b98280-75c7-11e9-9e7d-36f516324416.png)
the steps are perfectly flat. I believe this is an artifact of the way how the random seeds are supplied in `compute_mean_stopping_time`, where the seed values are always the same set of numbers `0`, ..., `num_reps`.

As long as `w_bar` is

[2019-05-14 02:18] AnjuJoon opened #252 "Some images are right shifted instead of centre in the lectures"

[2019-05-14 02:33] jstac commented on #252
@AakashGfude Please consult with @AnjuJoon regarding this issue when you have a moment.

(Or @DrDrij if you have time.  @AnjuJoon will need to explain.)

[2019-05-14 03:55] AnjuJoon commented on #252
@DrDrij the images in lectures in main website appears to be more inclined towards right. Can we have them exactly at centre of the page?

[2019-05-15 01:25] AnjuJoon opened #254 "In lecture "Linear Algebra" corresponding rst file - "linear_algebra.rst" the link "these notes"(line 958) is not working"

[2019-05-15 01:28] AnjuJoon opened #255 "In lecture "Classical Prediction and Filtering with Linear Algebra" corresponding rst file - "classical_filtering.rst" the link "Classical Control with Linear Algebra"(line 21) is not working"

[2019-05-15 01:38] AnjuJoon opened #256 "In the lecture "Discrete State Dynamic Programming" corresponding rst file "discrete_dp.rst", the jupyter notebook in colab live is throwing error in one of the cell"
Corresponding line in .rst file is line no. 832

[2019-05-15 01:43] AnjuJoon opened #257 "In the lecture "Fluctuating Interest Rates Deliver Fiscal Insurance " corresponding rst file "amss2.rst", the jupyter notebook in colab live is throwing error in one of the cell"
Corresponding line in .rst file is -  line no. 432

[2019-05-18 12:12] #252 closed

[2019-05-18 12:26] AnjuJoon opened #262 "In the lecture "Other Scientific Libraries " corresponding rst file "sci_libs.rst", the link - "joblib" is not working"

[2019-05-18 12:29] AnjuJoon opened #263 "In the lecture "Pandas " and "pandas_for_panel_data" corresponding rst file "pandas.rst", "pandas_panel" the link - "here" is not working"

[2019-05-18 12:35] AnjuJoon opened #264 "In the lecture "Linear State Space Models" corresponding rst file "linear_models.rst" the link - "thses notes" is not working"

[2019-05-18 12:38] AnjuJoon opened #265 "In the lecture "Cass-Koopmans Optimal Growth Model" corresponding rst file "cass_coopmans.rst" the link - "karush-kuhn-tucker conditions" is not working"

[2019-05-18 12:41] AnjuJoon opened #266 "In the lecture "Optimal Growth 1" corresponding rst file "optgrowth.rst" the link - "this paper" is not working"

[2019-05-18 12:50] AnjuJoon opened #267 "In the lecture "Optimal Savings III" corresponding rst file "ifp.rst" the links - "this paper", "known" and "can be shown" are not working"

[2019-05-18 12:54] AnjuJoon opened #268 "In the lecture "The Aiyagari Model" corresponding rst file "aiyagari.rst" the link - "Rao Aiyagari" is not working"

[2019-05-18 12:58] AnjuJoon opened #269 "In the lecture "Globalization and Cycles" corresponding rst file "matsuyama.rst" one of the link - "Chase Coleman" is not working"

[2019-05-18 13:07] AnjuJoon opened #270 "In the lecture "Optimal taxation in an LQ Economy " corresponding rst file "lqramsey.rst" the links - "manuscript" and "this_manuscript" are not working"

[2019-05-20 08:00] Alalalalaki opened #271 "In the lecture "Job Search II: Search and Separation", using @njit makes the code really slow"
It is way faster without @njit in both u(c, σ) and Q(v, h).

![image](https://user-images.githubusercontent.com/31154974/58005389-87431080-7b20-11e9-894e-eea85d188987.png)

[2019-05-20 12:24] oyamad opened #281 "beta: discount factor vs. discount rate"
`beta` is in many cases referred (correctly) to as "discount factor", but sometimes referred to as "discount rate". The usage should be consistent.

[2019-05-20 12:41] oyamad opened #282 "mccall_model_with_separation.rst: "Don't compare boolean values to True or False using ==""
`if return_values == False:` should be `if not return_values:`.

See https://www.python.org/dev/peps/pep-0008/

[2019-05-21 02:00] AnjuJoon commented on #265
@mmcky @AakashGfude In the lecture, the link

[code]

https://lectures.quantecon.org/py/en.wikipedia.org/wiki/Karush-Kuhn-Tucker_conditions

Obviously this is an error.  I'm not sure why it's happening.

[2019-05-21 02:03] #269 closed

[2019-05-21 02:05] AnjuJoon commented on #256
Hi @mmcky , it's @jstac here.  Is this because the fix by @oyamad has not been released in the latest version of QE.py?

[2019-05-21 02:18] #262 closed

[2019-05-21 09:26] jstac commented on #271
Thanks @Alalalalaki .  We'll check it out.

@shizejin Would you mind to take a look?

[2019-05-21 09:26] jstac commented on #282
Thanks @oyamad .

@AnjuJoon Could you please make this change?

[2019-05-21 09:28] jstac commented on #281
Thanks @oyamad, indeed `beta` should be the discount factor.

@AnjuJoon , could you please change any instance of "discount rate" to "discount factor" in this lecture?

[2019-05-21 09:41] AnjuJoon commented on #282
@jstac, yeah I will fix this.

[2019-05-21 09:42] AnjuJoon commented on #281
@jstac I will make the required changes

[2019-05-22 01:49] #255 closed

[2019-05-22 01:52] #282 closed

[2019-05-22 01:53] #281 closed

[2019-05-22 04:31] #257 closed

[2019-05-23 14:07] shizejin commented on #271
Thanks @Alalalalaki .

Using `@njit` for `u(c, σ)` should be totally fine.

The main reason that using `@njit` for `Q(v, h)` makes the code so slow is because we put the line `Q = operator_factory(mcm, use_parallel)` inside the `solve_model` function, which means each time we call `solve_model`, `Q(v, h)` will be compiled once and that takes long.

@jstac To increase the speed, we can drop the `op

[2019-05-23 23:22] jstac commented on #271
I fully agree.  Thanks @Alalalalaki for raising the issue and @shizejin for nice analysis.

@shizejin , would you mind to prepare a PR that makes this change, together with @AnjuJoon

@AnjuJoon Can you show @shizejin how to check the lectures by using `make` functions in the build system?

[2019-05-24 02:19] #271 closed

[2019-05-27 13:22] Yuya-Furusawa opened #303 "Issues in the lecture "A Problem that Stumped Milton Friedman""
1. Some packages that are not used are imported.

2. Typos in the explanation of Bellman Equation.

<img width="545" alt="BellmanEquation" src="https://user-images.githubusercontent.com/35675799/58421515-15903700-80cb-11e9-8cf0-ad59e0d3e056.png">

In the equation, minimum is taken in outside the integral, but we took it inside.
In addition, we have to replace **f_0(z')** with **f(z')**.

3. In the

[2019-05-27 13:38] Yuya-Furusawa opened #305 "In the lecture "A Problem that Stumped Milton Friedman", the code need to be sophisticated"
When I tried to simulate the model with the following initial distribution, these are very similar distributions,  I got the unexpected results.

<img width="959" alt="Distribution" src="https://user-images.githubusercontent.com/35675799/58422967-e8458800-80ce-11e9-92a9-332e84c150e1.png">

In this simulation, the cutoff values are
α = 0.48241206030150763
β = 0.5226130653266331
However, from the mo

[2019-05-27 23:01] jstac commented on #305
@AnjuJoon would you mind to look at this, and consult with @shizejin if you're not sure?

[2019-05-27 23:03] jstac commented on #303
Thanks @Yuya-Furusawa !

All good points.

@shizejin Would you mind to make those adjustments?  I prefer that parallelization is optional.

[2019-05-28 00:40] AnjuJoon commented on #305
@jstac yeah sure, I will look into that

[2019-05-28 00:57] shizejin commented on #303
Thanks @Yuya-Furusawa .

Regarding the second point, since we believe z' follows fπ, I guess we should replace f0(z') with fπ(z') rather than f(z'). What do you think?

[2019-05-28 01:02] Yuya-Furusawa commented on #303
@shizejin Exactly. fπ(z') is suitable because z follows fπ from the decision maker's point of view.

[2019-05-28 02:03] jstac opened #313 "Treate Dask and other libs in the Scientific Libraries lecture?"
Should dask be treated in this lecture: https://lectures.quantecon.org/py/sci_libs.html ?

Any other libraries we're not treating but should at least mention?  Jax?

I'm rehashing this question from Slack, where @AakashGfude says: dask is awesome and easy to use. I think we can. It has got a lot of traction as well, with 4.9k stars in github.

@mmcky @shizejin @qbatista @cc7768

Any library we tre

[2019-05-28 02:06] #254 closed

[2019-05-28 02:08] #267 closed

[2019-05-28 02:08] #266 closed

[2019-05-28 02:09] #268 closed

[2019-05-28 02:10] #270 closed

[2019-05-28 02:10] #264 closed

[2019-05-28 02:11] #263 closed

[2019-05-28 03:37] #303 closed

[2019-05-31 01:34] mmcky opened #318 "Issue in growth_in_dles lecture"
There is an issue in https://lectures.quantecon.org/py/growth_in_dles.html

Math environment is not correct after `Preferences of a representative household are described by`

[2019-06-03 01:39] #318 closed

[2019-06-07 16:45] jstac opened #364 "extra sentence in McCall lect"
See https://lectures.quantecon.org/py/mccall_model.html

The first sentence should not be there.  @AnjuJoon, would you mind to fix it?

[2019-06-08 09:41] AnjuJoon commented on #364
@jstac yeah sure I will fix it

[2019-06-08 18:03] AnjuJoon commented on #150
@natashawatkins we have defined a function bivariate_normal in this lecture. So we will not face this problem again. Can we close this issue?

[2019-06-08 18:08] #150 closed

[2019-06-11 04:41] #364 closed

[2019-06-11 09:44] AnjuJoon opened #399 "To suppress output of !pip install command while conversion to pdf"
@AakashGfude  and @mmcky
For example, the output of "! pip install polytope" in this lecture
![Screenshot from 2019-06-11 19-41-44](https://user-images.githubusercontent.com/50222412/59261565-0ee3f100-8c81-11e9-890d-ffeda6242f4c.png)

[2019-06-11 09:49] AnjuJoon opened #400 "No Margin for code blocks is a problem while converison to pdf"
For example
![Screenshot from 2019-06-11 19-48-10](https://user-images.githubusercontent.com/50222412/59262107-f4f6de00-8c81-11e9-8526-c0c69b25739c.png)

[2019-06-11 10:10] jstac commented on #400
Thanks for opening this issue @AnjuJoon .

I think we need to enforce a maximum of 80 characters per line in all Python code on the entire website, including comments.  This is, in any case, the PEP8 standard.

The rule needs to be added to the style guide.

[2019-06-11 10:38] jstac commented on #399
Thanks for opening this @AnjuJoon.

It would be nice to have this fixed, although I would not be in favor of any solution that specializes to this particular problem.

On the other hand, it would be nice to see a solution that prevents pdf output of all cells marked `hide-output`

[2019-06-11 10:38] AnjuJoon commented on #400
@jstac I will try to do this and will edit the style guide as well. Thanks!

[2019-06-11 11:11] AnjuJoon commented on #146
@mmcky,  this is fixed

[2019-06-11 11:11] #146 closed

[2019-06-12 01:28] mmcky commented on #399
hi @AnjuJoon the executed notebooks from `sphinxcontrib-jupyter` should be sanitised in the `jupyter` folder if the `pip` cell is tagged to suppress output with `hide-output`. The output will be generated however if you re-run the notebook.

[2019-06-12 01:29] mmcky commented on #313
I would vote for a `dask` lecture for sure! I think it would be a really fun lecture ... happy to help with this once the new build pathway is up and running etc.

[2019-06-12 03:58] jstac commented on #399
Hi @AnjuJoon , do you understand what @mmcky is saying?  Feel free to ask if not.

[2019-06-12 04:47] AnjuJoon commented on #399
@mmcky thanks! this will solve this issue then.

[2019-06-12 06:43] #399 closed

[2019-06-17 13:55] AnjuJoon opened #423 ".. _label is reflected as a link in the same document in ipynbs and is not at all relected in tex files"
@mmcky and @AakashGfude
  for example
![Screenshot from 2019-06-17 23-51-46](https://user-images.githubusercontent.com/50222412/59609713-3fcd9580-915b-11e9-9064-07fbc7769c11.png)
![Screenshot from 2019-06-17 23-52-48](https://user-images.githubusercontent.com/50222412/59609721-43f9b300-915b-11e9-9ebc-547a46b179f4.png)
![Screenshot from 2019-06-17 23-54-09](https://user-images.githubusercontent.com

[2019-06-19 04:22] #142 closed

[2019-06-19 04:23] jstac commented on #113
Note that @AnjuJoon is working on this.

@AnjuJoon, please reference this issue when you make your PR to add PDF files.

[2019-06-19 04:25] jstac commented on #186
Fixed.

[2019-06-19 04:25] #186 closed

[2019-06-19 04:37] jstac opened #430 "Handle figues through Markdown and local files?"
Hi @mmcky and @AakashGfude,

There are a couple of issues with the way we handle figures included via the `.. figure::` directive.

First, it's hard for the user to work with them during the "edit rsts --- view ipynb" loop because they are pulled in from a remote source.  This isn't really a workable solution from the editor's perspective.  Is there a fix we can come up with?

Second, and perhaps

[2019-06-19 04:42] jstac commented on #305
@shizejin If you have time would you mind to review this and give me your opinion?

[2019-06-19 05:02] jstac opened #431 "Reorganize _static folder"
I think we had this in our last issue tracker and somehow put it in the too hard basket, but the problem is only getting worse.

Let's say figure `xyz.png` in `_static/figures` is found to have an error and we need to fix it.  But where did it come from and where is the code that generated it?  Sometimes this question has easy answers but often it doesn't.  The generating code can be hard to find

[2019-06-19 05:38] mmcky commented on #430
hi @jstac if you're using the `lecture-source-py` repository then you can use `make local` which triggers images to be local by forcing the option ` -D jupyter_images_urlpath=0`. This was setup for Natasha to do local editing. In the future I would like this to be replaced with `make ipynb` which is all about local editing and conversion to notebook format and `make jupyter` which will allow the f

[2019-06-19 05:39] mmcky commented on #430
@jstac one issue with adding images via markdown is the `:scale:` parameter can't be used which is the main reason they are included as `html` at the moment.

[2019-06-19 06:01] jstac commented on #430
Hi @mmcky, thanks for the quick reply!

On the second point, good news.  We got rid of all the `:scale:` directives on @DrDrij 's advice `:-)`

A grep shows a couple of `:scale:`s left in the index files but I'm sure they could be tidied up.  Could we please proceed with this and switch to Markdown, so @AnjuJoon can finish up producing the pdfs?

On the first point, we talked about this yesterday

[2019-06-19 06:25] jstac opened #433 "Update README to reflect new build system."
We need to keep the instructions on the README page up to date with the changes in the compile system.

@mmcky and @AakashGfude , could you please take responsibility for keeping the instructions on compilation and publishing up-to-date?

Do we need the discussion of Jinja?

@AnjuJoon We discussed some changes to the README on conventions.  For example, we should insist that cite keys use the defa

[2019-06-19 07:07] jstac opened #434 "Empty tikz figures"
Some of our tikz figure source files are empty:

https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/figures/tikz_figures/orth_proj2D.tex

@AnjuJoon, I remember that you worked on these figures recently.  Are you able to find the contents that makes the current figures and add it in?  It's important we keep track of the source files for the next time that we need to edit the

[2019-06-19 07:19] AnjuJoon commented on #434
@jstac when I tried to generate the figures, I was not able to generate png's but instead pdf's of the figures. I can try once again to generate png's.

[2019-06-19 07:29] jstac commented on #434
I don't mind if it's pdf or PNG.  I only care that we keep source files (in this case Tex files) so we can adjust figures in the future.

[2019-06-19 09:35] shizejin commented on #305
@jstac Sure, here is what I think and I made a PR to solve this.

@Yuya-Furusawa Thank you very much for pointing out this problem.

α and β can be equal, which is the case under the parameterization you gave. Intuitively speaking, when f0 and f1 are too similar and hard to be distinguished from each other, the gains from taking draws would be too small that we will just choose f0 or f1 by priori.

[2019-06-19 10:31] Yuya-Furusawa commented on #305
@shizejin Thank you, I got it. I appreciate your great work.

[2019-06-19 20:55] #305 closed

[2019-06-20 07:49] jstac opened #437 "Location of conf.py file"
This might not be easy, but the conf file should really be at the root level of the directory.

It's very hard to find when mixed in among the rst files.

[2019-06-25 06:15] AnjuJoon opened #444 "No sections in hs_invertiblity_example (Shock Non Invertiblity)"
@jstac here is the issue. Thanks

[2019-06-25 06:16] AnjuJoon commented on #423
@jstac can we close this issue since we fixed it?

[2019-06-25 07:34] #423 closed

[2019-06-25 10:55] AnjuJoon opened #445 "undefined control sequence in latex"
@jstac could you please help to fix this?
**orth_proj.rst**

! Undefined control sequence.
l.472 \hat y := \argmin
                       _{z \in S} \|y - z\|
?

! Undefined control sequence.
l.775 ...span}} X := \mathop{\mathrm{span}} \{\col
                                                  _1 X, \ldots, \col_k X \}
?

! Undefined control sequence.
l.992 \argmin
             _{b \in \mathbb R^K}

[2019-06-27 19:08] jstac opened #451 "Oberfield's theory of input-output architecture"
Possible new lecture: https://onlinelibrary.wiley.com/doi/abs/10.3982/ECTA10731

[2019-06-27 19:09] jstac commented on #430
@mmcky  Can we close this?

[2019-06-27 19:12] jstac commented on #431
@AnjuJoon This is yet another big job, and lower priority than some of the others but it would be great if we could get it done before you go.  Let's try to discuss it next time we meet.

[2019-06-27 19:18] jstac commented on #185
@shizejin and @DianaTZhu, might you have time to look at this?

It seems surprising!

Perhaps we just need to increase `n` to get more realistic timings.

[2019-06-27 23:50] shizejin commented on #185
Hi @jstac sure I would love to! But it seems I could not replicate this on my computer.

<img width="392" alt="Screen Shot 2019-06-28 at 7 44 39" src="https://user-images.githubusercontent.com/22466278/60307869-0fff6880-9979-11e9-978a-4be50c75b0d9.png">

Could this have been solved by the updates of numpy?

[2019-06-28 00:00] jstac commented on #185
Thanks @shizejin.

We use a recent version of numpy.  @mmcky, do you think this is something hardware specific?

I just tested on my machine and got a speed up but only factor 2.

I'm going to increase `n` by x10, which does help stabilize on my machine and lead to significant speed gain.  @mmcky, please check the speed gain on the production machine once I've set `n` to `1_000_000`.

[2019-06-28 00:17] DianaTZhu commented on #185
Hi @jstac, I tried and it doesn't seem to be a problem for me either. (I was using np version 1.15.4, different from @shizejin )

<img width="712" alt="Screen Shot 2019-06-27 at 8 11 41 PM" src="https://user-images.githubusercontent.com/46862343/60308632-d6e2dc00-9917-11e9-9082-0cd46286c6f8.png">

And yes -- increase n by 10 gives a speed-up of about 20 times when I tried it, so it should be bette

[2019-06-28 00:53] jstac commented on #185
Thanks @DianaTZhu, I appreciate your review.

@mmcky, I've pushed that change to master so please review when you have time.

[2019-06-28 02:05] AnjuJoon commented on #431
@jstac yeah sure. I can try to complete that before I go.

[2019-06-28 05:42] #431 closed

[2019-06-28 05:43] jstac commented on #431
@mmcky @AakashGfude Please note that @AnjuJoon has implemented these changes to the structure of the source repo.

A big thanks to @AnjuJoon once again.

[2019-06-30 00:35] jstac opened #455 "Global PDF title needs to be changes"
@AnjuJoon , could you please change the global Python PDF book title to "Lectures in Quantitative Economics with Python".

[2019-06-30 09:03] AnjuJoon commented on #256
solved by "--upgrade quantecon"

[2019-06-30 09:03] #256 closed

[2019-06-30 09:05] AnjuJoon commented on #227
solved

[2019-06-30 09:05] #227 closed

[2019-06-30 09:06] AnjuJoon commented on #434
@jstac Can we close this issue now?

[2019-06-30 09:57] #434 closed

[2019-06-30 23:34] jstac commented on #430
@mmcky ping

[2019-06-30 23:38] jstac opened #459 "Coase figures are too big"
Please see png figs here: https://lectures.quantecon.org/py/coase.html

@AnjuJoon have you looked at this?

[2019-07-01 12:29] AnjuJoon commented on #455
updated pdf sent to Matt

[2019-07-01 12:29] #455 closed

[2019-07-01 18:04] #459 closed

[2019-07-02 01:42] AakashGfude commented on #265
Hi @AnjuJoon @jstac . This issue does not seem to be occurring in the current master branch.
Notice the html and the corresponding link in the screenshot below.

![image](https://user-images.githubusercontent.com/6542997/60476287-642e8380-9cbe-11e9-93d0-0fdba9083629.png)

[2019-07-02 04:22] AnjuJoon commented on #265
Thanks @AakashGfude

[2019-07-02 04:22] #265 closed

[2019-07-02 04:26] jstac commented on #113
Much of the above discussion is redundant so I'm closing the issue.  In future, let's keep discussion of creating PDFs in the repo of the build system itself.

[2019-07-02 04:26] #113 closed

[2019-07-02 04:36] jstac commented on #444
@AnjuJoon I've fixed this and pushed to master.

[2019-07-02 04:36] #444 closed

[2019-07-02 04:37] jstac opened #462 "Plot code --- use OOP style"
Some of the lectures use Matlab style (procedural) rather than OOP style figure generation, which contradicts our recommendations.

One example is `hs_invertibility_example`.

@AnjuJoon Are you able to fix this and see if it's an issue in other lectures?

[2019-07-02 04:41] AnjuJoon commented on #462
Yeah sure @jstac I will fix this

[2019-07-03 02:00] mmcky commented on #430
@jstac this can be closed. @AakashGfude let's check this afternoon that https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/194 is adhered to in the PR for improved `UX` commands.

[2019-07-03 02:01] #430 closed

[2019-07-03 02:04] mmcky commented on #437
@jstac I will be looking into the proposed layout (discussed at the last meeting) for this repository in the next day or two.

[2019-07-03 02:05] mmcky commented on #445
@AnjuJoon are these latex warnings or errors? Are those lines contained inside of a `math` environment of some kind?

[2019-07-03 06:02] jstac opened #470 "Bring code closer to PEP8 when there's no good reason to do otherwise"
In general, our code should conform to PEP8, unless there's a good reason to do otherwise.

One example of the latter (i.e, one good reason to deviate from PEP8) would be to get closer to the mathematics.  For example, if a lecture refers to a matrix denoted by A, then it makes sense to call it `A` in the code, rather than `a`, say.

But if there is no good reason to deviate, we should follow PEP8

[2019-07-03 06:06] AnjuJoon commented on #470
@jstac yeah, I will work on it. Thanks

[2019-07-04 02:13] #462 closed

[2019-07-04 02:32] AnjuJoon opened #478 "Issues while converting ipynb's to pdfs"
- [ ]  The labels(for math equations and for sections) are reflected as a link in ipynb's which are completely ignored by the Pandoc

- [ ]  "(" opening bracket is replaced by "%28" and the closing bracket is replaced by "%29" for the headings which are reflected in the contents section in .tex

- [ ] Images should be in markdown

- [ ] I am not sure how is " ` " (only for headings) replaced while

[2019-07-04 02:46] AnjuJoon opened #479 "To find a proper place for watermark of Quantecon on global pdf"

[2019-07-04 03:51] jstac opened #480 "Avoid spaces in file names"
Please avoid spaces and capitals in file names.

In particular, please change the name of "Quantitative Economics with Python.pdf" to "quantitative_economics_with_python.pdf".

CC @mmcky

[2019-07-04 04:44] AnjuJoon commented on #480
@jstac I did not understand which files are you referring to? The pdf's on the website?

[2019-07-04 04:48] AnjuJoon commented on #480
There are no capitals and spaces in individual lecture pdf's. Only the name of the global pdf is with spaces and capitals. @mmcky Can I do something about it?

[2019-07-04 07:04] jstac commented on #480
At the moment it's fine --- not a big deal --- but please change your code so that next time you generate the file, it has the alternative file name that I requested.

Let's just always use this convention for file names, in any file associated with quantecon.

[2019-07-04 12:39] AnjuJoon commented on #445
adding these commands in preamble solves the issue-

\newcommand{\argmax}{\operatornamewithlimits{argmax}}
\newcommand{\argmin}{\operatornamewithlimits{argmin}}
\DeclareMathOperator{\col}{col}

[2019-07-04 12:39] #445 closed

[2019-07-04 12:41] AnjuJoon commented on #480
@jstac yeah sure. I will keep this in mind

[2019-07-04 12:43] AnjuJoon commented on #400
Moving the code closer to the PEP 8 conventions will solve this issue. This problem will be tracked by issue #470  hence closing this issue

[2019-07-04 12:43] #400 closed

[2019-07-05 01:43] mmcky opened #483 "FIX: Issue with arellano lecture"
There are current issues with the `arellano` lecture on the latest build of the preview site.

https://preview-lectures.quantecon.org/py/arellano.html

- [ ] fix issue with code

[code]

- [x] figures are no longer correctly linking

[2019-07-05 01:45] mmcky commented on #478
thanks @AnjuJoon are these the only prepossessing items needed for `pdf` source notebooks?

[2019-07-05 02:43] AnjuJoon commented on #483
@mmcky The figures are correctly referenced if I execute the notebooks using "make local" command. I guess the problem is with this link -
 <p><img src="https://s3-ap-southeast-2.amazonaws.com/lectures.quantecon.org/py/_static/lecture_specific/arellano/arellano_value_funcs.png" style=""></p>

[2019-07-05 03:22] mmcky commented on #483
thanks @AnjuJoon I see - the new structure hasn't been migrated yet. OK -- good to know. @AakashGfude now that we have a separate download notebook path we should migrate these images back towards relative references I think. This will improve `local` and `preview` viewing.

[2019-07-05 03:23] mmcky commented on #483
@AnjuJoon can you take a look at the code?

[2019-07-05 04:05] AnjuJoon commented on #483
@mmcky Sure, I will try to fix that

[2019-07-05 05:39] #483 closed

[2019-07-05 06:19] AnjuJoon commented on #478
@mmcky there are some more things but I am not able to decide if it should be preprocessed in latex or ipynb's will be  a better option to preprocess in but I will keep adding to it if I feel that it would be better to preprocess in ipynb's

[2019-07-05 06:25] mmcky commented on #478
@AnjuJoon if you can document what needs to be changed from the current `baseline` then we can work together on figuring out which level the change should take place at. So a big table of what needs to be changed would be good and then we can go through it and think through the best place to make that change.

[2019-07-08 05:16] mmcky commented on #478
@AnjuJoon what would be helpful is a table such as the following:

| rst  |    ipynb  |  issue description | update | resolved |
|----|---------|-------------------|--------|----------|
| (   | %28 | html friendly %28 is used in preference to brackets, and no current option to pass through bracket to generated ipynb | sphinxcontrib-jupyter | no |

for all the edges cases you have come across. Don'

[2019-07-08 05:42] mmcky commented on #478
This issue has been moved to the wiki: https://github.com/QuantEcon/lecture-source-py/wiki/Conversion-to-PDF-(Edge-Cases-and-Conversion-Issues)

Please check there for updates

[2019-07-09 07:00] #480 closed

[2019-07-10 04:19] mmcky opened #501 "Issue with coleman_policy_iter lecture"
`coverage` on the build server is indicating an issue in `coleman_policy_iter` lecture. It looks like a possible issue with `numba` compatibility. Will need to investigate further.

[code]

[2019-07-11 02:01] mmcky opened #502 "Sphinx Warnings from Recent Merges (RST)"
Recent changes to RST files on the `python` side have caused a few warnings from `Sphinx` that should be resolved.

[code]

[2019-07-11 02:04] mmcky commented on #502
These only affect three lectures. @AnjuJoon would you have time this afternoon to review them. If you're unwell -- no worries. I will take a closer look.

[2019-07-11 09:23] mmcky commented on #502
See PR #503 and #504

[2019-07-11 09:24] mmcky commented on #502
@AnjuJoon if the PR's above fix all warnings -- please close this issue when you're ready.

[2019-07-11 09:25] mmcky commented on #478
The wiki page documents work and solutions to this issue. Closing.

[2019-07-11 09:25] #478 closed

[2019-07-11 09:25] mmcky commented on #437
the `conf.py` file is now located at the root level of the repository as per PR #484

[2019-07-11 09:25] #437 closed

[2019-07-11 09:29] mmcky commented on #131
removing priority as we currently aren't that concerned about `next` and `prev`

[2019-07-11 09:29] AnjuJoon commented on #502
@mmcky sure, I will check for any other deformity in lectures due to full stops and will close this issue then. Thanks

[2019-07-11 09:35] mmcky commented on #200
The PR #200 should have fixed this issue. Closing.

[2019-07-11 09:35] #200 closed

[2019-07-11 09:36] mmcky commented on #219
@AakashGfude can we add a filter to the `coverage` report generator to skip files which fit a set of patterns such as `index*`. We should supply this as an option: `jupyter_coverage_skip = []`

[2019-07-13 05:14] mmcky opened #507 "Issue with Compilation on master branch - `_pdf_class`"
@AakashGfude the current `master` branch appears to have an issue with `_pdf_class` preventing it from executing and compiling the lectures. I am not sure why `pdf_class` is on the master branch as `pdf` branch hasn't been merged yet. It must have snuck in on another commit.

@AakashGfude can you look at this with priority over other tasks. Thanks!

The error is:

[code]

[2019-07-13 09:09] AakashGfude commented on #507
Hi @mmcky . I checked the master branch of `sphinxcontrib-jupyter` , I don't get this error and not able to see the `pdf_class` in there. Can you double check once at your end for any branch anomaly. Thanks.

[2019-07-13 23:40] mmcky commented on #507
thanks @AakashGfude -- it is happening in the Docker environment. I will try and take a closer look at the Docker specification.

[2019-07-14 00:09] mmcky commented on #507
@AakashGfude I think it might be because `Docker` isn't fully self contained as you mentioned. I had the `make-pdf` branch checked out on my local machine. That might be what happened.

[2019-07-16 02:41] mmcky commented on #507
I am closing this as a non-reproducible error. `Docker` approach is changing to be self contained.

[2019-07-16 02:41] #507 closed

[2019-07-16 03:10] mmcky opened #512 "ENH: Enable Travis Cache to Test CI for lectures?"
It might be possible to cache the `sphinx` repo in a travis cache which could enable cached building of the `lectures-source-py`. This might enable `CI` for lectures with sync to `preview` for viewing PR results

https://docs.travis-ci.com/user/caching/

[2019-07-19 01:16] mmcky commented on #313
Another library to consider would be `xarray`. I haven't used it much myself but it would be nice to take a closer look as it is becoming a more important foundational library.

[2019-07-19 05:46] mmcky opened #515 "BUG: Lecture `sci_libs` lecture with `numba=0.44.1`"
`numba` strikes again! With `numba=0.44.1` the `sci_libs` library is failing for `compute_series` example in `Exercise 1`:

<img width="1225" alt="image" src="https://user-images.githubusercontent.com/8263752/61512107-42fac080-aa3c-11e9-8df0-7e49d92cff2d.png">

[code]

[2019-07-19 06:43] mmcky opened #517 "DIS: Is ``jupyter_image_urlpath`` confined to ``jupyter_download_nb`` option?"
Investigate if ``jupyter_image_urlpath`` is confined to ``jupyter_download_nb``. I think the ``html`` source ``ipynb`` still make use of this prefix when generating the html rather than ``relative`` references

https://github.com/QuantEcon/lecture-source-py/blob/13b6b7df26461789666fa12dcd8cf933e55dba0d/Makefile#L50

[2019-07-19 09:05] jstac commented on #313
Sounds good.  We just need use cases, I guess.

[2019-07-20 11:44] AnjuJoon commented on #502
all the checks for full stops are done so closing this issue.

[2019-07-20 11:44] #502 closed

[2019-07-21 07:46] jstac commented on #515
Hmmm, this is a weird one.  I get the same error after `conda install numba=0.44`.

I also get an error when I try to execute any block with `%%cython` cell magic.  The error message is `
LinkError: command 'gcc' failed with exit status 1`.

I have `gcc` installed.  @AnjuJoon or @shizejin, might either of you have time to try to get to the bottom of these problems and make recommendations?

Also,

[2019-07-21 15:06] shizejin commented on #515
Hi @mmcky @jstac, I got the same error and I could solve it by replacing `int` with `np.int32` or `np.int64`. I agree that this is weird since `int` should be supported by `jitclass`. I am not sure if they stop supporting it or this is a bug.

@jstac The `%%cython` cell magic seems to be working on my machine.

I will look into these more tomorrow.

[2019-07-22 00:16] jstac commented on #515
Thanks @shizejin.

Regarding Numba, I see that 0.45 is out: http://numba.pydata.org/numba-doc/latest/release-notes.html

 It might be worth testing with 0.45 and then [posting an issue](https://github.com/numba/numba/issues) about this problem with a minimal example if it our code still fails.

(Even if the bug is intentional, this seems like poor behavior.  It would be better if Numba defaulted t

[2019-07-22 07:23] shizejin commented on #515
Hi @jstac, I found discussion about the problem we are having here numba/numba#4315. It is a requested feature (I don't know how did it work for versions before 0.44.0...), and currently the most natural way to solve this is to replace `np.int` with `np.int_`, which I have tested that actually works for our example.

[2019-07-22 10:59] mmcky opened #525 "FIX: Linkchecker returns some broken links"
[linkcheck-python-broken-lecture-source-py.txt](https://github.com/QuantEcon/lecture-source-py/files/3416906/linkcheck-python-broken-lecture-source-py.txt)

[2019-07-25 05:30] #515 closed

[2019-07-26 10:41] mmcky opened #536 "Most recent lectures require preamble installs to run on Google Colab"
We need to update:

1. `tax_smoothing_1`
1. `tax_smoothing_2`
1. `tax_smoothing_3`

with

`pip install quantecon` cell blocks.

[2019-07-26 19:57] jstac commented on #536
Well spotted, thanks @mmcky !

@AnjuJoon, could you please address this (and try to remember to add in future)?

It would be great if we had a test for successful colab execution, although I can't think of any way to do it...   Perhaps it's worth opening an issue, @mmcky , as to the need for such a test if we can work out a good way?

[2019-07-26 19:58] jstac commented on #536
@AnjuJoon Please cancel that request --- I just saw #537

[2019-07-26 20:07] jstac opened #539 "Numba error in PDFs"
Please see the `TypingError` on page 12 of

https://lectures.quantecon.org/_downloads/pdf/py/optgrowth.pdf

The issue will be the version of Numba on @AnjuJoon 's machine is different to that constructing the website.  I guess the best solution would be to build PDFs on the same machine.

CC @AnjuJoon @mmcky

[2019-07-27 04:08] AnjuJoon commented on #539
@mmcky @jstac Is there a way to change the version of Numba on my machine?

[2019-07-27 07:41] mmcky commented on #539
Hi Anju -- you could run:

conda install numba=0.44.1

to upgrade to next version after the default in Anaconda

On Sat, Jul 27, 2019 at 2:08 PM Anju Joon <notifications@github.com> wrote:

[2019-07-27 11:42] AnjuJoon commented on #539
Thankyou so much @mmcky. Running this solved the problem.

Should I generate new pdfs free from Numba errors?

[2019-07-27 16:28] mmcky commented on #539
Thanks Anju. That would be great.

Sent from my phone

[2019-07-27 17:06] AnjuJoon commented on #536
@jstac Sure, I will remember that (missing that in new lectures was a big blunder from my side :( Won't happen in future)

[2019-07-27 23:32] mmcky commented on #536
This has been fixed in #537

[2019-07-27 23:32] #536 closed

[2019-08-09 04:20] mmcky opened #543 "FEAT: Add HTML deployment via Travis"
It would be nice to have PR's auto-deploy `html` once ready to be merged. Ideally the workflow would be:

1. Submit a PR
1. `travis` builds the changed RST files in the PR, deploys to a preview `s3` bucket, and writes a comment on the PR (with link the preview)
1. `travis` deploys to the changed pages to the live site on `merge`

Reading the docs suggest this is all possible and below are some res

[2019-08-09 05:40] mmcky commented on #501
this is no longer an issue on the latest `build`. Closing.

[2019-08-09 05:40] #501 closed

[2019-08-09 06:07] #525 closed

[2019-08-12 10:20] AnjuJoon opened #550 "Error while executing the notebooks"
@mmcky @AakashGfude when I am executing all the notebooks I am receiving these errors.

<img width="1440" alt="Screenshot 2019-08-12 at 3 47 35 PM" src="https://user-images.githubusercontent.com/50222412/62858766-db712180-bd18-11e9-88b6-76a1cc8f7d3b.png">

[2019-08-12 11:18] AnjuJoon commented on #550
@AakashGfude  after updating sphinxcontrib-jupyter, I executed the command - "make website parallel=2" in my terminal but again the following error occurred
<img width="1440" alt="Screenshot 2019-08-12 at 4 44 59 PM" src="https://user-images.githubusercontent.com/50222412/62861400-fe9fcf00-bd20-11e9-8ae5-8c3390611539.png">
:

[2019-08-12 12:43] AakashGfude commented on #550
@AnjuJoon Thank you for the detailed error. 'Too many open files' is something new. Will keep in touch with you while tackling this.

[2019-08-12 22:14] AnjuJoon commented on #550
@AakashGfude Thanks!

[2019-08-13 10:54] mmcky opened #551 "[multiplicative functionals] issue with execution"
The last run of the `master` branch is showing issues with `multiplicative_functionals` lecture

http://preview-lectures.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/py/multiplicative_functionals.html

it appears there are some missing imports due to: https://github.com/QuantEcon/lecture-source-py/commit/4a13bf3f74430e988f0240e8d72050f6404667ff

[2019-08-13 10:57] mmcky commented on #551
- [ ] imports need to be added similar to `additive_functionals` lecture now they have been removed from the underlying `py` file.

[2019-08-13 10:58] AnjuJoon commented on #551
@mmcky just working on this now. Will let you know once done.

[2019-08-13 18:23] jstac commented on #313
Perhaps we should drop Cython from this lecture and just recommend that our users stick to Numba.

It's caused execution errors on various machines and it's probably worse on Windows (for our users).

[2019-08-13 20:46] #551 closed

[2019-08-13 23:45] mmcky commented on #313
hey @jstac I think this is a good idea, particularly given a large number of users are on windows. This is an excellent point and not well tested.